Repository opentibiabr/canary, pull requests merged in 2021-08, with the labels that each got.

#6 Rope fix
  data/global.lua
  data/scripts/lib/actions.lua
Labels: data

#21 New spells functions and others fixes/improvements
  src/creatures/combat/combat.cpp
  src/creatures/combat/spells.cpp
  src/creatures/combat/spells.h
  src/game/game.cpp
  src/lua/functions/core/game/lua_enums.hpp
  src/lua/functions/creatures/combat/spell_functions.cpp
  src/lua/functions/creatures/combat/spell_functions.hpp
  src/server/signals.cpp
  src/utils/utils_definitions.hpp
Labels: source

#22 [OTBR compatibility] Factions source code, pulled from: opentibiabr/otservbr-global#2334
  data/scripts/lib/register_monster_type.lua
  src/creatures/combat/combat.cpp
  src/creatures/creature.h
  src/creatures/monsters/monster.cpp
  src/creatures/monsters/monster.h
  src/creatures/monsters/monsters.h
  src/creatures/players/player.h
  src/game/game_definitions.hpp
  src/lua/functions/core/game/lua_enums.hpp
  src/lua/functions/creatures/monster/monster_type_functions.cpp
  src/lua/functions/creatures/monster/monster_type_functions.hpp
Labels: source, data

#11 Added the vocation base id and the functions to manage it instead of the "client id"
  data/XML/vocations.xml
  data/lib/tables/vocation.lua
  data/modules/scripts/daily_reward/daily_reward.lua
  data/scripts/actions/other/potions.lua
  src/creatures/players/vocations/vocation.cpp
  src/creatures/players/vocations/vocation.h
  src/lua/functions/creatures/player/vocation_functions.cpp
  src/lua/functions/creatures/player/vocation_functions.hpp
Labels: source, data
