Repository opentibiabr/canary, pull requests merged in 2021-11, with the labels that each got.

#15 Fix frag time
  config.lua.dist
  src/config/configmanager.cpp
Labels: source

#24 Fix monster loot items stages display on bestiary
  src/io/iobestiary.cpp
  src/server/network/protocol/protocolgame.cpp
Labels: source

#47 Remove definition of "ITEM_TYPE_MAGICFIELD" from items.xml "field" tag
  src/items/items.cpp
Labels: source

#27 Fix stored regeneration condition not using updated vocation values
  src/creatures/players/player.cpp
  src/creatures/players/player.h
Labels: source

#132 [Market] Add pointers to check if container and item is nullptr on "sendMarketEnter"
  src/server/network/protocol/protocolgame.cpp
Labels: source

#135 Better handling on create summon talkaction and fix summon icon
  data/monster/familiars/druid_familiar.lua
  data/monster/familiars/knight_familiar.lua
  data/monster/familiars/paladin_familiar.lua
  data/monster/familiars/sorcerer_familiar.lua
  data/scripts/spells/attack/attack_apprentice's_strike.lua
  data/scripts/spells/attack/attack_berserk.lua
  data/scripts/spells/attack/attack_energy_beam.lua
  data/scripts/spells/attack/attack_energy_strike.lua
  data/scripts/spells/attack/attack_great_energy_beam.lua
  data/scripts/spells/attack/attack_groundshaker.lua
  data/scripts/spells/attack/attack_hells_core.lua
  data/scripts/spells/attack/attack_ice_strike.lua
  data/scripts/spells/attack/attack_practice_fire_wave.lua
  data/scripts/spells/attack/attack_terra strike.lua
  data/scripts/spells/attack/attack_whirlwind_throw.lua
  data/scripts/spells/familiars/druid_familiar.lua
  data/scripts/spells/familiars/knight_familiar.lua
  data/scripts/spells/familiars/paladin_familiar.lua
  data/scripts/spells/familiars/sorcerer_familiar.lua
  data/scripts/spells/healing/healing_cure_poison.lua
  data/scripts/spells/healing/healing_intense_healing.lua
  data/scripts/spells/healing/healing_light_healing.lua
  data/scripts/spells/healing/healing_practice_healing.lua
  data/scripts/spells/healing/healing_ultimate_healing.lua
  data/scripts/spells/monster/summon_challenge.lua
  data/scripts/spells/party/party_enchant.lua
  data/scripts/spells/party/party_heal.lua
  data/scripts/spells/party/party_protect.lua
  data/scripts/spells/party/party_train.lua
  data/scripts/spells/rune/rune_practice_magic_missile.lua
  data/scripts/spells/rune/rune_sudden_death.lua
  data/scripts/spells/support/support_creature_illusion.lua
  data/scripts/spells/support/support_haste.lua
  data/scripts/spells/support/support_strong_haste.lua
  data/scripts/spells/support/support_summon_creature.lua
  data/scripts/talkactions/god/create_summon.lua
Labels: data

#136 Fix potential crash in Player::getClientIcons
  src/creatures/players/player.cpp
Labels: source

#144 Fix backpacks positions on login
  src/creatures/players/player.cpp
  src/creatures/players/player.h
  src/io/iologindata.cpp
  src/server/network/protocol/protocolgame.cpp
Labels: Type: Enhancement, source

#149 Fix monster retarget chance
  src/creatures/monsters/monster.cpp
  src/creatures/monsters/monsters.cpp
  src/creatures/monsters/monsters.h
  src/lua/functions/creatures/monster/monster_type_functions.cpp
Labels: Review: Completed, source, Status: Completed, Test: Completed

#156 Fixed crash generated by access "player" without checking if is nullpointer
  src/game/game.cpp
Labels: source

#163 Fix vcpkg/libmariadb package
  src/CMakeLists.txt
  vcpkg.json
Labels: source

#150 [Feature] Add imbuement system and somes fixes
  data/XML/imbuements.xml
  data/events/scripts/player.lua
  data/lib/core/functions/functions.lua
  data/lib/core/functions/player.lua
  data/lib/core/imbuements.lua
  data/lib/core/storages.lua
  data/modules/scripts/blessings/blessings.lua
  data/modules/scripts/prey_system/prey.lua
  data/npclib/npc_system/custom_modules.lua
  data/npclib/npc_system/modules.lua
  data/scripts/talkactions/player/buy_house.lua
  src/creatures/players/imbuements/imbuements.cpp
  src/creatures/players/imbuements/imbuements.h
  src/game/game.cpp
Labels: source, data

#140 Decouple parses item attributes in it own file
  data/events/scripts/player.lua
  data/global.lua
  data/items/items.xml
  src/CMakeLists.txt
  src/items/functions/item_parse.cpp
  src/items/functions/item_parse.hpp
  src/items/item.cpp
  src/items/item.h
  src/items/items.cpp
  src/items/items.h
  src/items/items_definitions.hpp
Labels: source, data
