Repository opentibiabr/canary, pull requests merged in 2021-09, with the labels that each got.

#10 Gain stamina from training and pz
  config.lua.dist
  data/events/events.xml
  data/events/scripts/creature.lua
  data/events/scripts/player.lua
  data/global.lua
  src/config/config_definitions.hpp
  src/config/configmanager.cpp
  src/creatures/players/player.cpp
  src/lua/creature/events.cpp
  src/lua/creature/events.h
  src/lua/functions/core/game/config_functions.hpp
Labels: source, data

#34 Prevents the loop of player from pushing another player
  config.lua.dist
  src/config/config_definitions.hpp
  src/config/configmanager.cpp
  src/creatures/players/player.cpp
  src/game/game.cpp
  src/lua/functions/core/game/config_functions.hpp
Labels: source

#33 Disable the force close button (ensure a secure close)
  src/otserv.cpp
  src/utils/definitions.h
Labels: source

#8 Door fix
  data/lib/tables/door.lua
Labels: data

#14 Fix supply stash exploit
  src/server/network/protocol/protocolgame.cpp
Labels: source

#12 Fix hungry conditions
  src/server/network/protocol/protocolgame.cpp
Labels: source

#17 Fix item charge description in shop
  src/items/item.cpp
Labels: source

#20 Fix restart prey after kick from beds by owner in house
  src/io/iologindata.cpp
Labels: source

#23 Fix all random crashes generated by protocolgame.cpp
  src/game/game.cpp
  src/game/game.h
  src/lua/modules/modules.cpp
  src/lua/modules/modules.h
  src/server/network/protocol/protocolgame.cpp
  src/server/network/protocol/protocolgame.h
Labels: source

#40 Fix wrong handling of spectator crashes when using "talk" from npcs menu
  src/game/game.cpp
Labels: source

#36 Fix summons and familiars bug
  data/scripts/talkactions/god/create_summon.lua
  src/creatures/creature.cpp
  src/creatures/creature.h
  src/creatures/creatures_definitions.hpp
  src/creatures/monsters/monster.cpp
  src/creatures/npcs/spawns/spawn_npc.cpp
  src/game/game.cpp
  src/lua/functions/core/game/game_functions.cpp
  src/lua/functions/core/game/lua_enums.hpp
  src/lua/functions/creatures/creature_functions.cpp
  src/lua/functions/creatures/creature_functions.hpp
  src/server/network/protocol/protocolgame.cpp
Labels: source, data

#48 Add jiddo npc lib
  data/npclib/npc.lua
  data/npclib/npc_system/custom_modules.lua
  data/npclib/npc_system/keyword_handler.lua
  data/npclib/npc_system/modules.lua
  data/npclib/npc_system/npc_handler.lua
  data/npclib/npc_system/npc_system.lua
Labels: data

#44 Better handling of the Game::checkCreatures function
  src/game/game.cpp
  src/game/game.h
Labels: source

#51 Add nullptr pointers (fix sonar checks)
  .github/workflows/analysis-codeql.yml
  src/creatures/combat/combat.cpp
  src/creatures/monsters/monster.cpp
  src/database/databasetasks.cpp
  src/database/databasetasks.h
  src/game/game.cpp
  src/lua/scripts/scripts.cpp
  src/server/network/protocol/protocolgame.cpp
Labels: source

#49 Add pointers to check if player or charm is nullptr
  src/io/iobestiary.cpp
Labels: source

#50 Fix Creature:onTargetCombat(target) function and stamina gain event
  data/events/scripts/creature.lua
  data/items/items.xml
  data/lib/core/functions/creature.lua
Labels: data
