Repository opentibiabr/canary, pull requests merged in 2021-12, with the labels that each got.

#166 Added name for no longer unknown inspection type
  src/server/server_definitions.hpp
Labels: source

#165 Fixed sale in the market to create offer by stash and adjust indentation to tab 4
  src/game/game.cpp
  src/io/iomarket.cpp
Labels: source

#168 Added "if" check to verify if tables are null on reload talkaction
  data/global.lua
Labels: data

#173 Register news items and movements/weapons unscripted
  data/items/items.xml
  data/scripts/movements/unscripted_movements.lua
  data/scripts/weapons/unscripted_weapons.lua
Labels: data

#164 [Enhancement] Rework of the imbuement system and conversion to c++
  config.lua.dist
  data/XML/imbuements.xml
  data/events/events.xml
  data/events/scripts/player.lua
  data/items/items.xml
  data/lib/core/imbuements.lua
  data/lib/core/load.lua
  data/scripts/actions/imbuement_shrine.lua
  data/scripts/lib/register_movements.lua
  src/config/config_definitions.hpp
  src/config/configmanager.cpp
  src/creatures/combat/combat.cpp
  src/creatures/combat/combat.h
  src/creatures/players/imbuements/imbuements.cpp
  src/creatures/players/imbuements/imbuements.h
  src/creatures/players/player.cpp
  src/creatures/players/player.h
  src/game/game.cpp
  src/game/game.h
  src/io/iologindata.cpp
  src/items/functions/item_parse.cpp
  src/items/functions/item_parse.hpp
  src/items/item.cpp
  src/items/item.h
  src/items/items.cpp
  src/items/items.h
  src/items/items_definitions.hpp
  src/lua/creature/events.cpp
  src/lua/creature/events.h
  src/lua/creature/movement.cpp
  src/lua/functions/core/game/config_functions.hpp
  src/lua/functions/core/game/lua_enums.hpp
  src/lua/functions/creatures/player/player_functions.cpp
  src/lua/functions/creatures/player/player_functions.hpp
  src/lua/functions/items/imbuement_functions.cpp
  src/lua/functions/items/item_functions.cpp
  src/lua/functions/items/item_functions.hpp
  src/lua/functions/items/item_type_functions.cpp
  src/lua/functions/items/item_type_functions.hpp
  src/server/network/message/networkmessage.h
  src/server/network/protocol/protocolgame.cpp
  src/server/network/protocol/protocolgame.h
  src/utils/const.hpp
  src/utils/tools.cpp
  src/utils/tools.h
Labels: source, data
