Repository opentibiabr/canary, pull requests merged in 2021-05, with the labels that each got.

#15 feat: minimal standalone login server
  docker/docker-compose.yml
  docker/login/Dockerfile
Labels: docker

#16 Fix empty tile walk crash
  src/creatures/creature.cpp
Labels: source

#19 Fixed crash when logging into debug build
  src/creatures/combat/spells.cpp
Labels: source

#24 Add missing door id 6894/6895 to the door table
  data/lib/tables/door.lua
Labels: data

#26 Lucas/docker improvements
  docker/docker-compose.yml
  docker/server/Dockerfile
Labels: docker

#35 Fix schema sql
  docker/test-server.sh
  schema.sql
Labels: docker
