Repository opentibiabr/canary, pull requests merged in 2022-12, with the labels that each got.

#652 Fix maxViewportY to the correct value
  src/map/map.h
Labels: Area: Source

#490 Fix Incorrect Cheese Id
  data-canary/scripts/actions/other/food.lua
Labels: Area: Datapack Global

#552 Fix Cap Display for GM/GODs
  src/server/network/protocol/protocolgame.cpp
Labels: Area: Source

#651 Fix experience rate stages
  data-canary/scripts/creaturescripts/advance_save.lua
  data-canary/scripts/creaturescripts/login.lua
  data-otservbr-global/scripts/creaturescripts/others/advance_save.lua
  data-otservbr-global/scripts/creaturescripts/others/login.lua
  data-otservbr-global/scripts/talkactions/player/server_info.lua
  data/events/scripts/player.lua
  data/libs/functions/player.lua
Labels: Area: Datapack

#645 Added parse resource balance byte
  src/server/network/protocol/protocolgame.cpp
  src/server/network/protocol/protocolgame.h
Labels: Area: Source

#620 Fix for not remove items with decay added from map
  src/game/game.cpp
  src/items/item.h
Labels: Area: Source

#625 [Fix] Of random crashes generated by protocolgame.cpp
  src/server/network/protocol/protocolgame.cpp
  src/server/network/protocol/protocolgame.h
Labels: Priority: Critical, Area: Source, Status: Pending Test

#568 Fix vocations damage (meleeDamage and distDamage from xml)
  src/items/weapons/weapons.cpp
Labels: Area: Source

#481 [Fix] Skulls duration
  src/creatures/players/player.cpp
Labels: Priority: Medium, Area: Source, Status: Pending Review, Status: Pending Test

#561 Fix Party Messages
  src/creatures/players/grouping/party.cpp
  src/creatures/players/grouping/party.h
Labels: Area: Source

#547 Set "/reload" talkaction be enabled/disabled by config.lua
  config.lua.dist
  data-canary/scripts/talkactions/god/reload.lua
  data-otservbr-global/scripts/talkactions/god/reload.lua
  src/config/config_definitions.hpp
  src/config/configmanager.cpp
  src/lua/functions/core/game/config_functions.cpp
Labels: Area: Source

#506 Add DB check on docker server startup
  docker/server/start.sh
Labels: Area: Docker, Stale

#471 Fix error creating an amulet with charges
  data-canary/scripts/talkactions/god/create_item.lua
  data-otservbr-global/scripts/talkactions/god/create_item.lua
Labels: Area: Datapack Global

#663 Fixed for not send log of internalDecayItem failed
  src/items/decay/decay.cpp
Labels: Area: Source

#668 Fix value imbuements
  data-otservbr-global/scripts/globalevents/others/global_server_save.lua
  data/XML/imbuements.xml
Labels: Area: Datapack Global, Area: Datapack Core, Area: Datapack

#666 Fixed daily reward serverTimeThreshold
  data/modules/scripts/daily_reward/daily_reward.lua
Labels: Area: Datapack

#664 Prevent crash after server save
  src/game/game.cpp
Labels: Area: Source

#484 [Bug] Fixes some things and miscellaneous adjusts
  data-canary/scripts/actions/tools/gold_converter.lua
  data-canary/scripts/actions/tools/magic_gold_converter.lua
  data-canary/scripts/creaturescripts/free_quest.lua
  data/events/scripts/monster.lua
  data/events/scripts/player.lua
  data/global.lua
  data/items/items.xml
  data/modules/scripts/cults_of_tibia/death.lua
  data/modules/scripts/gamestore/gamestore.lua
Labels: Type: Enhancement, Priority: Low, Status: Pending Review, Status: Pending Test, Area: Datapack Canary, Area: Datapack Core, Area: Datapack

#644 [Bug] fixes some prey and taskhunting fixes
  data/events/scripts/monster.lua
  data/libs/functions/container.lua
  data/modules/scripts/gamestore/gamestore.lua
  data/modules/scripts/gamestore/init.lua
  src/creatures/creature.h
  src/creatures/players/player.cpp
  src/io/iologindata.cpp
Labels: Area: Source, Status: Pending Review, Status: Pending Test, Area: Datapack Core, Area: Datapack

#649 [Bug] fixes charm adrenaline
  data-canary/scripts/bestiary/charms.lua
  data-canary/scripts/runes/paralyze_rune.lua
  data-otservbr-global/scripts/bestiary/charms.lua
  data-otservbr-global/scripts/spells/runes/paralyze_rune.lua
  src/io/iobestiary.cpp
Labels: Area: Source

#669 [Enhancement] reorganize reload functions and extract in an own class on cpp
  data-canary/npclib/load.lua
  data-canary/npclib/npc.lua
  data-canary/npclib/npc_system/modules.lua
  data-canary/npclib/npc_system/npc_handler.lua
  data-canary/scripts/talkactions/god/reload.lua
  data-otservbr-global/npclib/load.lua
  data-otservbr-global/npclib/npc_system/bank_system.lua
  data-otservbr-global/npclib/npc_system/custom_modules.lua
  data-otservbr-global/npclib/npc_system/keyword_handler.lua
  data-otservbr-global/scripts/talkactions/god/reload.lua
  data/npclib/load.lua
  data/npclib/npc.lua
  data/npclib/npc_system/bank_system.lua
  data/npclib/npc_system/custom_modules.lua
  data/npclib/npc_system/keyword_handler.lua
  data/npclib/npc_system/modules.lua
  data/npclib/npc_system/npc_handler.lua
  data/scripts/talkactions.lua
  src/CMakeLists.txt
  src/creatures/combat/spells.cpp
  src/creatures/combat/spells.h
  src/creatures/monsters/monster.cpp
  src/creatures/monsters/monster.h
  src/creatures/npcs/npc.cpp
  src/creatures/npcs/npc.h
  src/game/functions/game_reload.cpp
  src/game/functions/game_reload.hpp
  src/game/game.cpp
  src/game/game.h
  src/items/weapons/weapons.cpp
  src/items/weapons/weapons.h
  src/lua/creature/actions.cpp
  src/lua/creature/actions.h
  src/lua/creature/creatureevent.cpp
  src/lua/creature/creatureevent.h
  src/lua/creature/talkaction.cpp
  src/lua/creature/talkaction.h
  src/lua/functions/core/game/game_functions.cpp
  src/lua/functions/core/game/lua_enums.cpp
  src/lua/global/globalevent.cpp
  src/lua/global/globalevent.h
  src/lua/scripts/scripts.cpp
  src/lua/scripts/scripts.h
  src/otserv.cpp
  src/pch.hpp
  src/utils/utils_definitions.hpp
  vcpkg.json
Labels: Area: Source, Area: Datapack Global, Area: Datapack Canary, Area: Datapack Core

#662 [Enhancement] change project to c++ 20
  CMakeLists.txt
  sonar-project.properties
  src/CMakeLists.txt
  src/database/database.cpp
  src/io/iomarket.cpp
  src/server/network/message/outputmessage.cpp
  src/utils/lockfree.h
  src/utils/tools.cpp
  src/utils/tools.h
Labels: Area: Source

#676 [Bug] fixes creature division of step speed
  data-otservbr-global/npc/....lua
  data-otservbr-global/scripts/movements/quests/wrath_of_the_emperor/crate.lua
  data/XML/imbuements.xml
  data/items/items.xml
  src/creatures/creature.cpp
  src/creatures/creature.h
  src/creatures/npcs/npcs.h
  src/creatures/players/player.h
  src/io/iologindata.cpp
  src/io/ioprey.cpp
  src/items/item.cpp
  src/lua/functions/creatures/player/player_functions.cpp
  src/lua/functions/creatures/player/player_functions.hpp
  src/server/network/protocol/protocolgame.cpp
Labels: Area: Source, Area: Datapack Global, Area: Datapack Core

#679 Remove classicEquipmentSlots
  README.md
  config.lua.dist
  src/config/config_definitions.hpp
  src/config/configmanager.cpp
  src/creatures/players/player.cpp
  src/lua/functions/core/game/config_functions.cpp
  src/lua/functions/creatures/player/player_functions.cpp
Labels: Area: Source

#680 Change server to the new release version 2.6.0
  src/core.hpp
Labels: Area: Source

#686 [Bug] prevent player move item with the imbuement window opened
  src/game/game.cpp
Labels: Area: Source

#684 Fix `getPreyLootPercentage`
  data/events/scripts/monster.lua
  src/lua/functions/creatures/player/player_functions.cpp
Labels: Area: Source, Area: Datapack Core

#689 Fix prey loot message
  data/events/scripts/monster.lua
Labels: Area: Datapack Core

#688 Fix npc get only valid direction
  src/creatures/npcs/npc.cpp
  src/creatures/npcs/npc.h
Labels: Area: Source

#691 Fix !buyhouse talkaction
  data-canary/scripts/talkactions/player/buy_house.lua
  data-otservbr-global/scripts/talkactions/player/buy_house.lua
Labels: Area: Datapack Global, Area: Datapack Canary

#682 Fix `assassin`'s `monster.Bestiary.toKill` value
  data-canary/monster/humans/assassin.lua
  data-otservbr-global/monster/humans/assassin.lua
Labels: Area: Datapack Global, Area: Datapack Canary

#707 [Enhancement] added the pre compiled header to the build system
  src/CMakeLists.txt
Labels: Area: Source

#701 [Bug] rework in subactions from gamestore
  data/modules/scripts/gamestore/gamestore.lua
  data/modules/scripts/gamestore/init.lua
Labels: Area: Datapack Core

#710 [Bug] fixes for only monsters with valid race id can be forgeable
  data-canary/scripts/talkactions/god/create_monster.lua
  data-otservbr-global/scripts/talkactions/god/create_monster.lua
  data/libs/functions/functions.lua
  data/libs/functions/monster.lua
  src/creatures/monsters/monster.h
  src/lua/functions/creatures/monster/monster_functions.cpp
  src/lua/functions/creatures/monster/monster_functions.hpp
Labels: Area: Source, Area: Datapack Global, Area: Datapack Canary, Area: Datapack Core

#709 Adding verification to prevent crash
  src/creatures/players/player.cpp
Labels: Area: Source

#712 [Bug] fixes reward chest unique loot
  data-canary/scripts/reward_chest/boss_death.lua
  data/libs/reward_boss/monster.lua
Labels: Area: Datapack Canary, Area: Datapack Core

#721 [Enhancement] replace boost::asio with asio, fix some include and CMakeList.txt
  src/CMakeLists.txt
  src/creatures/appearance/mounts/mounts.cpp
  src/creatures/appearance/mounts/mounts.h
  src/game/scheduling/events_scheduler.hpp
  src/items/items.cpp
  src/lua/scripts/luajit_sync.hpp
  src/lua/scripts/scripts.cpp
  src/map/map.cpp
  src/pch.hpp
  src/security/rsa.cpp
  src/security/rsa.h
  src/server/network/connection/connection.cpp
  src/server/network/connection/connection.h
  src/server/server.cpp
  src/server/server.h
  src/server/signals.cpp
  src/server/signals.h
  src/utils/definitions.h
  src/utils/pugicast.h
  src/utils/thread_holder_base.h
  src/utils/tools.cpp
  vcpkg.json
Labels: Area: Source

#723 [Enhancement] change boost::iostreams::mapped_file_source by mio library
  src/CMakeLists.txt
  src/io/fileloader.h
  src/io/iomap.cpp
  src/pch.hpp
  vcpkg.json
Labels: Area: Source

#722 [Enhancement] remove boost-variant
  src/game/game.cpp
  src/items/item.cpp
  src/items/item.h
  src/lua/functions/items/item_functions.cpp
  src/map/house/house.cpp
  src/pch.hpp
  src/server/network/protocol/protocolgame.cpp
  vcpkg.json
Labels: Area: Source

#727 [Bug] fixes custom attribute serialize function
  src/items/item.cpp
  src/items/item.h
Labels: Area: Source

#724 [Enhancement] remove boost lexical and algorithm
  CMakeLists.txt
  src/database/database.h
  src/io/iologindata.cpp
  src/items/item.cpp
  src/items/tile.cpp
  src/lua/functions/items/item_functions.cpp
  src/lua/scripts/lua_environment.cpp
  src/otserv.cpp
  src/pch.hpp
  src/server/network/protocol/protocolgame.cpp
  src/utils/pugicast.h
  src/utils/tools.cpp
  vcpkg.json
Labels: Area: Source

#728 [Bug] fixes include lua jit in pch.hpp
  src/pch.hpp
Labels: Area: Source

#726 [Enhancement] refactored code and fixes compilation warn from Ubuntu 23.04
  src/lua/creature/actions.cpp
  src/lua/creature/movement.cpp
  src/lua/creature/movement.h
Labels: Area: Source

#731 [Bug] fixes global result table to Result
  data-canary/scripts/creaturescripts/player_death.lua
  data-canary/scripts/globalevents/startup.lua
  data-canary/scripts/talkactions/god/ban.lua
  data-canary/scripts/talkactions/god/gold_highscore.lua
  data-canary/scripts/talkactions/god/ip_ban.lua
  data-canary/scripts/talkactions/god/unban.lua
  data-otservbr-global/lib/compat/compat.lua
  data-otservbr-global/npc/hireling.lua
  data-otservbr-global/scripts/actions/other/golden_outfit_memorial.lua
  data-otservbr-global/scripts/creaturescripts/others/login.lua
  data-otservbr-global/scripts/creaturescripts/others/player_death.lua
  data-otservbr-global/scripts/globalevents/others/check_inbox.lua
  data-otservbr-global/scripts/globalevents/others/startup.lua
  data-otservbr-global/scripts/talkactions/god/ban.lua
  data-otservbr-global/scripts/talkactions/god/gold_highscore.lua
  data-otservbr-global/scripts/talkactions/god/ip_ban.lua
  data-otservbr-global/scripts/talkactions/god/unban.lua
  data/libs/daily_reward/daily_reward.lua
  data/libs/functions/functions.lua
  data/libs/functions/game.lua
  data/libs/functions/player.lua
  data/libs/hireling_lib.lua
  data/libs/reward_boss/reward_boss.lua
  data/modules/scripts/daily_reward/daily_reward.lua
  data/modules/scripts/gamestore/init.lua
  data/npclib/npc_system/bank_system.lua
Labels: Area: Datapack Global, Area: Datapack Canary, Area: Datapack Core
