Repository opentibiabr/canary, pull requests merged in 2022-09, with the labels that each got.

#496 [Fix] Client debug on depot search (255+ items)
  src/creatures/players/player.cpp
Labels: Area: Source

#443 [Enhancement] Protocol update to 12.91
  config.lua.dist
  data/XML/mounts.xml
  data/XML/outfits.xml
  data/items/appearances.dat
  data/items/items.xml
  data/npc/canary.lua
  data/scripts/actions/other/decay_to.lua
  data/scripts/movements/unscripted_movements.lua
  data/scripts/weapons/unscripted_weapons.lua
  src/config/configmanager.cpp
  src/creatures/npcs/npc.cpp
  src/creatures/npcs/npc.h
  src/creatures/players/player.cpp
  src/creatures/players/player.h
  src/game/game.cpp
  src/game/game.h
  src/items/items.cpp
  src/items/items.h
  src/lua/functions/creatures/npc/npc_functions.cpp
  src/protobuf/appearances.pb.cc
  src/protobuf/appearances.pb.h
  src/protobuf/appearances.proto
  src/server/network/protocol/protocolgame.cpp
  src/utils/definitions.h
  src/utils/utils_definitions.hpp
Labels: Area: Source, Area: Datapack

#486 Add can combat to vocations xml
  data/XML/vocations.xml
  src/creatures/combat/combat.cpp
  src/creatures/players/vocations/vocation.cpp
  src/creatures/players/vocations/vocation.h
Labels: Area: Source, Area: Datapack, Stale

#483 [Fix] Erro convince creature rune
  data/scripts/runes/convince_creature.lua
Labels: Priority: Low, Area: Datapack, Status: Pending Review, Stale, Status: Pending Test
