Repository opentibiabr/canary, pull requests merged in 2022-11, with the labels that each got.

#554 [Enhancement] - Fix gha actions warnings
  .github/actions/action.yml
  .github/workflows/analysis-codacy.yml
  .github/workflows/analysis-codeql.yml
  .github/workflows/analysis-reviewdog.yml
  .github/workflows/analysis-sonarcloud.yml
  .github/workflows/build-docker.yml
  .github/workflows/build-ubuntu.yml
  .github/workflows/build-windows.yml
  .github/workflows/bump-version.yml
  .github/workflows/cron-stale.yml
  .github/workflows/tests-lua.yml
Labels: Priority: Low

#541 [Enhancement] Build using static library
  CMakePresets.json
  src/CMakeLists.txt
  src/otpch.cpp
Labels: Type: Enhancement, Priority: Medium, Area: Source, Status: Pending Review, Status: Pending Test

#562 Fixed is invited house message
  src/game/game.cpp
  src/map/house/housetile.cpp
Labels: Area: Source

#534 Fix Wrong Mensage When Attack from PZ.
  src/creatures/combat/combat.cpp
Labels: Area: Source

#558 Fix Look Runes
  src/items/item.cpp
Labels: Area: Source

#627 Fixed addition of money to player on selling item to one npc
  src/creatures/npcs/npc.cpp
Labels: Area: Source

#576 Added case of return not possible to getReturnMessage function
  src/utils/tools.cpp
Labels: Area: Source

#569 [FIX] - Bestiary kill counter lag
  src/creatures/players/player.h
Labels: Area: Source

#646 load custom datapack startup.lua if file exists
  data/global.lua
Labels: Area: Datapack

#647 Prey damage fixes
  src/creatures/combat/combat.cpp
Labels: Area: Source

#640 Support Extended View
  src/creatures/creature.cpp
  src/creatures/monsters/monsters.cpp
  src/creatures/npcs/npcs.cpp
  src/creatures/players/player.cpp
  src/game/game.cpp
  src/map/map.cpp
  src/map/map.h
  src/server/network/protocol/protocolgame.cpp
Labels: Type: Enhancement, Area: Source, Status: Pending Review, Status: Pending Test

#509 Fix `int32_t` in `player:setOfflineTrainingSkill`
  data-canary/migrations/0.lua
  data-canary/scripts/creaturescripts/offline_training.lua
  schema.sql
  src/creatures/creatures_definitions.hpp
  src/creatures/players/player.h
  src/database/database.cpp
  src/database/database.h
  src/game/game.cpp
  src/io/iologindata.cpp
  src/lua/functions/core/game/lua_enums.cpp
  src/lua/functions/creatures/player/player_functions.cpp
Labels: Area: Source

#650 Fix event scheduler folder
  src/lua/scripts/scripts.cpp
Labels: Area: Source
