Repository opentibiabr/canary, pull requests merged in 2022-06, with the labels that each got.

#391 [Enhancement] Changed rsa to use gmp lib instead of cryptopp
  .github/workflows/build-windows.yml
  cmake/FindCryptoPP.cmake
  cmake/FindGMP.cmake
  config.lua.dist
  docker/server/Dockerfile
  src/CMakeLists.txt
  src/config/config_definitions.hpp
  src/config/configmanager.cpp
  src/creatures/players/player.h
  src/otpch.h
  src/otserv.cpp
  src/security/rsa.cpp
  src/security/rsa.h
  src/security/xtea.cpp
  src/security/xtea.h
  src/server/network/connection/connection.cpp
  src/server/network/connection/connection.h
  src/server/network/message/networkmessage.cpp
  src/server/network/message/outputmessage.cpp
  src/server/network/message/outputmessage.h
  src/server/network/protocol/protocol.cpp
  src/server/network/protocol/protocol.h
  src/server/network/protocol/protocolgame.cpp
  src/server/network/protocol/protocollogin.cpp
  src/server/server.cpp
  src/server/server_definitions.hpp
  src/utils/const.hpp
  src/utils/simd.hpp
  vcpkg.json
Labels: Area: Source, Area: Docker

#403 Change luajit to install by vcpkg manifest
  .appveyor.yml
  .github/workflows/analysis-codeql.yml
  .github/workflows/analysis-reviewdog.yml
  .github/workflows/analysis-sonarcloud.yml
  .github/workflows/build-ubuntu.yml
  .github/workflows/build-windows.yml
  .github/workflows/tests-lua.yml
  README.md
  cmake/FindLua.cmake
  cmake/FindLuaJIT.cmake
  data/startup/others/bitwise_flags.lua
  docker/server/Dockerfile
  docker/test-server.sh
  src/CMakeLists.txt
  vcpkg.json
Labels: Area: Source, Area: Datapack, Area: Docker

#408 Fix unexpected behavior on connection send and disconnect
  src/server/network/protocol/protocol.h
Labels: Area: Source

#400 Fix magic wall and wild growth on retro-pvp and no-pvp logic
  src/creatures/combat/combat.cpp
Labels: Area: Source

#372 Improve monster loot log
  data/events/scripts/monster.lua
Labels: Area: Datapack

#385 [Fix] Few prey/task hunting fixes and improvements
  src/io/ioprey.cpp
  src/io/ioprey.h
  src/server/network/protocol/protocolgame.cpp
Labels: Area: Source

#414 Fix max network message size, solving debug client on message compression
  src/server/network/message/networkmessage.cpp
  src/server/network/protocol/protocol.cpp
Labels: Area: Source

#375 Fix null function on daily reward
  data/modules/scripts/daily_reward/daily_reward.lua
Labels: Area: Datapack

#423 Fix "nil item" on daily reward
  data/modules/scripts/daily_reward/daily_reward.lua
Labels: Area: Datapack

#396 Fix some npcs bugs and change behaviour
  data/npclib/npc.lua
  data/npclib/npc_system/bank_system.lua
  src/creatures/npcs/npc.cpp
  src/server/network/protocol/protocolgame.cpp
Labels: Area: Source, Area: Datapack

#365 Fix set teleport position talkaction for use in all teleport types
  data/scripts/talkactions/god/teleport_set_destination.lua
Labels: Area: Datapack, Stale
