Repository opentibiabr/canary, pull requests merged in 2022-01, with the labels that each got.

#54 [Enhancement] - Optimize decay
  data/items/items.xml
  src/CMakeLists.txt
  src/creatures/combat/combat.cpp
  src/creatures/creature.cpp
  src/creatures/players/player.cpp
  src/game/game.cpp
  src/game/game.h
  src/io/iologindata.cpp
  src/items/containers/container.cpp
  src/items/containers/container.h
  src/items/containers/depot/depotchest.h
  src/items/containers/depot/depotlocker.h
  src/items/containers/inbox/inbox.h
  src/items/decay/decay.cpp
  src/items/decay/decay.h
  src/items/functions/item_parse.cpp
  src/items/functions/item_parse.hpp
  src/items/item.cpp
  src/items/item.h
  src/items/items_definitions.hpp
  src/lua/creature/movement.cpp
  src/lua/functions/core/game/lua_enums.hpp
  src/lua/functions/items/item_functions.cpp
  src/utils/tools.cpp
Labels: source, data

#171 Fix market information
  src/game/game.cpp
Labels: source

#180 [Improvement] - rework on exercise weapons system
  config.lua.dist
  data/events/scripts/player.lua
  data/global.lua
  data/lib/tables/exercise_training.lua
  data/lib/tables/load.lua
  data/scripts/actions/other/exercise_training.lua
  data/scripts/creaturescripts/login.lua
  data/scripts/creaturescripts/logout.lua
  src/config/config_definitions.hpp
  src/config/configmanager.cpp
  src/creatures/creature.cpp
  src/creatures/players/player.cpp
  src/creatures/players/player.h
  src/game/game.cpp
  src/lua/functions/core/game/config_functions.hpp
  src/lua/functions/creatures/player/player_functions.cpp
  src/lua/functions/creatures/player/player_functions.hpp
  src/server/network/protocol/protocolgame.cpp
Labels: source, data

#181 Fix double remove money on create market offer
  src/game/game.cpp
Labels: source

#16 Add webhook expansion
  data/scripts/custom/discord_webhook.lua
  data/scripts/globalevents/server_save.lua
  data/scripts/globalevents/serversave.lua
  src/game/game.cpp
  src/lua/creature/raids.cpp
  src/lua/functions/core/network/webhook_functions.cpp
  src/otserv.cpp
  src/server/network/webhook/webhook.cpp
  src/server/network/webhook/webhook.h
Labels: source, data, Stale

#158 Check if player exist on useStamina function and fix drop loot script
  data/events/scripts/player.lua
  data/scripts/creaturescripts/drop_loot.lua
Labels: data, Stale

#182 Create familiars lib
  data/events/scripts/player.lua
  data/lib/core/storages.lua
  data/lib/tables/familiar.lua
  data/lib/tables/load.lua
  data/monster/azure_frog.lua
  data/monster/toad.lua
  data/scripts/creaturescripts/familiar/on_advance.lua
  data/scripts/creaturescripts/familiar/on_death.lua
  data/scripts/creaturescripts/familiar/on_login.lua
  data/scripts/globalevents/startup.lua
  data/scripts/lib/register_monster_type.lua
  data/scripts/spells/familiars/druid_familiar.lua
  data/scripts/spells/familiars/knight_familiar.lua
  data/scripts/spells/familiars/paladin_familiar.lua
  data/scripts/spells/familiars/sorcerer_familiar.lua
  src/creatures/creature.cpp
  src/creatures/monsters/monster.h
  src/creatures/monsters/monsters.cpp
  src/creatures/monsters/monsters.h
  src/creatures/players/player.cpp
  src/game/game.cpp
  src/items/tile.cpp
  src/lua/functions/creatures/monster/monster_type_functions.cpp
  src/lua/functions/creatures/monster/monster_type_functions.hpp
Labels: source, data

#185 Removed requirement of initial city (dawnport)
  data/lib/core/functions/player.lua
  data/scripts/creaturescripts/drop_loot.lua
Labels: data
