Repository opentibiabr/canary, pull requests merged in 2022-05, with the labels that each got.

#371 Fix typo on daily reward, from addItemId to addU16
  data/modules/scripts/daily_reward/daily_reward.lua
Labels: Area: Datapack

#363 Some small improvements to gha
  .github/workflows/analysis-codacy.yml
  .github/workflows/analysis-codeql.yml
  .github/workflows/build-docker.yml
  .github/workflows/build-ubuntu.yml
  .github/workflows/build-windows.yml
  CMakeLists.txt
  CMakePresets.json
  src/CMakeLists.txt
Labels: Area: Source

#376 [Fix] Item name register from appearances protobuf
  src/items/items.cpp
Labels: Area: Source

#368 [Fix] Removing unnecessary warn on item creation when id equal 0
  src/items/item.cpp
Labels: Area: Source

#380 [Fix] Protobuf error on server loading
  src/protobuf/appearances.proto
Labels: Area: Source

#388 Fix magic wall and wild growth rune bug
  data/items/items.xml
  data/scripts/runes/magic_wall.lua
  data/scripts/runes/wild_growth.lua
  src/items/functions/item_parse.cpp
  src/lua/functions/items/item_functions.cpp
  src/lua/functions/items/item_functions.hpp
Labels: Area: Source, Area: Datapack

#395 Fixing summon searching player target and icons update
  data/lib/core/functions/creature.lua
  data/scripts/actions/other/music.lua
  data/scripts/runes/animate_dead_rune.lua
  data/scripts/runes/convince_creature.lua
  src/creatures/creature.cpp
  src/creatures/creature.h
  src/creatures/monsters/monster.cpp
  src/game/game.cpp
  src/game/game.h
  src/lua/functions/core/game/game_functions.cpp
  src/lua/functions/creatures/creature_functions.cpp
  src/lua/functions/creatures/creature_functions.hpp
Labels: Area: Source, Area: Datapack

#389 Fixing monster type name overriding and somes improvements
  src/creatures/creature.h
  src/creatures/monsters/monster.h
  src/creatures/monsters/monsters.cpp
  src/creatures/monsters/monsters.h
  src/creatures/npcs/npc.h
  src/creatures/npcs/npcs.h
  src/creatures/players/player.h
  src/lua/functions/core/game/game_functions.cpp
  src/lua/functions/creatures/creature_functions.cpp
  src/lua/functions/creatures/creature_functions.hpp
  src/lua/functions/creatures/monster/monster_type_functions.cpp
  src/lua/functions/creatures/monster/monster_type_functions.hpp
  src/protobuf/appearances.pb.cc
  src/protobuf/appearances.pb.h
Labels: Area: Source

#390 [Fix] Non-unique item name registration
  src/items/items.cpp
Labels: Area: Source
