Repository opentibiabr/canary, pull requests merged in 2022-10, with the labels that each got.

#474 Fixed remove items from stash on create market offer
  src/creatures/players/player.cpp
  src/creatures/players/player.h
  src/game/game.cpp
  src/game/game.h
  src/items/containers/container.cpp
  src/server/network/protocol/protocolgame.cpp
  src/utils/tools.cpp
Labels: Area: Source

#521 Fixed market offers duplication money and items
  data/migrations/0.lua
  data/migrations/1.lua
  data/migrations/2.lua
  schema.sql
  src/creatures/creatures_definitions.hpp
  src/game/game.cpp
  src/game/game.h
  src/io/iomarket.cpp
  src/io/iomarket.h
  src/lua/functions/creatures/npc/npc_functions.cpp
  src/lua/functions/creatures/player/guild_functions.cpp
  src/lua/functions/creatures/player/player_functions.cpp
  src/server/network/protocol/protocolgame.cpp
Labels: Area: Source, Area: Datapack

#523 Fixed potion mana amount heals, remove wrong parameter from doTargetCombatMana on potions.lua
  data/scripts/actions/other/potions.lua
Labels: Area: Datapack

#366 [Feature] Item tiers and new skills (Onslaught, Ruse and Momentum) from 12.80
  config.lua.dist
  data/migrations/2.lua
  data/migrations/3.lua
  data/scripts/talkactions/god/create_item.lua
  schema.sql
  src/config/config_definitions.hpp
  src/config/configmanager.cpp
  src/creatures/combat/combat.cpp
  src/creatures/creatures_definitions.hpp
  src/creatures/npcs/npc.cpp
  src/creatures/players/grouping/party.cpp
  src/creatures/players/player.cpp
  src/creatures/players/player.h
  src/game/game.cpp
  src/game/game.h
  src/io/io_definitions.hpp
  src/io/iomarket.cpp
  src/io/iomarket.h
  src/items/item.cpp
  src/items/item.h
  src/items/items_classification.hpp
  src/items/items_definitions.hpp
  src/lua/functions/creatures/player/player_functions.cpp
  src/lua/functions/items/item_functions.cpp
  src/lua/functions/items/item_functions.hpp
  src/server/network/protocol/protocolgame.cpp
  src/server/network/protocol/protocolgame.h
  src/server/server_definitions.hpp
  src/utils/utils_definitions.hpp
Labels: Area: Source, Area: Datapack

#480 Fix charges cask wrapping upon leaving house
  src/map/house/house.cpp
Labels: Type: Bug, Priority: High, Area: Source, Status: Pending Review, Stale, Status: Pending Test

#553 Add option for enable or disable emoted spells for each player
  data/scripts/talkactions/player/emote_spell.lua
  src/creatures/players/player.cpp
  src/creatures/players/player.h
  src/game/game.cpp
  src/lua/functions/core/game/lua_enums.hpp
Labels: Area: Source, Area: Datapack

#556 Fix leave house remove hireling
  data/scripts/talkactions/player/leave_house.lua
  data/startup/others/hireling_lib.lua
  src/lua/functions/map/house_functions.cpp
Labels: Area: Source, Area: Datapack

#555 Reset idle time on reconnect
  src/server/network/protocol/protocolgame.cpp
Labels: Area: Source
