Repository opentibiabr/canary, pull requests merged in 2022-07, with the labels that each got.

#441 Fixed the fromPosition callback of some lua scripts that were registered by position
  src/lua/creature/movement.cpp
  src/lua/creature/movement.h
  src/lua/functions/creatures/creature_functions.cpp
Labels: Area: Source

#440 [Fix] Build of docker and linux
  .github/workflows/analysis-codeql.yml
  .github/workflows/analysis-sonarcloud.yml
  .github/workflows/build-ubuntu.yml
  .github/workflows/build-windows.yml
  src/protobuf/appearances.pb.cc
  src/protobuf/appearances.pb.h
Labels: Type: Bug, Priority: Medium, Area: Source, Status: Pending Review

#437 [Enhancement] - Automatically download world otbm in folder if file doesn't exist on server start
  .gitignore
  config.lua.dist
  src/CMakeLists.txt
  src/config/config_definitions.hpp
  src/config/configmanager.cpp
  src/map/map.cpp
  src/map/map.h
  vcpkg.json
Labels: Area: Source

#442 [Fix] Warning build
  src/CMakeLists.txt
Labels: Priority: Medium, Area: Source, Status: Pending Review, Status: Pending Test

#428 Fix remove summon bug and added new config tag for teleport summon
  config.lua.dist
  src/config/config_definitions.hpp
  src/config/configmanager.cpp
  src/creatures/creature.cpp
Labels: Area: Source

#360 [Feature/Enhancement] - New objects; Lever, Spawn and Spectators to assistant with boss/quest scripts and others
  data/lib/core/functions/lever.lua
  data/lib/core/functions/load.lua
  data/lib/core/functions/spawn.lua
  data/lib/core/functions/spectators.lua
  data/scripts/creaturescripts/monster.lua
  data/scripts/talkactions/god/create_spawn.lua
Labels: Area: Datapack, Stale

#438 [Fix] Bestiary unlocked creature
  data/scripts/bestiary/charms.lua
  data/scripts/creaturescripts/bestiary_kill.lua
Labels: Area: Datapack

#405 Sync missing weapons
  data/scripts/weapons/scripted_weapons.lua
Labels: Area: Datapack, Stale

#411 [Feature] Depot search system
  data/scripts/movements/tiles.lua
  src/creatures/creatures_definitions.hpp
  src/creatures/players/player.cpp
  src/creatures/players/player.h
  src/game/game.cpp
  src/game/game.h
  src/items/containers/container.h
  src/items/containers/depot/depotchest.h
  src/items/containers/inbox/inbox.h
  src/items/item.cpp
  src/items/item.h
  src/lua/functions/creatures/player/player_functions.cpp
  src/lua/functions/items/item_functions.cpp
  src/lua/functions/items/item_functions.hpp
  src/server/network/protocol/protocolgame.cpp
  src/server/network/protocol/protocolgame.h
Labels: Priority: Low, Area: Source, Area: Datapack, Type: Missing Content, Status: Pending Test, source

#444 Set server version to new release 1.4.0 (stable)
  src/utils/definitions.h
Labels: Area: Source

#432 [Implement] - Lua integration on 'Player::getTaskHuntingPoints()'
  src/lua/functions/creatures/player/player_functions.cpp
  src/lua/functions/creatures/player/player_functions.hpp
Labels: Area: Source

#450 Fix show attributes look on de equip item
  .gitignore
  src/items/functions/item_parse.cpp
  src/items/item.cpp
  src/items/item.h
Labels: Type: Enhancement, Area: Source

#456 Fix crash related to on look item
  src/items/item.cpp
  src/items/item.h
Labels: Area: Source

#453 Fixed crash when creating specific offers with certain amount from inbox
  src/game/game.cpp
  src/game/game.h
Labels: Area: Source

#454 Fixed buying more than 1 item with only one free slot
  src/creatures/npcs/npc.cpp
Labels: Area: Source

#462 Fix int sizes
  src/items/item.h
  src/items/items.h
Labels: Area: Source

#464 Fix clone items and crash if classicEquipmentSlots is true
  src/game/game.cpp
Labels: Area: Source

#459 Add exhaustion to npc say and sell/buy item
  src/creatures/players/player.cpp
  src/creatures/players/player.h
  src/game/game.cpp
Labels: Area: Source

#460 Fixed clone depot items
  src/creatures/players/player.cpp
  src/creatures/players/player.h
  src/items/containers/container.cpp
  src/items/containers/container.h
  src/items/cylinder.cpp
  src/items/cylinder.h
  src/items/item.h
  src/items/items.h
  src/items/tile.cpp
  src/items/tile.h
Labels: Area: Source

#463 Fix random client debug
  src/server/network/protocol/protocolgame.cpp
Labels: Area: Source

#420 [Enhancement] Replace all std::unordered with phmap::flat_hash
  src/CMakeLists.txt
  src/creatures/monsters/monster.h
  src/creatures/monsters/monsters.h
  src/creatures/players/grouping/groups.cpp
  src/creatures/players/player.cpp
  src/creatures/players/player.h
  src/game/game.h
  src/game/scheduling/scheduler.h
  src/items/functions/item_parse.hpp
  src/items/item.h
  src/items/items.cpp
  src/items/tile.h
  src/lua/scripts/lua_environment.hpp
  src/lua/scripts/script_environment.hpp
  src/map/house/house.h
  src/map/map.h
  src/otpch.h
  src/server/network/connection/connection.h
  src/server/network/protocol/protocolgame.cpp
  src/server/network/protocol/protocolgame.h
  src/server/server.h
  src/utils/tools.cpp
  src/utils/utils_definitions.hpp
  vcpkg.json
Labels: Type: Enhancement, Area: Source, Status: Pending Review, Status: Pending Test
