Repository opentibiabr/canary, pull requests merged in 2022-02, with the labels that each got.

#190 Decouple config manager in true singleton
  src/config/configmanager.h
  src/creatures/combat/combat.cpp
  src/creatures/combat/spells.cpp
  src/creatures/creature.cpp
  src/creatures/monsters/monster.cpp
  src/creatures/monsters/monsters.cpp
  src/creatures/monsters/spawns/spawn_monster.cpp
  src/creatures/npcs/npc.cpp
  src/creatures/npcs/npcs.cpp
  src/creatures/npcs/spawns/spawn_npc.cpp
  src/creatures/players/grouping/party.cpp
  src/creatures/players/imbuements/imbuements.cpp
  src/creatures/players/management/waitlist.cpp
  src/creatures/players/player.cpp
  src/database/database.cpp
  src/database/database.h
  src/database/databasemanager.cpp
  src/database/databasemanager.h
  src/game/game.cpp
  src/io/iologindata.cpp
  src/io/iomap.h
  src/io/iomarket.cpp
  src/items/containers/container.cpp
  src/items/items.h
  src/items/tile.cpp
  src/items/weapons/weapons.cpp
  src/lua/creature/actions.cpp
  src/lua/creature/raids.cpp
  src/lua/functions/core/game/config_functions.cpp
  src/lua/functions/core/game/game_functions.cpp
  src/lua/functions/core/game/global_functions.cpp
  src/lua/functions/creatures/monster/monster_functions.cpp
  src/lua/functions/lua_functions_loader.cpp
  src/lua/global/globalevent.cpp
  src/lua/scripts/scripts.cpp
  src/map/house/house.cpp
  src/map/house/housetile.cpp
  src/otserv.cpp
  src/server/network/connection/connection.cpp
  src/server/network/protocol/protocolgame.cpp
  src/server/network/protocol/protocolgame.h
  src/server/network/protocol/protocollogin.cpp
  src/server/network/protocol/protocolstatus.cpp
  src/server/network/webhook/webhook.cpp
  src/server/network/webhook/webhook.h
  src/server/server.cpp
  src/server/server.h
  src/server/signals.cpp
  src/utils/tools.cpp
Labels: source

#32 Support rates for regen, spell, speed and trainings
  config.lua.dist
  data/XML/vocations.xml
  data/events/scripts/player.lua
  data/lib/core/functions/player.lua
  src/config/config_definitions.hpp
  src/config/configmanager.cpp
  src/creatures/combat/condition.cpp
  src/creatures/combat/condition.h
  src/creatures/combat/spells.cpp
  src/creatures/combat/spells.h
  src/creatures/players/player.cpp
  src/creatures/players/vocations/vocation.cpp
  src/creatures/players/vocations/vocation.h
  src/items/bed.cpp
  src/items/functions/item_parse.cpp
  src/items/items.h
  src/lua/creature/movement.cpp
  src/lua/functions/core/game/config_functions.hpp
Labels: source, data, Stale

#191 Sincronizations with otservbr-global
  data/events/events.xml
  data/lib/tables/familiar.lua
  data/monster/azure_frog.lua
  data/monster/familiars/druid_familiar.lua
  data/monster/familiars/knight_familiar.lua
  data/monster/familiars/paladin_familiar.lua
  data/monster/familiars/sorcerer_familiar.lua
  data/monster/toad.lua
  data/scripts/spells/support/charge.lua
  data/scripts/spells/support/creature_illusion.lua
  data/scripts/spells/support/haste.lua
  data/scripts/spells/support/strong_haste.lua
  data/scripts/spells/support/summon_creature.lua
  data/scripts/spells/support/support_haste.lua
  data/scripts/spells/support/support_strong_haste.lua
  data/scripts/spells/support/swift_foot.lua
  src/creatures/creatures_definitions.hpp
  src/creatures/monsters/monster.cpp
  src/creatures/monsters/monsters.cpp
  src/creatures/players/player.cpp
  src/io/iobestiary.cpp
  src/io/iologindata.cpp
  src/items/decay/decay.cpp
  src/lua/functions/creatures/monster/monster_type_functions.cpp
  src/lua/functions/creatures/monster/monster_type_functions.hpp
Labels: source, data

#195 Bug fix that allowed to clone items in the market
  src/creatures/players/player.cpp
Labels: source

#196 Fix npc voice interval, walkInterval, baseSpeed and shop storage
  data/npclua/canary.lua
  src/creatures/npcs/npcs.h
  src/server/network/protocol/protocolgame.cpp
Labels: source, data

#167 [Protocol Bytes] - Support to client 12.85.11525
  config.lua.dist
  data/XML/mounts.xml
  data/XML/outfits.xml
  data/items/items.otb
  data/items/items.xml
  data/scripts/item_classification/item_tiers.lua
  data/scripts/lib/register_item_tier.lua
  data/scripts/talkactions/god/looktype.lua
  src/CMakeLists.txt
  src/config/configmanager.cpp
  src/creatures/creatures_definitions.hpp
  src/game/game.h
  src/items/functions/item_parse.cpp
  src/items/functions/item_parse.hpp
  src/items/items.cpp
  src/items/items.h
  src/items/items_classification.hpp
  src/items/items_definitions.hpp
  src/lua/functions/core/game/game_functions.cpp
  src/lua/functions/core/game/game_functions.hpp
  src/lua/functions/core/game/lua_enums.hpp
  src/lua/functions/items/item_classification_functions.cpp
  src/lua/functions/items/item_classification_functions.hpp
  src/lua/functions/items/item_type_functions.hpp
  src/server/network/protocol/protocolgame.cpp
  src/server/network/protocol/protocolgame.h
  src/utils/tools.cpp
  src/utils/utils_definitions.hpp
Labels: source, data

#203 [Fix/Update] Items .xml and .otb update + Item tier registration fix
  data/items/items.otb
  data/items/items.xml
  data/scripts/item_classification/item_tiers.lua
Labels: data

#207 [Npc Shop Enhancement] - Allow an item of the same id to be added multiple times for the same npc
  data/npclua/canary.lua
  src/creatures/creatures_definitions.hpp
  src/creatures/npcs/npc.cpp
  src/creatures/npcs/npcs.h
  src/creatures/players/player.cpp
  src/creatures/players/player.h
  src/lua/functions/creatures/npc/npc_functions.cpp
  src/lua/functions/creatures/npc/npc_type_functions.cpp
  src/server/network/protocol/protocolgame.cpp
  src/server/network/protocol/protocolgame.h
Labels: source, data

#211 [ConfigManager] - fix typo from "freeQuests" to "toggleFreeQuest"
  src/config/configmanager.cpp
Labels: source

#205 [Enhancement] - Automatically unzip world.zip in world folder if otbm file doesn't exist on server start
  .github/workflows/build-windows.yml
  src/CMakeLists.txt
  src/map/map.cpp
  src/map/map.h
  src/utils/tools.cpp
  src/utils/tools.h
  vcpkg.json
Labels: source

#217 Exposed `vocation->getBaseAttackSpeed`
  src/lua/functions/creatures/player/vocation_functions.cpp
  src/lua/functions/creatures/player/vocation_functions.hpp
Labels: source

#218 Fix support rates regen
  data/scripts/creaturescripts/offline_training.lua
  src/creatures/players/player.cpp
Labels: source, data

#219 [Fix] item tier bytes
  src/server/network/protocol/protocolgame.cpp
Labels: source

#209 Set server version for 1.2.0
  src/utils/definitions.h
Labels: source

#222 Adding missing code - custom currency
  data/scripts/lib/register_npc_type.lua
Labels: data

#225 [Fix] Bestiary tracker list loader
  src/io/iologindata.cpp
Labels: source

#226 [Fix] Reverting item tier to 0 + Market/Cyclopedia item tier
  data/scripts/item_classification/item_tiers.lua
  src/server/network/protocol/protocolgame.cpp
Labels: source, data

#228 Complete rework on npcs shop add item functions
  data/items/items.xml
  data/scripts/lib/register_npc_type.lua
  src/CMakeLists.txt
  src/creatures/creatures_definitions.hpp
  src/creatures/npcs/npc.cpp
  src/creatures/npcs/npc.h
  src/creatures/npcs/npcs.cpp
  src/creatures/npcs/npcs.h
  src/creatures/players/player.cpp
  src/creatures/players/player.h
  src/lua/functions/creatures/npc/npc_functions.cpp
  src/lua/functions/creatures/npc/npc_functions.hpp
  src/lua/functions/creatures/npc/npc_type_functions.cpp
  src/lua/functions/creatures/npc/npc_type_functions.hpp
  src/lua/functions/creatures/npc/shop_functions.cpp
  src/lua/functions/creatures/npc/shop_functions.hpp
  src/server/network/protocol/protocolgame.cpp
  src/server/network/protocol/protocolgame.h
  src/utils/utils_definitions.hpp
Labels: source, data

#169 Add container:getItems() function and option stash moving items to supply stash and depot
  config.lua.dist
  src/config/config_definitions.hpp
  src/config/configmanager.cpp
  src/creatures/players/player.cpp
  src/creatures/players/player.h
  src/items/containers/container.cpp
  src/items/containers/container.h
  src/lua/functions/items/container_functions.cpp
  src/lua/functions/items/container_functions.hpp
Labels: source

#236 Removed benchmark from storage duplication
  data/lib/core/storages.lua
Labels: data
