Repository opentibiabr/canary, pull requests merged in 2022-03, with the labels that each got.

#232 [Feature] Experience tracker
  src/creatures/players/player.cpp
  src/creatures/players/player.h
  src/server/network/protocol/protocolgame.cpp
  src/server/network/protocol/protocolgame.h
Labels: source

#254 [ItemParse] - Fix life and mana leech amount/chance attribute
  data/items/items.xml
  src/items/functions/item_parse.hpp
Labels: source, data

#255 Fix "allowpickupable" tag on items.xml, resolves trashholder items
  src/items/functions/item_parse.cpp
Labels: source

#184 [Feature/Enhancement/Custom] - Auto Loot, Quick Looting in stack and Auto Bank function
  config.lua.dist
  src/config/config_definitions.hpp
  src/config/configmanager.cpp
  src/creatures/creature.cpp
  src/creatures/players/player.cpp
  src/game/game.cpp
  src/game/game.h
  src/server/network/protocol/protocolgame.cpp
Labels: Type: Enhancement, source, Status: Completed, Test: Needed

#238 [Fix] Ring transformation on creation
  src/items/item.cpp
  src/utils/utils_definitions.hpp
Labels: Review: Completed, source, Test: Completed

#261 [Fix Decay] Add missing duration timestamp attribute
  src/items/item.h
Labels: source, Review: Needed, Test: Needed

#221 Fix logout message connection lost and remove unused tag on druid familiar
  data/monster/familiars/druid_familiar.lua
  data/scripts/actions/other/skill_trainer.lua
  src/creatures/players/player.cpp
  src/creatures/players/player.h
  src/game/game.cpp
  src/items/bed.cpp
  src/lua/functions/creatures/creature_functions.cpp
Labels: Priority: Low, Review: Completed, source, data, Status: Completed, Test: Completed

#266 Fix Auto Bank not removing coins from monster corpse
  src/creatures/creature.cpp
Labels: source

#248 Fix docker-compose: add env to correct mysql host
  docker/docker-compose.yml
Labels: docker

#272 [Fix] Few hireling issues
  data/npclib/npc.lua
  data/npclib/npc_system/npc_handler.lua
  data/startup/others/hireling_lib.lua
Labels: data, Status: Completed

#271 [Fix] Fix 'wound' bestiary charm register
  data/scripts/bestiary/charms.lua
  src/game/game.cpp
  src/io/iobestiary.cpp
  src/lua/functions/core/game/game_functions.cpp
Labels: source, data

#259 Fix multiple purchase of the same mount from store.
  data/modules/scripts/gamestore/init.lua
Labels: data, Review: Needed, Test: Needed

#133 Add nullpointer to check if creature is valid in "CreatureEvent::executeHealthChange"
  src/creatures/combat/spells.cpp
  src/game/game.cpp
  src/lua/creature/creatureevent.cpp
Labels: source, Stale

#147 [Feature/Enhancement] - No disconnect on death
  data/scripts/creaturescripts/player_death.lua
  src/creatures/creature.cpp
  src/creatures/players/player.cpp
  src/creatures/players/player.h
  src/server/network/protocol/protocolgame.cpp
  src/utils/utils_definitions.hpp
Labels: source, data, Review: Needed, Status: Completed, Test: Needed

#269 [Enhancement] Fixed incompatibility problem with otclient redemption
  src/server/network/protocol/protocolgame.cpp
Labels: source, Status: Completed, Test: Needed

#278 Revert "Add nullpointer to check if creature is valid in "CreatureEvent::executeHealthChange""
  src/creatures/combat/spells.cpp
  src/game/game.cpp
  src/lua/creature/creatureevent.cpp
Labels: source
