Repository opentibiabr/canary, pull requests merged in 2022-04, with the labels that each got.

#279 Rework of checkCreatureAsKnown and fix of client debug
  src/server/network/protocol/protocolgame.cpp
Labels: source, Review: Needed, Test: Needed

#292 Fix crash on buy own offer in market
  src/game/game.cpp
Labels: source

#289 Add check to ensure the item is not imbued twice with the same imbuement
  src/creatures/players/player.cpp
  src/items/item.cpp
  src/items/item.h
Labels: source

#293 Add decayImbuementTime function
  src/creatures/players/player.cpp
  src/items/item.h
Labels: source

#308 Fix build to not use asan on release mode
  .github/ISSUE_TEMPLATE/bug.yaml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/content.yaml
  .github/ISSUE_TEMPLATE/enhancement.yaml
  .github/ISSUE_TEMPLATE/i-want-to-help.md
  .github/ISSUE_TEMPLATE/map-issues.md
  .github/ISSUE_TEMPLATE/missing-feature.md
  .github/ISSUE_TEMPLATE/missing-wrong-content.md
  .github/workflows/analysis-codacy.yml
  .github/workflows/analysis-reviewdog.yml
  .github/workflows/analysis-sonarcloud.yml
  .github/workflows/build-docker.yml
  .github/workflows/build-ubuntu.yml
  .github/workflows/build-windows.yml
  CMakePresets.json
  CMakeSettings.json
  src/CMakeLists.txt
Labels: Area: Source

#316 Somes cmake features and update workflows to use gcc 11
  .github/workflows/analysis-codeql.yml
  .github/workflows/analysis-sonarcloud.yml
  .github/workflows/build-ubuntu.yml
  src/CMakeLists.txt
Labels: Area: Source

#297 Quiver checking for ammunition level
  src/creatures/players/player.cpp
  src/server/network/protocol/protocolgame.cpp
Labels: Type: Bug, Priority: Medium, Area: Source, Status: Pending Review, Status: Pending Test

#305 Fixed on death events for monsters that don't have corpses
  src/creatures/creature.cpp
  src/lua/creature/creatureevent.cpp
Labels: Area: Source

#251 Add tag serverSaveTime on config.lua
  config.lua.dist
  data/scripts/globalevents/server_save.lua
  src/config/config_definitions.hpp
  src/config/configmanager.cpp
  src/lua/functions/core/game/config_functions.hpp
Labels: Area: Source, Area: Datapack, Status: Pending Review, Status: Pending Test

#249 Fix Party Green Skull
  src/creatures/players/player.cpp
Labels: Area: Source, Status: Pending Review, Status: Pending Test

#237 fix crash invalid discord url
  data/scripts/creaturescripts/player_death.lua
  data/scripts/custom/discord_webhook.lua
  src/server/network/webhook/webhook.cpp
Labels: Area: Source, Area: Datapack, Status: Pending Review, Status: Pending Test

#295 Fix teleport normal summon to pz
  src/creatures/creature.cpp
  src/creatures/creature.h
Labels: Type: Bug, Priority: High, Area: Source

#220 Remove increment rune name to item name
  src/lua/functions/creatures/combat/spell_functions.cpp
Labels: Area: Source, Stale

#263 Fixed bug where quickloot would only looting the first corpses
  data/items/items.xml
  src/game/game.cpp
Labels: Area: Source, Area: Datapack

#262 [Feature] Party hunt analyzer.
  data/scripts/actions/other/food.lua
  data/scripts/actions/other/potions.lua
  src/creatures/creatures_definitions.hpp
  src/creatures/npcs/npcs.cpp
  src/creatures/players/grouping/party.cpp
  src/creatures/players/grouping/party.h
  src/creatures/players/player.cpp
  src/creatures/players/player.h
  src/game/game.cpp
  src/game/game.h
  src/items/items.h
  src/lua/functions/core/game/global_functions.cpp
  src/lua/functions/creatures/player/player_functions.cpp
  src/lua/functions/creatures/player/player_functions.hpp
  src/server/network/protocol/protocolgame.cpp
  src/server/network/protocol/protocolgame.h
  src/utils/utils_definitions.hpp
Labels: Area: Source, Area: Datapack, Status: Pending Review, Status: Pending Test

#283 Convert destroy field rune ids to client id and remove unused corpses table
  data/scripts/lib/register_spells.lua
  data/scripts/runes/destroy_field_rune.lua
Labels: Area: Datapack

#323 Fix exercise training and somes nil scripts
  data/lib/core/functions/position.lua
  data/lib/tables/exercise_training.lua
  data/npclib/npc_system/bank_system.lua
  data/scripts/actions/other/exercise_training.lua
  data/scripts/spells/healing/mass_healing.lua
Labels: Area: Datapack

#319 Add not moveable action function
  data/events/events.xml
  data/events/scripts/player.lua
Labels: Area: Datapack

#328 Convert ids to client id and indent file
  data/modules/scripts/gamestore/gamestore.lua
  data/modules/scripts/gamestore/init.lua
Labels: Area: Datapack

#206 Adding missing effects of SoulWar - Tentugly - Supreme Cube
  src/lua/functions/core/game/lua_enums.hpp
  src/utils/utils_definitions.hpp
Labels: Area: Source, Status: Pending Review, Status: Pending Test

#331 [Fix] Add 'non-aggresive' tag on healing 'doTargetCombatHealth'
  src/lua/functions/core/game/global_functions.cpp
Labels: Area: Source

#300 Remove unsafe addEvent
  data/modules/scripts/gamestore/init.lua
Labels: Area: Datapack

#334 [Fix] - build docker, missing include header <fstream>
  src/map/map.cpp
Labels: Area: Source

#317 Added a new method to register scripts by the map position and rework on "registerLuaEvent" function
  data/scripts/actions/worldboard.lua
  src/creatures/combat/spells.cpp
  src/game/game.cpp
  src/game/game.h
  src/items/items.cpp
  src/items/items.h
  src/lua/creature/actions.cpp
  src/lua/creature/actions.h
  src/lua/functions/core/game/game_functions.cpp
  src/lua/functions/events/action_functions.cpp
  src/lua/functions/events/action_functions.hpp
  src/lua/functions/lua_functions_loader.cpp
  src/lua/lua_definitions.hpp
  src/lua/scripts/scripts.h
  src/map/map.cpp
  src/map/map.h
Labels: Area: Source, Area: Datapack

#329 Fix crash related to reload scripts and fix reload npcs not working correctly and others fixes
  data/npc/canary.lua
  data/scripts/spells/monster/summon_challenge.lua
  data/world/canary-npc.xml
  src/creatures/combat/spells.cpp
  src/creatures/combat/spells.h
  src/creatures/monsters/monsters.cpp
  src/creatures/npcs/npc.cpp
  src/creatures/npcs/npc.h
  src/creatures/npcs/npcs.h
  src/creatures/players/player.cpp
  src/creatures/players/player.h
  src/game/game.cpp
  src/lua/functions/creatures/npc/npc_functions.cpp
  src/otserv.cpp
Labels: Priority: Critical, Area: Source, Area: Datapack, Area: Map, Status: Pending Test

#335 [Fix] runes being used only if they are on the tile
  src/lua/creature/actions.cpp
  src/lua/functions/events/action_functions.cpp
Labels: Area: Source

#172 [Feature/Enhancement] - Prey system rework (CPP) + Hunting task system
  config.lua.dist
  data/events/scripts/monster.lua
  data/events/scripts/player.lua
  data/global.lua
  data/lib/core/functions/container.lua
  data/migrations/0.lua
  data/migrations/1.lua
  data/modules/modules.xml
  data/modules/scripts/daily_reward/daily_reward.lua
  data/modules/scripts/gamestore/init.lua
  data/modules/scripts/prey_system/assets.lua
  data/modules/scripts/prey_system/prey.lua
  data/startup/others/functions.lua
  schema.sql
  src/CMakeLists.txt
  src/config/config_definitions.hpp
  src/config/configmanager.cpp
  src/creatures/combat/combat.cpp
  src/creatures/combat/condition.cpp
  src/creatures/combat/spells.cpp
  src/creatures/creature.cpp
  src/creatures/interactions/chat.cpp
  src/creatures/monsters/monster.cpp
  src/creatures/monsters/monster.h
  src/creatures/monsters/monsters.cpp
  src/creatures/monsters/spawns/spawn_monster.cpp
  src/creatures/players/player.cpp
  src/creatures/players/player.h
  src/game/game.cpp
  src/game/game.h
  src/io/iobestiary.h
  src/io/iologindata.cpp
  src/io/iologindata.h
  src/io/ioprey.cpp
  src/io/ioprey.h
  src/lua/functions/core/game/config_functions.hpp
  src/lua/functions/core/game/game_functions.cpp
  src/lua/functions/creatures/creature_functions.cpp
  src/lua/functions/creatures/player/player_functions.cpp
  src/lua/functions/creatures/player/player_functions.hpp
  src/otserv.cpp
  src/server/network/protocol/protocolgame.cpp
  src/server/network/protocol/protocolgame.h
  src/server/server_definitions.hpp
Labels: Type: Enhancement, Priority: Medium, Area: Source, Area: Datapack, Status: Pending Review, Status: Pending Test

#333 Add missing function and fix nil values scripts
  data/lib/core/functions/player.lua
  data/lib/tables/familiar.lua
  data/monster/familiars/druid_familiar.lua
  data/monster/familiars/knight_familiar.lua
  data/monster/familiars/paladin_familiar.lua
  data/monster/familiars/sorcerer_familiar.lua
  data/scripts/actions/other/large_sea_shell.lua
  data/scripts/actions/other/sewer.lua
  data/scripts/actions/tools/fire_bug.lua
  data/scripts/creaturescripts/familiar/on_login.lua
  data/scripts/runes/convince_creature.lua
  data/scripts/spells/familiar/druid_familiar.lua
  data/scripts/spells/familiar/knight_familiar.lua
  data/scripts/spells/familiar/paladin_familiar.lua
  data/scripts/spells/familiar/sorcerer_familiar.lua
  data/scripts/spells/summon/summon_creature.lua
  data/scripts/spells/support/creature_illusion.lua
Labels: Area: Datapack

#332 [Fix] - Add check for prevent message type parameter nil or wrong
  src/server/network/protocol/protocolgame.cpp
  src/server/network/protocol/protocolgame.h
Labels: Area: Source

#280 Fix halved healing spells
  src/creatures/combat/combat.cpp
  src/creatures/combat/condition.cpp
Labels: Area: Source

#349 Fix rune incrementing item id in the items.xml
  data/scripts/runes/animate_dead_rune.lua
  data/scripts/runes/antidote_rune.lua
  data/scripts/runes/avalanche.lua
  data/scripts/runes/chameleon.lua
  data/scripts/runes/convince_creature.lua
  data/scripts/runes/desintegrate_rune.lua
  data/scripts/runes/destroy_field_rune.lua
  data/scripts/runes/energy_bomb.lua
  data/scripts/runes/energy_field.lua
  data/scripts/runes/energy_wall.lua
  data/scripts/runes/explosion.lua
  data/scripts/runes/fire_bomb.lua
  data/scripts/runes/fire_field.lua
  data/scripts/runes/fire_wall.lua
  data/scripts/runes/fireball.lua
  data/scripts/runes/great_fireball.lua
  data/scripts/runes/heavy_magic_missile.lua
  data/scripts/runes/holy_missile.lua
  data/scripts/runes/icicle.lua
  data/scripts/runes/intense_healing_rune.lua
  data/scripts/runes/light_magic_missile.lua
  data/scripts/runes/light_stone_shower.lua
  data/scripts/runes/lightest_magic_missile.lua
  data/scripts/runes/lightest_missile.lua
  data/scripts/runes/magic_wall.lua
  data/scripts/runes/paralyze_rune.lua
  data/scripts/runes/poison_bomb.lua
  data/scripts/runes/poison_field.lua
  data/scripts/runes/poison_wall.lua
  data/scripts/runes/soul_fire.lua
  data/scripts/runes/stalagmite.lua
  data/scripts/runes/stone_shower.lua
  data/scripts/runes/sudden_death.lua
  data/scripts/runes/thunderstorm.lua
  data/scripts/runes/ultimate_healing_rune.lua
  data/scripts/runes/wild_growth.lua
  src/lua/functions/creatures/combat/spell_functions.cpp
Labels: Area: Source, Area: Datapack

#324 [Enhancement] Rework on fluids colors + new monster race type (INK)
  data/items/items.xml
  data/scripts/actions/other/fluids.lua
  src/creatures/creature.cpp
  src/creatures/creatures_definitions.hpp
  src/creatures/monsters/monsters.cpp
  src/game/game.cpp
  src/items/functions/item_parse.hpp
  src/items/items.h
  src/lua/functions/creatures/monster/monster_type_functions.cpp
  src/server/network/protocol/protocolgame.cpp
  src/utils/tools.cpp
  src/utils/tools.h
  src/utils/utils_definitions.hpp
Labels: Type: Enhancement, Priority: Low, Area: Source, Area: Datapack, Type: Missing Content

#348 [Feature] add script casks and kegs (store item for refill potions) #339
  data/scripts/actions/other/cask_kegs.lua
Labels: Area: Datapack

#350 [Fix] daily reward ids
  data/modules/scripts/daily_reward/daily_reward.lua
Labels: Area: Datapack

#355 Move client version from config.lua to definitions.h
  config.lua.dist
  data/scripts/lib/actions.lua
  data/scripts/lib/register_actions.lua
  src/config/config_definitions.hpp
  src/config/configmanager.cpp
  src/lua/functions/core/game/config_functions.hpp
  src/lua/functions/core/game/game_functions.cpp
  src/otserv.cpp
  src/server/network/protocol/protocolgame.cpp
  src/server/network/protocol/protocolgame.h
  src/server/network/protocol/protocolstatus.cpp
  src/utils/definitions.h
Labels: Area: Source, Area: Datapack

#356 Change server release version
  src/utils/definitions.h
Labels: Area: Source

#273 [Feature/Enhancement] - Send item cooldowns to action bar
  src/creatures/players/player.h
  src/lua/creature/actions.cpp
  src/server/network/protocol/protocolgame.cpp
  src/server/network/protocol/protocolgame.h
Labels: Type: Enhancement, Area: Source

#357 Remove duplicated globalevent "server save" remnant of conflicts in pull requests
  data/scripts/globalevents/server_save.lua
Labels: Area: Datapack

#361 [Fix] crash related to creature death
  src/creatures/players/player.cpp
Labels: Area: Source

#359 [Fix] Fix market issue related to stash items and gold duplication
  src/game/game.cpp
Labels: Priority: Critical, Area: Source

#362 Fix cmake warning related to linking library dir on target link libraries
  src/CMakeLists.txt
Labels: Area: Source
