Repository opentibiabr/canary, pull requests merged in 2023-07, with the labels that each got.

#1207 improve: refactor bit-based enumeration to standard enum
  src/enums/item_attribute.hpp
  src/items/functions/item/attribute.cpp
  src/items/functions/item/attribute.hpp
  src/items/item.h
Labels: Area: Source

#1211 feat: quickloot only gold pouch
  config.lua.dist
  src/config/config_definitions.hpp
  src/config/configmanager.cpp
  src/game/game.cpp
Labels: Area: Source

#1213 feat: loyalty system
  config.lua.dist
  data-otservbr-global/migrations/30.lua
  data-otservbr-global/migrations/31.lua
  data-otservbr-global/scripts/creaturescripts/others/login.lua
  data/libs/functions/string.lua
  data/libs/libs.lua
  data/libs/loyalty_lib.lua
  schema.sql
  src/CMakeLists.txt
  src/config/config_definitions.hpp
  src/config/configmanager.cpp
  src/creatures/combat/condition.cpp
  src/creatures/players/player.cpp
  src/creatures/players/player.h
  src/creatures/players/vocations/vocation.cpp
  src/creatures/players/vocations/vocation.h
  src/io/iologindata.cpp
  src/lua/functions/core/game/config_functions.cpp
  src/lua/functions/creatures/player/player_functions.cpp
  src/lua/functions/creatures/player/player_functions.hpp
  src/pch.hpp
  src/server/network/protocol/protocolgame.cpp
  vcpkg.json
Labels: Area: Source, Area: Datapack Global, Area: Datapack Core

#1114 feat: otcv8 detection, custom features packet
  src/creatures/creatures_definitions.hpp
  src/server/network/protocol/protocolgame.cpp
  src/server/network/protocol/protocolgame.h
Labels: Area: Source

#1220 fix: adding izcandar loot
  data-otservbr-global/monster/quests/the_dream_courts/bosses/izcandar_the_banished.lua
Labels: Area: Datapack Global

#1178 feat: authenticate using session id
  config.lua.dist
  data-otservbr-global/migrations/30.lua
  data-otservbr-global/migrations/31.lua
  data-otservbr-global/migrations/32.lua
  data-otservbr-global/scripts/globalevents/others/startup.lua
  data/global.lua
  schema.sql
  src/config/config_definitions.hpp
  src/config/configmanager.cpp
  src/io/iologindata.cpp
  src/io/iologindata.h
  src/lua/functions/core/game/config_functions.cpp
  src/server/network/protocol/protocolgame.cpp
Labels: Area: Source, Area: Datapack Global, Area: Datapack Core

#1230 fix: use player ids to safely check party events
  data/events/scripts/party.lua
Labels: Area: Datapack Core

#1232 fix: use correct manaSpent value when calculating loyalty
  src/creatures/players/player.cpp
Labels: Area: Source

#1233 fix: use executeQuery on update query
  src/io/iologindata.cpp
Labels: Area: Source

#1234 fix: party crash issue and imbuement
  data/events/scripts/party.lua
  src/creatures/players/player.cpp
  src/creatures/players/player.h
  src/server/network/protocol/protocolgame.cpp
Labels: Area: Source, Area: Datapack Core

#1221 fix: fishing skill
  data-canary/scripts/actions/tools/fishing.lua
  data-otservbr-global/scripts/actions/other/fishing.lua
Labels: Area: Datapack Global, Area: Datapack Canary

#1218 feat: enhance attackspeed based on fist fighting skill
  config.lua.dist
  src/config/config_definitions.hpp
  src/config/configmanager.cpp
  src/creatures/players/player.h
  src/lua/functions/core/game/config_functions.cpp
Labels: Area: Source

#1223 feat: concoctions system
  config.lua.dist
  data-otservbr-global/lib/core/storages.lua
  data-otservbr-global/scripts/actions/tibiadrome/concoctions.lua
  data-otservbr-global/scripts/creaturescripts/others/bestiary_kill.lua
  data-otservbr-global/scripts/creaturescripts/others/login.lua
  data-otservbr-global/scripts/creaturescripts/others/login_events.lua
  data/events/scripts/monster.lua
  data/events/scripts/player.lua
  data/global.lua
  data/libs/concoctions_lib.lua
  data/libs/functions/container.lua
  data/libs/functions/functions.lua
  data/libs/libs.lua
  src/config/config_definitions.hpp
  src/config/configmanager.cpp
  src/creatures/players/player.cpp
  src/creatures/players/player.h
  src/lua/functions/core/game/config_functions.cpp
  src/lua/functions/creatures/player/player_functions.cpp
  src/lua/functions/creatures/player/player_functions.hpp
  src/server/network/protocol/protocolgame.cpp
Labels: Area: Source, Area: Datapack Global, Area: Datapack Core

#1238 fix: the secret library quest and gaz'haragoth issue
  data-otservbr-global/scripts/actions/quests/the_secret_library/blacktp.lua
  data-otservbr-global/scripts/actions/quests/the_secret_library/bluetp.lua
  data-otservbr-global/scripts/actions/quests/the_secret_library/corpse.lua
  data-otservbr-global/scripts/actions/quests/the_secret_library/eyekey.lua
  data-otservbr-global/scripts/actions/quests/the_secret_library/greentp.lua
  data-otservbr-global/scripts/actions/quests/the_secret_library/lotuskey.lua
  data-otservbr-global/scripts/actions/quests/the_secret_library/peacock.lua
  data-otservbr-global/scripts/actions/quests/the_secret_library/sealedbook.lua
  data-otservbr-global/scripts/actions/quests/the_secret_library/skullground.lua
  data-otservbr-global/scripts/actions/quests/the_secret_library/strandhair.lua
  data-otservbr-global/scripts/spells/monster/gaz'haragoth_summon.lua
Labels: Area: Datapack Global

#1239 fix: use/move/trade/add/remove item from house logic
  src/game/game.cpp
  src/map/house/housetile.cpp
Labels: Area: Source

#1217 feat: authentication support using argon2id
  config.lua.dist
  src/CMakeLists.txt
  src/config/config_definitions.hpp
  src/config/configmanager.cpp
  src/io/iologindata.cpp
  src/lua/functions/core/game/config_functions.cpp
  src/otserv.cpp
  src/pch.hpp
  src/security/argon.cpp
  src/security/argon.hpp
  vcpkg.json
  vcproj/canary.vcxproj
Labels: Area: Source

#1253 fix: remove old lootcontainer flag
  src/creatures/players/player.cpp
Labels: Area: Source

#1268 fix: duplicate storage id
  data-otservbr-global/lib/core/storages.lua
Labels: Area: Datapack Global

#1267 fix: intialize participants as empty table
  data/events/scripts/monster.lua
Labels: Area: Datapack Core

#1249 fix: player "client" validation to avoid addEvent crash
  src/creatures/players/wheel/player_wheel.cpp
  src/creatures/players/wheel/wheel_definitions.hpp
Labels: Area: Source

#1266 feat: boss specific multipliers
  config.lua.dist
  data-otservbr-global/monster/quests/kilmaresh/urmahlullu_the_immaculate.lua
  data-otservbr-global/monster/quests/kilmaresh/urmahlullu_the_tamed.lua
  data-otservbr-global/monster/quests/kilmaresh/wildness_of_urmahlullu.lua
  data-otservbr-global/monster/quests/kilmaresh/wisdom_of_urmahlullu.lua
  data-otservbr-global/scripts/creaturescripts/monster/urmahlullu_change.lua
  src/config/config_definitions.hpp
  src/config/configmanager.cpp
  src/creatures/monsters/monster.cpp
  src/creatures/monsters/monsters.h
  src/lua/functions/core/game/config_functions.cpp
  src/lua/functions/creatures/monster/monster_functions.cpp
  src/lua/functions/creatures/monster/monster_type_functions.cpp
  src/lua/functions/creatures/monster/monster_type_functions.hpp
Labels: Area: Source, Area: Datapack Global

#1272 feat: higher HP and Mana on bars
  src/server/network/protocol/protocolgame.cpp
Labels: Area: Source

#1248 fix: izcandar life
  data-otservbr-global/monster/quests/the_dream_courts/bosses/izcandar_the_banished.lua
  data-otservbr-global/scripts/actions/mounts/mounts.lua
Labels: Area: Datapack Global

#1243 feat: consider the currency when selling items npc
  src/creatures/npcs/npc.cpp
Labels: Area: Source

#1240 fix: click "ok" button clone character using otcv8
  src/server/network/protocol/protocolgame.cpp
Labels: Area: Source

#1274 feat: add build unity cmake module for speed up compilation time
  src/CMakeLists.txt
Labels: Area: Source

#1244 improve: move chaining to cpp
  data-otservbr-global/monster/reptiles/carnivostrich.lua
  data-otservbr-global/monster/reptiles/harpy.lua
  data-otservbr-global/scripts/spells/monster/energy_chain.lua
  data-otservbr-global/scripts/spells/support/chivalrous_challenge.lua
  data-otservbr-global/scripts/spells/support/divine_dazzle.lua
  src/creatures/combat/combat.cpp
  src/creatures/combat/combat.h
  src/creatures/creatures_definitions.hpp
  src/game/movement/position.h
  src/items/items_definitions.hpp
  src/items/weapons/weapons.cpp
  src/lua/functions/core/game/lua_enums.cpp
  src/lua/functions/creatures/combat/combat_functions.cpp
  src/otserv.cpp
Labels: Area: Source, Area: Datapack Global

#1241 fix: enter on depot by all directions
  data-canary/scripts/movements/tiles.lua
  data-otservbr-global/scripts/movements/others/tiles.lua
  data/global.lua
Labels: Area: Datapack Global, Area: Datapack Canary, Area: Datapack Core

#1278 fix: return true by default on combats
  data-otservbr-global/monster/reptiles/harpy.lua
  src/creatures/combat/combat.cpp
  src/lua/functions/creatures/combat/combat_functions.cpp
Labels: Area: Source, Area: Datapack Global

#1281 build: fix docker build, change to ubuntu 23.04
  docker/Dockerfile.x86
Labels: Area: Docker

#1269 feat: protocol update for 13.20
  data/items/appearances.dat
  src/core.hpp
  src/creatures/combat/combat.cpp
  src/creatures/combat/combat.h
  src/creatures/players/player.h
  src/creatures/players/wheel/player_wheel.cpp
  src/game/game.cpp
  src/game/game.h
  src/io/iobestiary.h
  src/lua/functions/core/game/game_functions.cpp
  src/lua/functions/core/game/global_functions.cpp
  src/lua/functions/creatures/monster/charm_functions.cpp
  src/server/network/protocol/protocolgame.cpp
  src/server/network/protocol/protocolgame.h
  src/utils/utils_definitions.hpp
Labels: Area: Source, Area: Datapack Core

#1280 refactor: waiting list logic and fix windows shutdown
  src/creatures/players/management/waitlist.cpp
  src/creatures/players/management/waitlist.h
  src/game/game.cpp
  src/server/network/protocol/protocolgame.cpp
Labels: Area: Source

#1288 fix: loop related to creature destination inside a teleport items
  src/map/map.cpp
Labels: Area: Source

#1289 fix: cyclopedia debug related to client 13.20
  src/server/network/protocol/protocolgame.cpp
Labels: Area: Source

#1282 fix: error in spell of arachnophobica and add neutral damage enum
  data-otservbr-global/scripts/spells/monster/arachnophobica_wavedice.lua
  src/lua/functions/core/game/lua_enums.cpp
Labels: Area: Source, Area: Datapack Global

#1297 fix: check for player before using variable
  data/events/scripts/monster.lua
Labels: Area: Datapack Core

#1307 fix: bestiary betterment counting cumulatively
  data-otservbr-global/scripts/creaturescripts/others/bestiary_kill.lua
Labels: Area: Datapack Global

#1303 fix: tick down prem days
  src/creatures/players/account/account.cpp
  src/game/game.cpp
  src/server/network/protocol/protocolgame.cpp
Labels: Area: Source

#1306 fix: house list
  src/map/house/house.cpp
  src/utils/tools.cpp
  src/utils/tools.h
Labels: Area: Source

#1294 fix: magic effects on old protocol
  src/server/network/protocol/protocolgame.cpp
Labels: Area: Source

#1298 feat: register sanguine items
  data-otservbr-global/scripts/actions/other/bag_you_covet.lua
  data-otservbr-global/scripts/movements/equipment/unscripted_equipments.lua
  data-otservbr-global/scripts/weapons/unscripted_weapons.lua
  data/items/items.xml
Labels: Area: Datapack Global, Area: Datapack Core

#1302 fix: urmahlullu concurrency
  data-otservbr-global/monster/quests/kilmaresh/urmahlullu_the_weakened.lua
  data-otservbr-global/scripts/creaturescripts/monster/urmahlullu_change.lua
Labels: Area: Datapack Global

#738 feat: introduce db transaction guard for muto-managed transactions
  src/database/database.cpp
  src/database/database.h
  src/database/databasetasks.cpp
  src/io/iologindata.cpp
  src/io/iologindata.h
  src/io/iomapserialize.cpp
  src/io/iomapserialize.h
Labels: Area: Source

#1310 fix: use loot modifiers correctly when creating loot
  data/events/scripts/monster.lua
  data/libs/functions/container.lua
Labels: Area: Datapack Core

#1291 feat: new beds behavior
  .editorconfig
  data-otservbr-global/npc/allen.lua
  data-otservbr-global/npc/dorbin.lua
  data-otservbr-global/npc/eddy.lua
  data-otservbr-global/npc/edvard.lua
  data-otservbr-global/npc/feizuhl.lua
  data-otservbr-global/npc/gamon.lua
  data-otservbr-global/npc/haani.lua
  data-otservbr-global/npc/hireling.lua
  data-otservbr-global/npc/hofech.lua
  data-otservbr-global/npc/iwar.lua
  data-otservbr-global/npc/janz.lua
  data-otservbr-global/npc/nicholas.lua
  data-otservbr-global/npc/nydala.lua
  data-otservbr-global/npc/peggy.lua
  data-otservbr-global/npc/ukea.lua
  data-otservbr-global/npc/vera.lua
  data-otservbr-global/npc/yoem.lua
  data-otservbr-global/world/otservbr-house.xml
  data/items/items.xml
  data/modules/scripts/gamestore/gamestore.lua
  data/modules/scripts/gamestore/init.lua
  data/npclib/npc_system/npc_handler.lua
  src/game/game.cpp
  src/game/game.h
  src/io/iomap.cpp
  src/io/iomapserialize.cpp
  src/io/iomapserialize.h
  src/items/bed.cpp
  src/items/bed.h
  src/items/functions/item/item_parse.cpp
  src/items/functions/item/item_parse.hpp
  src/items/items.h
  src/items/items_definitions.hpp
  src/items/tile.cpp
  src/lua/functions/creatures/npc/npc_functions.cpp
  src/map/house/house.cpp
  src/map/house/house.h
  src/utils/tools.cpp
  src/utils/tools.h
  src/utils/utils_definitions.hpp
Labels: Area: Source, Area: Datapack Global, Area: Map Global, Area: Datapack Core

#1305 fix: safer iteration over reward containers
  src/creatures/players/player.cpp
  src/creatures/players/player.h
  src/game/game.cpp
  src/lua/creature/actions.cpp
Labels: Area: Source

#1063 feat: vip system
  config.lua.dist
  data-canary/scripts/talkactions/player/auto_loot.lua
  data-otservbr-global/lib/core/storages.lua
  data-otservbr-global/lib/lib.lua
  data-otservbr-global/lib/vip/vip_system.lua
  data-otservbr-global/scripts/creaturescripts/customs/vip.lua
  data-otservbr-global/scripts/creaturescripts/others/login.lua
  data-otservbr-global/scripts/globalevents/vip/online_coins.lua
  data-otservbr-global/scripts/globalevents/vip/online_tokens.lua
  data-otservbr-global/scripts/spells/familiar/druid_familiar.lua
  data-otservbr-global/scripts/spells/familiar/knight_familiar.lua
  data-otservbr-global/scripts/spells/familiar/paladin_familiar.lua
  data-otservbr-global/scripts/spells/familiar/sorcerer_familiar.lua
  data-otservbr-global/scripts/talkactions/god/vip_manager.lua
  data-otservbr-global/scripts/talkactions/player/auto_loot.lua
  data-otservbr-global/scripts/talkactions/player/vip.lua
  data/events/scripts/monster.lua
  data/events/scripts/player.lua
  data/libs/concoctions_lib.lua
  data/libs/functions/player.lua
  data/modules/scripts/gamestore/gamestore.lua
  data/modules/scripts/gamestore/init.lua
  schema.sql
  src/config/config_definitions.hpp
  src/config/configmanager.cpp
  src/creatures/creature.cpp
  src/creatures/players/player.cpp
  src/creatures/players/player.h
  src/game/game.cpp
  src/io/iologindata.cpp
  src/lua/functions/core/game/config_functions.cpp
  src/lua/functions/core/game/lua_enums.cpp
  src/lua/functions/creatures/player/player_functions.cpp
  src/lua/functions/creatures/player/player_functions.hpp
  src/server/network/protocol/protocolgame.cpp
  src/server/network/protocol/protocollogin.cpp
  src/utils/const.hpp
Labels: Area: Source, Area: Datapack Global, Area: Datapack Canary, Area: Datapack Core

#1313 fix: use db transaction guard and return toBeExecuted()
  src/database/database.h
  src/io/iologindata.cpp
  src/io/iologindata.h
  src/io/iomapserialize.cpp
Labels: Area: Source

#1319 fix: random mount debug (add missing getByte)
  src/server/network/protocol/protocolgame.cpp
Labels: Area: Source

#1320 improve: unnecessary files in data-canary
  data-canary/lib/lib.lua
  data-canary/lib/tables/door.lua
  data-canary/lib/tables/load.lua
  data-canary/lib/tables/npc_spells.lua
  data-canary/lib/tables/vocation.lua
  data-canary/lib/tables/window.lua
  data-canary/scripts/actions/other/windows.lua
  data-otservbr-global/scripts/actions/other/windows.lua
  data/libs/libs.lua
  data/libs/vocation.lua
Labels: Area: Datapack Global, Area: Datapack Canary, Area: Datapack Core

#1321 fix: crazed winter rearguard corpse wrong id
  data-otservbr-global/monster/humanoids/crazed_winter_rearguard.lua
Labels: Area: Datapack Global

#1330 fix: vip system
  config.lua.dist
  data-otservbr-global/lib/vip/vip_system.lua
  data/libs/functions/player.lua
  schema.sql
  src/config/configmanager.cpp
Labels: Area: Source, Area: Datapack Global, Area: Datapack Core
