Repository opentibiabr/canary, pull requests merged in 2023-04, with the labels that each got.

#972 fix: removing "error" message when using asuraMirror to teleport
  data-otservbr-global/scripts/actions/quests/the_secret_library/asura_mirror.lua
Labels: Area: Datapack Global

#960 fix: error handling to date formatting functions
  src/utils/tools.cpp
Labels: Area: Source

#973 feature: access to kilmaresh catacombs
  data-otservbr-global/lib/core/storages.lua
  data-otservbr-global/scripts/creaturescripts/customs/freequests.lua
  data-otservbr-global/startup/tables/door_quest.lua
Labels: Area: Datapack Global

#971 fix: duplication of npcs shop (Hireling)
  src/creatures/creatures_definitions.hpp
  src/creatures/npcs/npcs.cpp
Labels: Area: Source

#976 fix: hireling conflicted with an existing npc
  data-otservbr-global/npc/hireling.lua
  data/libs/hireling_lib.lua
Labels: Area: Datapack Global, Area: Datapack Core

#975 fix: missing tiles under temple thais columns on custom map
  data-otservbr-global/world/custom/otservbr-custom.otbm
Labels: Area: Datapack Global

#979 fix: remove restriction for god account characters not open reward chest
  src/lua/creature/actions.cpp
Labels: Area: Source

#985 fix: add missing Gaffir loots
  data-otservbr-global/monster/bosses/gaffir.lua
Labels: Area: Datapack Global

#982 fix: Morguthis teleport tomb access and poison field damage
  data-otservbr-global/scripts/movements/quests/the_ancient_tombs/step_morguthis_blue_flames.lua
  data/items/items.xml
Labels: Area: Datapack Global, Area: Datapack Core

#991 fix: npc cassino position on custom map
  data-otservbr-global/world/custom/otservbr-custom.otbm
Labels: Area: Datapack Global

#992 fix: shutdown program in the linux S.O
  src/game/game.cpp
  src/lua/functions/core/game/config_functions.cpp
  src/otserv.cpp
  src/pch.hpp
  src/utils/tools.cpp
Labels: Area: Source

#988 feat: now loads all maps in custom folder
  .gitignore
  config.lua.dist
  src/game/game.cpp
  src/game/game.h
  src/io/iomap.h
  src/map/map.cpp
  src/map/map.h
  src/otserv.cpp
  src/pch.hpp
Labels: Area: Source

#1003 fix: remove white skull if no disconnect on death
  src/creatures/players/player.cpp
Labels: Area: Source

#1002 fix: possible nil table on useStamina function
  data/events/scripts/player.lua
Labels: Area: Source, Area: Datapack Core

#1000 fix: better logic of load boosted boss function
  src/io/io_bosstiary.cpp
Labels: Area: Source

#983 improve: inbox items can't be moved
  data/events/scripts/player.lua
  data/modules/scripts/gamestore/init.lua
  src/enums/item_attribute.hpp
  src/game/game.cpp
  src/game/game.h
  src/items/containers/container.cpp
  src/items/containers/container.h
  src/items/functions/item/attribute.hpp
  src/items/item.cpp
  src/items/item.h
  src/items/items_definitions.hpp
  src/utils/tools.cpp
Labels: Area: Source, Area: Datapack Core

#1006 improve: imbuements backpack icon id
  data/XML/imbuements.xml
  src/creatures/players/player.cpp
Labels: Area: Source, Area: Datapack Core

#1004 improve: oberon responses
  data-otservbr-global/monster/quests/the_secret_library/bosses/grand_master_oberon.lua
  data-otservbr-global/monster/quests/the_secret_library/bosses/grand_master_oberon_functions.lua
Labels: Area: Datapack Global

#1005 fix: crash related to invalid boss race id
  src/server/network/protocol/protocolgame.cpp
Labels: Area: Source

#997 fix: unexpected behavior on reward
  src/items/containers/rewards/reward.cpp
Labels: Area: Source

#1008 fix: gamestore exhaustion
  data/modules/scripts/gamestore/init.lua
Labels: Area: Datapack Core

#1009 fix: crash related to load custom maps with canary datapack
  src/game/game.cpp
Labels: Area: Source

#1010 feat: protocol update to 13.16.13209
  data-canary/scripts/item_classification/item_tiers.lua
  data-canary/scripts/lib/register_item_tier.lua
  data-otservbr-global/scripts/item_classification/item_tiers.lua
  data-otservbr-global/scripts/lib/register_item_tier.lua
  data/items/appearances.dat
  data/modules/scripts/gamestore/gamestore.lua
  data/modules/scripts/gamestore/init.lua
  src/core.hpp
  src/creatures/combat/spells.cpp
  src/creatures/combat/spells.h
  src/creatures/players/player.cpp
  src/creatures/players/player.h
  src/game/game.cpp
  src/game/game.h
  src/items/items_classification.hpp
  src/lua/functions/creatures/combat/spell_functions.cpp
  src/lua/functions/items/item_classification_functions.cpp
  src/server/network/protocol/protocolgame.cpp
  src/server/network/protocol/protocolgame.h
Labels: Area: Source, Area: Datapack Global, Area: Datapack Canary, Area: Datapack Core

#1016 improve: init lua environment in the otserv.cpp
  src/lua/scripts/luascript.cpp
  src/otserv.cpp
Labels: Area: Source

#1012 feat: imbuement tracker system from 13.00 version
  src/creatures/players/player.cpp
  src/creatures/players/player.h
  src/game/game.cpp
  src/game/game.h
  src/lua/creature/movement.cpp
  src/server/network/protocol/protocolgame.cpp
  src/server/network/protocol/protocolgame.h
Labels: Area: Source

#1022 fix: missing returns on bosses levers
  data-otservbr-global/scripts/actions/quests/ferumbras_ascendant/mazoran_lever.lua
  data-otservbr-global/scripts/actions/quests/ferumbras_ascendant/plagirath_lever.lua
  data-otservbr-global/scripts/actions/quests/ferumbras_ascendant/ragiaz_lever.lua
  data-otservbr-global/scripts/actions/quests/ferumbras_ascendant/razzagorn_lever.lua
  data-otservbr-global/scripts/actions/quests/ferumbras_ascendant/shulgrax_lever.lua
  data-otservbr-global/scripts/actions/quests/ferumbras_ascendant/tarbaz_lever.lua
  data-otservbr-global/scripts/actions/quests/ferumbras_ascendant/zamulosh_lever.lua
  data-otservbr-global/scripts/actions/quests/the_dream_courts/lever.lua
Labels: Area: Datapack Global

#1021 improve: conversion of levers to new standard
  data-otservbr-global/scripts/actions/quests/adventures_of_galthen/megasylvan_yselda_lever.lua
  data-otservbr-global/scripts/actions/quests/feaster_of_souls/dread_maiden_lever.lua
  data-otservbr-global/scripts/actions/quests/feaster_of_souls/fear_feaster_lever.lua
  data-otservbr-global/scripts/actions/quests/feaster_of_souls/pale_worm_lever.lua
  data-otservbr-global/scripts/actions/quests/feaster_of_souls/unwelcome_lever.lua
  data-otservbr-global/scripts/actions/quests/grave_danger/count_vlarkorth_lever.lua
  data-otservbr-global/scripts/actions/quests/grave_danger/duke_krule_lever.lua
  data-otservbr-global/scripts/actions/quests/grave_danger/earl_osam_lever.lua
  data-otservbr-global/scripts/actions/quests/grave_danger/king_zelos_lever.lua
  data-otservbr-global/scripts/actions/quests/grave_danger/lord_azaram_lever.lua
  data-otservbr-global/scripts/actions/quests/secret_library/ghulosh_lever.lua
  data-otservbr-global/scripts/actions/quests/secret_library/gorzindel_lever.lua
  data-otservbr-global/scripts/actions/quests/secret_library/lokathmor_lever.lua
  data-otservbr-global/scripts/actions/quests/secret_library/mazzinor_lever.lua
  data-otservbr-global/scripts/actions/quests/secret_library/scourge_of_oblivion_lever.lua
  data-otservbr-global/scripts/actions/quests/soul_war/goshnar_cruelty_lever.lua
  data-otservbr-global/scripts/actions/quests/soul_war/goshnar_greed_lever.lua
  data-otservbr-global/scripts/actions/quests/soul_war/goshnar_hatred_lever.lua
  data-otservbr-global/scripts/actions/quests/soul_war/goshnar_malice_lever.lua
  data-otservbr-global/scripts/actions/quests/soul_war/goshnar_megalomania_lever.lua
  data-otservbr-global/scripts/actions/quests/soul_war/goshnar_spite_lever.lua
  data-otservbr-global/scripts/actions/quests/the_dream_courts/nightmare_beast_lever.lua
Labels: Area: Datapack Global

#1020 fix(forge): give party leader dust and share regardless of damage
  data/libs/forge_lib.lua
Labels: Area: Datapack Core

#1024 fix: warning in the distro at creature dead with corpse id 0
  src/creatures/creature.cpp
Labels: Area: Source

#1023 fix: crash related to remove items from stash
  src/creatures/players/player.cpp
  src/creatures/players/player.h
  src/items/item.h
Labels: Area: Source

#1028 fix: not remove some conditions on death
  src/creatures/combat/condition.cpp
  src/creatures/combat/condition.h
  src/creatures/players/player.cpp
Labels: Area: Source

#516 feat: multiprotocol compatibility with client 11.00 (10x)
  config.lua.dist
  data/events/scripts/monster.lua
  data/libs/functions/quests.lua
  data/modules/scripts/blessings/blessings.lua
  data/modules/scripts/daily_reward/daily_reward.lua
  data/modules/scripts/gamestore/init.lua
  src/config/config_definitions.hpp
  src/config/configmanager.cpp
  src/creatures/creatures_definitions.hpp
  src/creatures/players/account/account.cpp
  src/creatures/players/account/account.hpp
  src/creatures/players/grouping/guild.cpp
  src/creatures/players/grouping/party.cpp
  src/creatures/players/player.cpp
  src/creatures/players/player.h
  src/enums/item_attribute.hpp
  src/game/game.cpp
  src/game/game.h
  src/io/iologindata.cpp
  src/io/iologindata.h
  src/items/containers/container.cpp
  src/items/containers/container.h
  src/items/containers/depot/depotlocker.cpp
  src/items/containers/depot/depotlocker.h
  src/items/item.cpp
  src/items/items.cpp
  src/items/items.h
  src/lua/functions/items/container_functions.cpp
  src/otserv.cpp
  src/server/network/protocol/protocolgame.cpp
  src/server/network/protocol/protocolgame.h
  src/server/network/protocol/protocollogin.cpp
  src/server/network/protocol/protocollogin.h
  src/utils/utils_definitions.hpp
Labels: Area: Source, Area: Datapack Global, Area: Datapack Core

#1034 fix: forge fuse items without core
  src/creatures/players/player.cpp
Labels: Area: Source

#1033 fix: hireling debug in client 11.00
  src/server/network/protocol/protocolgame.cpp
Labels: Area: Source

#1030 improve: update bosstiary cooldown time at monster creation
  src/creatures/monsters/monster.h
  src/lua/functions/core/game/game_functions.cpp
Labels: Area: Source

#1038 fix: wrong monsters race id
  data-otservbr-global/monster/quests/ferumbras_ascendant/bosses/ferumbras_mortal_shell.lua
  data-otservbr-global/monster/quests/soul_war/goshnars_megalomania.lua
Labels: Area: Datapack Global
