Repository opentibiabr/canary, pull requests merged in 2023-10, with the labels that each got.

#1660 feat: cyclopedia highscore cache
  src/game/game.cpp
  src/game/game.hpp
Labels: Area: Source

#1657 fix: safer zone refreshes
  src/game/zones/zone.cpp
Labels: Area: Source

#1661 fix: scoped KV, save KV to DB, boolean vals
  CMakePresets.json
  src/creatures/players/player.hpp
  src/items/item.cpp
  src/kv/README.md
  src/kv/kv.cpp
  src/kv/kv.hpp
  src/kv/kv_sql.cpp
  src/kv/kv_sql.hpp
  src/kv/value_wrapper.cpp
  src/kv/value_wrapper.hpp
  src/kv/value_wrapper_proto.hpp
  src/lua/functions/core/libs/kv_functions.cpp
  src/lua/functions/core/libs/kv_functions.hpp
  src/lua/functions/creatures/player/player_functions.cpp
  src/lua/functions/lua_functions_loader.hpp
  src/protobuf/kv.pb.cc
  src/protobuf/kv.pb.h
  src/protobuf/kv.proto
  tests/unit/kv/kv_test.cpp
Labels: Area: Source

#1667 fix: remove save player function
  src/io/functions/iologindata_load_player.cpp
Labels: Area: Source

#1645 refactor: spectators system
  src/creatures/combat/combat.cpp
  src/creatures/combat/combat.hpp
  src/creatures/combat/condition.cpp
  src/creatures/creature.cpp
  src/creatures/monsters/monster.cpp
  src/creatures/monsters/spawns/spawn_monster.cpp
  src/creatures/npcs/npc.cpp
  src/creatures/npcs/npc.hpp
  src/creatures/npcs/spawns/spawn_npc.cpp
  src/creatures/players/player.cpp
  src/creatures/players/player.hpp
  src/game/game.cpp
  src/game/game.hpp
  src/items/containers/container.cpp
  src/items/containers/mailbox/mailbox.cpp
  src/items/tile.cpp
  src/items/tile.hpp
  src/lua/functions/core/game/game_functions.cpp
  src/lua/functions/creatures/creature_functions.cpp
  src/lua/functions/creatures/monster/monster_functions.cpp
  src/lua/functions/creatures/npc/npc_functions.cpp
  src/lua/functions/creatures/player/player_functions.cpp
  src/lua/functions/map/position_functions.cpp
  src/map/CMakeLists.txt
  src/map/map.cpp
  src/map/map.hpp
  src/map/spectators.cpp
  src/map/spectators.hpp
  src/map/utils/qtreenode.cpp
  src/map/utils/qtreenode.hpp
  src/pch.hpp
  src/utils/vectorset.hpp
  vcproj/canary.vcxproj
Labels: Area: Source

#1630 improve: migrate ChatChannel | PrivateChatChannel and derivatives to shared_ptr
  src/creatures/interactions/chat.cpp
  src/creatures/interactions/chat.hpp
  src/game/game.cpp
  src/lua/functions/core/game/global_functions.cpp
  src/lua/functions/creatures/player/player_functions.cpp
  src/server/network/protocol/protocolgame.cpp
Labels: Area: Source

#1653 improve: AreaCombat::areas to array
  src/creatures/combat/combat.cpp
  src/creatures/combat/combat.hpp
Labels: Area: Source

#1676 fix: fungus wrong id reference
  data-otservbr-global/scripts/globalevents/worldchanges/their_masters_voice.lua
Labels: Area: Datapack Global

#1659 improve: migrate Weapon and derivatives to shared_ptr
  src/config/configmanager.cpp
  src/creatures/combat/combat.cpp
  src/creatures/monsters/monster.cpp
  src/creatures/npcs/npcs.cpp
  src/creatures/players/player.cpp
  src/game/game.cpp
  src/game/scheduling/events_scheduler.cpp
  src/game/zones/zone.cpp
  src/io/iologindata.cpp
  src/io/ioprey.cpp
  src/items/item.cpp
  src/items/items.cpp
  src/items/tile.cpp
  src/items/weapons/weapons.cpp
  src/items/weapons/weapons.hpp
  src/kv/kv.cpp
  src/lua/callbacks/event_callback.cpp
  src/lua/functions/core/game/game_functions.cpp
  src/lua/functions/core/game/lua_enums.cpp
  src/lua/functions/items/imbuement_functions.cpp
  src/lua/functions/items/weapon_functions.cpp
  src/lua/functions/items/weapon_functions.hpp
  src/lua/functions/lua_functions_loader.cpp
  src/lua/scripts/lua_environment.hpp
  src/lua/scripts/luascript.hpp
  src/lua/scripts/script_environment.cpp
  src/map/utils/qtreenode.cpp
  src/server/network/connection/connection.cpp
  src/server/network/message/networkmessage.cpp
Labels: Area: Source

#1666 fix: allow players to send in bug reports
  data/events/scripts/player.lua
  data/libs/functions/fs.lua
  data/libs/functions/load.lua
  src/server/network/protocol/protocolgame.cpp
Labels: Area: Source, Area: Datapack Core

#1669 fix: fury gates maps/teleport
  data-otservbr-global/world/world_changes/fury_gates/abdendriel.otbm
  data-otservbr-global/world/world_changes/fury_gates/ankrahmun.otbm
  data-otservbr-global/world/world_changes/fury_gates/carlin.otbm
  data-otservbr-global/world/world_changes/fury_gates/darashia.otbm
  data-otservbr-global/world/world_changes/fury_gates/edron.otbm
  data-otservbr-global/world/world_changes/fury_gates/kazordoon.otbm
  data-otservbr-global/world/world_changes/fury_gates/libertybay.otbm
  data-otservbr-global/world/world_changes/fury_gates/porthope.otbm
  data-otservbr-global/world/world_changes/fury_gates/thais.otbm
  data-otservbr-global/world/world_changes/fury_gates/venore.otbm
  data/items/items.xml
Labels: Area: Datapack Global, Area: Datapack Core

#1566 feat: reward durable exercise weapon
  config.lua.dist
  data-otservbr-global/lib/core/storages.lua
  data-otservbr-global/scripts/creaturescripts/customs/reward_exercise.lua
  data/scripts/talkactions/player/reward.lua
  src/config/config_definitions.hpp
  src/config/configmanager.cpp
  src/lua/functions/core/game/config_functions.cpp
Labels: Area: Source, Area: Datapack Global, Area: Datapack Core

#1684 fix: suppress compilation warning
  src/kv/value_wrapper.hpp
Labels: Area: Source

#1679 feat: monster critical chance and multipliers refactor
  data-otservbr-global/monster/bosses/doctor_marrow.lua
  data-otservbr-global/scripts/lib/register_monster_type.lua
  src/creatures/combat/combat.cpp
  src/creatures/combat/combat.hpp
  src/creatures/monsters/monster.cpp
  src/creatures/monsters/monster.hpp
  src/creatures/monsters/monsters.hpp
  src/lua/functions/creatures/monster/monster_type_functions.cpp
  src/lua/functions/creatures/monster/monster_type_functions.hpp
Labels: Area: Source, Area: Datapack Global

#1678 fix: fluid type must be within enum
  src/items/item.cpp
Labels: Area: Source

#1694 fix: bug reports for players with spaces in their name
  data/events/scripts/player.lua
  data/libs/functions/fs.lua
Labels: Area: Datapack Core

#1698 fix: fluid clamp
  src/items/item.cpp
Labels: Area: Source

#1695 improve: using parallel_flat_hash on connections
  src/server/network/connection/connection.cpp
  src/server/network/connection/connection.hpp
Labels: Area: Source

#1685 refactor: dispatch system
  src/canary_server.cpp
  src/creatures/combat/condition.cpp
  src/creatures/creature.cpp
  src/creatures/interactions/chat.cpp
  src/creatures/monsters/monster.cpp
  src/creatures/monsters/spawns/spawn_monster.cpp
  src/creatures/npcs/npc.cpp
  src/creatures/npcs/spawns/spawn_npc.cpp
  src/creatures/players/player.cpp
  src/database/databasetasks.cpp
  src/game/CMakeLists.txt
  src/game/game.cpp
  src/game/game.hpp
  src/game/scheduling/dispatcher.cpp
  src/game/scheduling/dispatcher.hpp
  src/game/scheduling/scheduler.cpp
  src/game/scheduling/scheduler.hpp
  src/game/scheduling/task.cpp
  src/game/scheduling/task.hpp
  src/io/io_bosstiary.cpp
  src/io/iomarket.cpp
  src/items/bed.cpp
  src/items/decay/decay.cpp
  src/lua/creature/raids.cpp
  src/lua/functions/core/game/game_functions.cpp
  src/lua/functions/core/game/global_functions.cpp
  src/lua/functions/lua_functions_loader.cpp
  src/lua/functions/lua_functions_loader.hpp
  src/lua/global/globalevent.cpp
  src/server/network/connection/connection.cpp
  src/server/network/message/outputmessage.cpp
  src/server/network/protocol/protocol.cpp
  src/server/network/protocol/protocolgame.cpp
  src/server/network/protocol/protocolgame.hpp
  src/server/network/protocol/protocollogin.cpp
  src/server/network/protocol/protocolstatus.cpp
  src/server/network/webhook/webhook.cpp
  src/server/server.cpp
  src/server/signals.cpp
  src/utils/tools.cpp
  src/utils/tools.hpp
  vcproj/canary.vcxproj
Labels: Area: Source

#1696 fix: wrong method to check cask item
  data-otservbr-global/scripts/actions/other/cask_kegs.lua
  data/modules/scripts/gamestore/gamestore.lua
Labels: Area: Datapack Global, Area: Datapack Core

#1704 fix: stack overflow in bug report
  data/libs/functions/fs.lua
Labels: Area: Datapack Core

#1560 feat: fully async saves
  src/creatures/creature.cpp
  src/creatures/creature.hpp
  src/creatures/monsters/monster.cpp
  src/creatures/players/player.cpp
  src/creatures/players/player.hpp
  src/creatures/players/wheel/player_wheel.cpp
  src/game/CMakeLists.txt
  src/game/bank/bank.cpp
  src/game/game.cpp
  src/game/game.hpp
  src/game/scheduling/save_manager.cpp
  src/game/scheduling/save_manager.hpp
  src/io/iologindata.cpp
  src/io/iomap.cpp
  src/io/iomapserialize.cpp
  src/io/iomarket.cpp
  src/items/bed.cpp
  src/items/containers/container.cpp
  src/items/containers/mailbox/mailbox.cpp
  src/lua/functions/core/game/global_functions.cpp
  src/lua/functions/creatures/player/player_functions.cpp
  src/lua/functions/items/item_functions.cpp
  src/map/house/house.cpp
  src/server/signals.cpp
  src/utils/benchmark.hpp
  vcproj/canary.vcxproj
Labels: Area: Source

#1677 feat: Arraylist, fast new container to add front and back
  src/pch.hpp
  src/utils/arraylist.hpp
  vcproj/canary.vcxproj
Labels: Area: Source

#1717 fix: fire axe quest
  data-otservbr-global/startup/tables/chest.lua
Labels: Area: Datapack Global

#1714 improve: createItemBatch
  src/game/game.cpp
  src/game/game.hpp
  src/items/thing.hpp
  src/lua/functions/creatures/npc/npc_functions.cpp
Labels: Area: Source

#1716 fix: house_lists version column in database with wrong type
  data-otservbr-global/migrations/40.lua
  schema.sql
Labels: Area: Datapack Global

#1713 feat: datapack improvements
  data-otservbr-global/npc/....lua
  data-otservbr-global/npc/battlemart.lua
  data-otservbr-global/npc/john_bounac.lua
  data-otservbr-global/npc/the_bone_master.lua
  data-otservbr-global/npc/the_dream_master.lua
  data-otservbr-global/scripts/actions/addons/addons.lua
  data-otservbr-global/scripts/actions/other/bag_you_desire.lua
  data-otservbr-global/scripts/actions/other/exercise_training.lua
  data-otservbr-global/scripts/actions/other/others/quest_system1.lua
  data-otservbr-global/scripts/actions/quests/a_pirates_tail/cheesy_key.lua
  data-otservbr-global/scripts/actions/quests/feaster_of_souls/dread_maiden_lever.lua
  data-otservbr-global/scripts/actions/quests/feaster_of_souls/fear_feaster_lever.lua
  data-otservbr-global/scripts/actions/quests/feaster_of_souls/pale_worm_lever.lua
  data-otservbr-global/scripts/actions/quests/feaster_of_souls/unwelcome_lever.lua
  data-otservbr-global/scripts/actions/quests/first_dragon/rewards.lua
  data-otservbr-global/scripts/actions/quests/first_dragon/treasure_chest.lua
  data-otservbr-global/scripts/actions/quests/grimvale/portal_minis_grimvale.lua
  data-otservbr-global/scripts/actions/quests/lions_rock/lions_rock.lua
  data-otservbr-global/scripts/actions/quests/secret_library/ghulosh_lever.lua
  data-otservbr-global/scripts/actions/quests/secret_library/gorzindel_lever.lua
  data-otservbr-global/scripts/actions/quests/secret_library/mazzinor_lever.lua
  data-otservbr-global/scripts/actions/quests/soul_war/soulwar_entrances.lua
  data-otservbr-global/scripts/actions/tools/rust_remover.lua
  data-otservbr-global/scripts/creaturescripts/quests/a_pirates_tail/ratmiral_death.lua
  data-otservbr-global/scripts/creaturescripts/quests/a_pirates_tail/tentugly_death.lua
  data-otservbr-global/scripts/globalevents/quests/druid_outfits_blooming_griffinclaw.lua
  data-otservbr-global/scripts/movements/quests/pits_of_inferno/throne.lua
  data-otservbr-global/world/otservbr-npc.xml
  data/libs/achievements_lib.lua
  data/libs/functions/player.lua
  data/libs/functions/tile.lua
  data/scripts/eventcallbacks/monster/ondroploot__base.lua
  data/scripts/reward_chest/boss_death.lua
  data/scripts/talkactions/player/bank.lua
  data/scripts/talkactions/player/bless.lua
  data/scripts/talkactions/player/buy_house.lua
  data/scripts/talkactions/player/leave_house.lua
  data/scripts/talkactions/player/sell_house.lua
Labels: Area: Datapack Global, Area: Map Global, Area: Datapack Core

#1691 improve: ip cache
  src/server/network/connection/connection.cpp
  src/server/network/connection/connection.hpp
Labels: Area: Source

#1715 fix: divine grenade
  src/creatures/players/wheel/player_wheel.cpp
  src/creatures/players/wheel/wheel_definitions.hpp
  src/game/game.cpp
Labels: Area: Source

#1722 fix: missing john (bounac) script
  data-otservbr-global/npc/john_bounac.lua
Labels: Area: Datapack Global

#1670 improve: removing -1 values ​​in gameStorages from cache
  data/libs/functions/game.lua
Labels: Area: Datapack Core

#1671 improve: remove unused attribute targetTicks from Monster class
  src/creatures/monsters/monster.hpp
Labels: Area: Source

#1681 fix: spell upgrade in wheel of destiny
  data-otservbr-global/scripts/spells/attack/divine_grenade.lua
  src/creatures/players/wheel/player_wheel.cpp
Labels: Area: Source, Area: Datapack Global

#1723 fix: home offers linking correctly
  data/modules/scripts/gamestore/init.lua
Labels: Area: Datapack Core

#1725 fix: stop loop on internalDecayItem function
  src/items/decay/decay.cpp
  src/items/functions/item/item_parse.cpp
Labels: Area: Source

#1712 feat: implement OTBM Zones, encounters, and raids systems
  data-otservbr-global/raids/raids.xml
  data-otservbr-global/scripts/globalevents/spawn/raids.lua
  data-otservbr-global/scripts/lib/register_actions.lua
  data-otservbr-global/scripts/lib/register_monster_type.lua
  data-otservbr-global/scripts/quests/primal_ordeal_quest/magma_bubble_fight.lua
  data-otservbr-global/scripts/raids/thais/rats.lua
  data-otservbr-global/scripts/raids/thais/wild_horses.lua
  data/events/events.xml
  data/libs/encounters_lib.lua
  data/libs/functions/bosslever.lua
  data/libs/functions/functions.lua
  data/libs/hazard_lib.lua
  data/libs/libs.lua
  data/libs/raids_lib.lua
  data/libs/zones_lib.lua
  data/scripts/eventcallbacks/player/on_look.lua
  data/scripts/globalevents/encounters.lua
  data/scripts/globalevents/raids.lua
  src/canary_server.cpp
  src/creatures/creature.cpp
  src/creatures/creature.hpp
  src/creatures/monsters/monsters.cpp
  src/creatures/monsters/monsters.hpp
  src/creatures/monsters/spawns/spawn_monster.cpp
  src/creatures/monsters/spawns/spawn_monster.hpp
  src/creatures/npcs/npc.cpp
  src/creatures/npcs/spawns/spawn_npc.cpp
  src/creatures/players/grouping/party.cpp
  src/creatures/players/player.cpp
  src/creatures/players/player.hpp
  src/game/game.cpp
  src/game/game.hpp
  src/game/zones/zone.cpp
  src/game/zones/zone.hpp
  src/io/functions/iologindata_load_player.cpp
  src/io/io_definitions.hpp
  src/io/iobestiary.cpp
  src/io/iomap.cpp
  src/io/iomap.hpp
  src/io/iomapserialize.cpp
  src/items/item.cpp
  src/items/tile.cpp
  src/items/tile.hpp
  src/lua/functions/core/game/game_functions.cpp
  src/lua/functions/core/game/zone_functions.cpp
  src/lua/functions/core/game/zone_functions.hpp
  src/lua/functions/creatures/monster/monster_type_functions.cpp
  src/lua/functions/creatures/monster/monster_type_functions.hpp
  src/lua/functions/lua_functions_loader.hpp
  src/map/map.cpp
  src/map/map.hpp
  src/map/mapcache.cpp
  src/utils/utils_definitions.hpp
Labels: Area: Source, Area: Datapack Global, Area: Datapack Core

#1682 fix: koshei door wrong id and positions
  data-otservbr-global/scripts/actions/quests/koshei_amulet/switch.lua
Labels: Area: Datapack Global

#1693 fix: Oberon to recognize only talktype say messages
  data-otservbr-global/monster/quests/the_secret_library/bosses/grand_master_oberon.lua
Labels: Area: Datapack Global

#1635 fix: transform foreshock and aftershock
  data-otservbr-global/scripts/actions/quests/heart_of_destruction/quake_lever.lua
  data-otservbr-global/scripts/creaturescripts/quests/heart_of_destruction/aftershock_transform.lua
  data-otservbr-global/scripts/creaturescripts/quests/heart_of_destruction/foreshock_transform.lua
  data-otservbr-global/scripts/creaturescripts/quests/heart_of_destruction/shocks_death.lua
Labels: Area: Datapack Global

#1720 fix: gamestore adjustment
  data/modules/scripts/gamestore/gamestore.lua
Labels: Area: Datapack Core

#1706 fix: earth protection parsing
  src/items/functions/item/item_parse.cpp
Labels: Area: Source

#1711 fix: correct function of hasTraceableContext
  src/game/scheduling/task.hpp
Labels: Area: Source

#1654 fix: damage with mana shield on impact tracker
  src/game/game.cpp
Labels: Area: Source

#1727 fix: unable to get promotion
  data-canary/lib/core/storages.lua
  data-canary/scripts/creaturescripts/login.lua
  data-otservbr-global/scripts/creaturescripts/others/login.lua
  data/libs/functions/player.lua
  data/npclib/npc_system/modules.lua
  src/creatures/players/wheel/player_wheel.cpp
  src/lua/functions/creatures/player/player_functions.cpp
  src/lua/functions/creatures/player/player_functions.hpp
  src/utils/const.hpp
Labels: Area: Source, Area: Datapack Global, Area: Datapack Canary, Area: Datapack Core

#1610 feat: add again remove reward containers if is empty
  src/creatures/players/player.cpp
  src/creatures/players/player.hpp
  src/items/containers/container.cpp
  src/items/containers/container.hpp
  src/lua/creature/actions.cpp
Labels: Area: Source

#1729 feat: update public and internal server versions
  src/canary_server.cpp
  src/core.hpp
Labels: Area: Source

#1730 fix: map download url to new release
  config.lua.dist
  data-otservbr-global/world/otservbr-house.xml
  data-otservbr-global/world/otservbr-zones.xml
Labels: Area: Map Global

#1738 fix: valid names in house list
  src/map/house/house.cpp
  src/utils/tools.cpp
  src/utils/tools.hpp
Labels: Area: Source

#1735 fix: highscore client
  src/creatures/players/player.hpp
  src/game/game.cpp
  src/game/game.hpp
  src/server/network/protocol/protocolgame.cpp
  src/server/network/protocol/protocolgame.hpp
Labels: Area: Source

#1732 improve: dispatcher
  src/game/scheduling/dispatcher.cpp
  src/game/scheduling/dispatcher.hpp
  src/game/scheduling/task.cpp
  src/game/scheduling/task.hpp
  src/lib/thread/thread_pool.cpp
  src/lib/thread/thread_pool.hpp
Labels: Area: Source

#1625 fix: add royal costume outfits quest
  data-otservbr-global/lib/core/storages.lua
  data-otservbr-global/npc/percybald.lua
Labels: Area: Datapack Global

#1744 fix: royal outfit memorial
  data-otservbr-global/scripts/actions/other/golden_outfit_memorial.lua
  data-otservbr-global/scripts/actions/other/outfit_memorial.lua
Labels: Area: Datapack Global

#1742 fix: yonan npc now can exchange items
  data-otservbr-global/npc/percybald.lua
  data-otservbr-global/npc/yonan.lua
Labels: Area: Datapack Global

#1741 fix: some scripts
  data-otservbr-global/lib/core/storages.lua
  data-otservbr-global/monster/bosses/the_first_dragon.lua
  data-otservbr-global/monster/quests/a_pirates_tail_quest/ratmiral_blackwhiskers.lua
  data-otservbr-global/monster/quests/soul_war/goshnars_megalomania.lua
  data-otservbr-global/monster/trainers/training_machine.lua
  data-otservbr-global/scripts/actions/adventurers_guild/adventurers_stone.lua
  data-otservbr-global/scripts/actions/other/potions.lua
  data-otservbr-global/scripts/actions/quests/dangerous_depth/gnomish_pesticide.lua
  data-otservbr-global/scripts/actions/quests/dangerous_depth/using_crystals.lua
  data-otservbr-global/scripts/actions/quests/feaster_of_souls/portal_minis_feaster.lua
  data-otservbr-global/scripts/actions/quests/ferumbras_ascendant/ferumbras_lever.lua
  data-otservbr-global/scripts/actions/quests/kilmaresh/portal_minis_kilmaresh.lua
  data-otservbr-global/scripts/actions/quests/soul_war/reward_soul_war.lua
  data-otservbr-global/scripts/actions/quests/the_dream_courts/dream_courts_lever.lua
  data-otservbr-global/scripts/creaturescripts/quests/a_pirates_tail/ratmiral_death.lua
  data-otservbr-global/scripts/custom/movement_trainer_entrance.lua
  data-otservbr-global/scripts/movements/quests/cults_of_tibia/boss_timer.lua
  data-otservbr-global/scripts/movements/quests/first_dragon/entrance_teleport.lua
  data-otservbr-global/scripts/movements/quests/forgotten_knowledge/servant_teleport.lua
  data/events/scripts/player.lua
  data/libs/functions/player.lua
  data/scripts/reward_chest/boss_death.lua
  src/creatures/players/player.cpp
  src/server/network/protocol/protocolgame.cpp
  src/server/network/webhook/webhook.cpp
Labels: Area: Source, Area: Datapack Global, Area: Datapack Core

#1590 feat: improve imbuement assistant npc
  data-otservbr-global/npc/imbuement_assistant.lua
  data-otservbr-global/npc/the_lootmonger.lua
  data-otservbr-global/world/custom/otservbr-custom-npc.xml
  data/XML/imbuements.xml
Labels: Area: Datapack Global, Area: Datapack Core

#1736 improve: add utility functions to encounter/bosslever
  data-otservbr-global/monster/bosses/doctor_marrow.lua
  data-otservbr-global/npc/imbuement_assistant.lua
  data/items/items.xml
  data/libs/encounters_lib.lua
  data/libs/functions/bosslever.lua
  data/libs/zones_lib.lua
  src/creatures/combat/combat.cpp
  src/creatures/creature.cpp
  src/creatures/players/player.cpp
Labels: Area: Source, Area: Datapack Global, Area: Datapack Core

#1748 fix: custom attribute value string/bool/double
  src/items/functions/item/custom_attribute.cpp
Labels: Area: Source

#1749 fix: login with account name on old protocol (11.00)
  config.lua.dist
  src/account/account.cpp
  src/account/account_repository.hpp
  src/account/account_repository_db.cpp
  src/account/account_repository_db.hpp
  src/canary_server.cpp
  src/core.hpp
  src/lib/logging/log_with_spd_log.cpp
  src/server/network/protocol/protocolstatus.cpp
  src/server/network/protocol/protocolstatus.hpp
  tests/fixture/account/in_memory_account_repository.hpp
  tests/integration/main.cpp
Labels: Area: Source

#1758 feat: The Paleworm loot and mount
  data-otservbr-global/monster/quests/feaster_of_souls/the_pale_worm.lua
  data-otservbr-global/scripts/actions/mounts/haze_mount.lua
Labels: Area: Datapack Global
