Repository opentibiabr/canary, pull requests merged in 2023-06, with the labels that each got.

#1146 fix: goshnar's spite corpse
  data-otservbr-global/monster/quests/soul_war/goshnars_spite.lua
Labels: Area: Datapack Global

#1157 fix walk speed from scarlett etzel
  data-otservbr-global/monster/quests/grave_danger/bosses/scarlett_etzel.lua
Labels: Area: Datapack Global

#1144 fix: crash closeserver
  src/server/network/protocol/protocolgame.cpp
Labels: Area: Source

#1138 feat: creature setspeed function to LuaScriptInterface
  src/game/game.cpp
  src/game/game.h
  src/lua/functions/creatures/creature_functions.cpp
  src/lua/functions/creatures/creature_functions.hpp
Labels: Area: Source

#1137 fix: client display and gain experience
  config.lua.dist
  data-canary/scripts/creaturescripts/advance_save.lua
  data-canary/scripts/creaturescripts/login.lua
  data-otservbr-global/scripts/creaturescripts/others/advance_save.lua
  data-otservbr-global/scripts/creaturescripts/others/login.lua
  data/XML/familiars.xml
  data/events/scripts/player.lua
  data/libs/functions/player.lua
  src/config/config_definitions.hpp
  src/config/configmanager.cpp
  src/lua/functions/core/game/config_functions.cpp
  src/server/network/protocol/protocolgame.cpp
Labels: Area: Source, Area: Datapack Global, Area: Datapack Canary, Area: Datapack Core

#1160 fix: gold pouch validations
  src/game/game.cpp
Labels: Area: Source

#1159 fix: helmets and hats
  data-otservbr-global/scripts/movements/equipment/unscripted_equipments.lua
  data/items/items.xml
Labels: Area: Datapack Global, Area: Datapack Core

#1149 fix: reward collect loop
  src/creatures/players/player.cpp
Labels: Area: Source

#1163 fix: chivalrous and challenge creature cooldown
  data-canary/scripts/spells/support/chivalrous_challenge.lua
  data-otservbr-global/scripts/spells/support/chivalrous_challenge.lua
  src/creatures/monsters/monster.cpp
Labels: Area: Source, Area: Datapack Global, Area: Datapack Canary

#1166 fix: Syntax error
  data-otservbr-global/scripts/movements/equipment/unscripted_equipments.lua
Labels: Area: Datapack Global

#1164 fix: crash on logout player
  src/server/network/protocol/protocolgame.cpp
Labels: Area: Source

#1170 fix: amulets attributes
  data-otservbr-global/scripts/movements/equipment/unscripted_equipments.lua
  data/items/items.xml
Labels: Area: Datapack Global, Area: Datapack Core

#1172 fix: wands and rods attributes
  data-otservbr-global/scripts/movements/equipment/unscripted_equipments.lua
  data/items/items.xml
Labels: Area: Datapack Global, Area: Datapack Core

#1168 fix: gold pouch validations
  src/game/game.cpp
  src/game/game.h
Labels: Area: Source

#1167 fix: distance weapons attributes
  data-otservbr-global/scripts/movements/equipment/unscripted_equipments.lua
  data/items/items.xml
Labels: Area: Datapack Global, Area: Datapack Core

#1174 fix: in service of yalahar quest small adjustment
  data-otservbr-global/npc/palimuth.lua
  data-otservbr-global/scripts/actions/quests/in_service_of_yalahar/reward.lua
Labels: Area: Datapack Global

#1173 fix: lookTypeEx
  data-otservbr-global/migrations/29.lua
  data-otservbr-global/migrations/30.lua
  schema.sql
  src/game/game.cpp
  src/io/io_bosstiary.cpp
Labels: Area: Source, Area: Datapack Global

#1165 fix: allow stow all items of this type from loot/gold pouch
  src/creatures/players/player.cpp
Labels: Area: Source

#1150 fix: shadow nexus inquisition item decay
  data-otservbr-global/scripts/actions/quests/others/holy_water.lua
Labels: Area: Datapack Global

#1013 feat: gnomprona monsters and npcs
  data-otservbr-global/lib/core/storages.lua
  data-otservbr-global/monster/birds/headpecker.lua
  data-otservbr-global/monster/birds/jungle_moa.lua
  data-otservbr-global/monster/constructs/shrieking_cry-stal.lua
  data-otservbr-global/monster/elementals/sulphur_spouter.lua
  data-otservbr-global/monster/elementals/unchained_fire.lua
  data-otservbr-global/monster/giants/beast_hulking_prehemoth.lua
  data-otservbr-global/monster/giants/hulking_prehemoth.lua
  data-otservbr-global/monster/mammals/beast_gore_horn.lua
  data-otservbr-global/monster/mammals/beast_gorerilla.lua
  data-otservbr-global/monster/mammals/beast_sabretooth.lua
  data-otservbr-global/monster/mammals/giant_beaver.lua
  data-otservbr-global/monster/mammals/gore_horn.lua
  data-otservbr-global/monster/mammals/gorerilla.lua
  data-otservbr-global/monster/mammals/nighthunter.lua
  data-otservbr-global/monster/mammals/parder.lua
  data-otservbr-global/monster/mammals/sabretooth.lua
  data-otservbr-global/monster/plants/stalking_stalk.lua
  data-otservbr-global/monster/quests/primal_ordeal_quest/magma_bubble.lua
  data-otservbr-global/monster/quests/primal_ordeal_quest/the_primal_menace.lua
  data-otservbr-global/monster/reptiles/corrupt_naga.lua
  data-otservbr-global/monster/reptiles/emerald_tortoise.lua
  data-otservbr-global/monster/reptiles/fungosaurus.lua
  data-otservbr-global/monster/reptiles/mantosaurus.lua
  data-otservbr-global/monster/reptiles/mercurial_menace.lua
  data-otservbr-global/monster/reptiles/noxious_ripptor.lua
  data-otservbr-global/monster/reptiles/rogue_naga.lua
  data-otservbr-global/monster/vermins/brimstone_bug.lua
  data-otservbr-global/monster/vermins/sulphider.lua
  data-otservbr-global/monster/vermins/undertaker.lua
  data-otservbr-global/npc/gnomadness.lua
  data-otservbr-global/npc/gnomfurry.lua
  data-otservbr-global/npc/gnominer.lua
  data-otservbr-global/npc/gnomish_operative_cathing.lua
  data-otservbr-global/npc/gnomish_operative_gt-m-01.lua
  data-otservbr-global/npc/gnomish_operative_raiders.lua
  data-otservbr-global/npc/gnomish_operative_resonating.lua
  data-otservbr-global/npc/gnomish_operative_volcano.lua
  data-otservbr-global/scripts/quests/primal_ordeal_quest/magma_bubble_lever.lua
  data-otservbr-global/scripts/quests/primal_ordeal_quest/ore_wagons_gnoproma.lua
  data-otservbr-global/scripts/quests/primal_ordeal_quest/the_primal_manace_lever.lua
  data-otservbr-global/world/otservbr-npc.xml
  data/items/items.xml
Labels: Area: Datapack Global, Area: Map Global, Area: Datapack Core

#1180 fix: shields and spellbooks attributes
  data-otservbr-global/scripts/movements/equipment/unscripted_equipments.lua
  data/items/items.xml
Labels: Area: Datapack Global, Area: Datapack Core

#1186 fix: swords attributes
  data-otservbr-global/scripts/movements/equipment/unscripted_equipments.lua
  data-otservbr-global/scripts/weapons/unscripted_weapons.lua
  data/items/items.xml
Labels: Area: Datapack Global, Area: Datapack Core

#1188 fix: boots attributes
  data-otservbr-global/scripts/movements/equipment/unscripted_equipments.lua
  data/items/items.xml
Labels: Area: Datapack Global, Area: Datapack Core

#1189 fix: legs attributes
  data-otservbr-global/scripts/movements/equipment/unscripted_equipments.lua
Labels: Area: Datapack Global

#1191 fix: armors attributes
  data-otservbr-global/scripts/movements/equipment/unscripted_equipments.lua
  data/items/items.xml
Labels: Area: Datapack Global, Area: Datapack Core

#1193 fix: clubs attributes
  data-otservbr-global/scripts/movements/equipment/unscripted_equipments.lua
  data-otservbr-global/scripts/weapons/unscripted_weapons.lua
  data/items/items.xml
Labels: Area: Datapack Global, Area: Datapack Core

#1194 fix: axes attributes
  data-otservbr-global/scripts/movements/equipment/unscripted_equipments.lua
  data-otservbr-global/scripts/weapons/unscripted_weapons.lua
  data/items/items.xml
Labels: Area: Datapack Global, Area: Datapack Core

#1200 fix: npc trade item tier bug
  src/creatures/players/player.cpp
  src/creatures/players/player.h
Labels: Area: Source

#1209 fix: hazard system debug move creature
  src/server/network/protocol/protocolgame.cpp
Labels: Area: Source

#1210 fix: hireling vial item to correct id
  data-otservbr-global/npc/hireling.lua
Labels: Area: Datapack Global

#1208 fix: monster runAwayHealth respects multiplier
  src/creatures/monsters/monster.cpp
  src/creatures/monsters/monster.h
Labels: Area: Source
