Repository opentibiabr/canary, pull requests merged in 2023-02, with the labels that each got.

#828 fix: speed attribute when looking items
  src/items/item.cpp
Labels: Area: Source

#755 fix: distance weapons shouldn't hit with fists when without ammo
  src/creatures/players/player.cpp
  src/creatures/players/player.h
Labels: Area: Source

#822 fix: stow all stowable items by moving depot above stash
  src/game/game.cpp
  src/game/game.h
Labels: Area: Source

#819 fix: display imbuement damage reductions in cyclopedia
  data/items/items.xml
  src/creatures/players/player.cpp
  src/creatures/players/player.h
  src/server/network/protocol/protocolgame.cpp
Labels: Area: Source, Area: Datapack Core

#753 fix: some conditions shouldn't trigger charms/leech, refactoring, wound cleansing fix, life leech amount fix
  data-canary/scripts/spells/healing/wound_cleansing.lua
  data-otservbr-global/scripts/spells/healing/wound_cleansing.lua
  src/game/game.cpp
  src/game/game.h
Labels: Area: Source, Area: Datapack Global, Area: Datapack Canary

#823 fix: summons move items off the way and follow correct moving pattern
  data-otservbr-global/monster/demons/fire_devil.lua
  data-otservbr-global/monster/magicals/icecold_book.lua
  src/creatures/creature.cpp
  src/creatures/creature.h
  src/creatures/monsters/monster.cpp
  src/creatures/monsters/monster.h
Labels: Area: Source, Area: Datapack Global

#838 fix: server shutdown in ubuntu, resolves main thread loop
  src/database/databasetasks.cpp
  src/game/game.cpp
Labels: Area: Source

#839 fix: monster target list erasing after player died
  src/creatures/creature.cpp
  src/creatures/players/player.cpp
Labels: Area: Source

#782 fix: add missing items on unscripted equipments
  data-otservbr-global/scripts/movements/equipment/unscripted_equipments.lua
  data/items/items.xml
Labels: Area: Datapack Global, Area: Datapack Core

#832 fix: compilation with new version mio library from vcpkg
  .github/workflows/analysis-sonarcloud.yml
  .github/workflows/build-ubuntu.yml
  .github/workflows/build-windows.yml
  docker/Dockerfile.arm
  docker/Dockerfile.x86
  src/CMakeLists.txt
  vcpkg.json
Labels: Area: Source, Area: Docker

#842 fix: Canary NPC example addModule missing parameters
  data-canary/npc/canary.lua
Labels: Area: Datapack Canary

#827 improve: rework of Item Attributes for better stability/maintability
  data-otservbr-global/scripts/actions/other/hirelinglamp.lua
  data-otservbr-global/scripts/actions/quests/dangerous_depth/lever_barrel.lua
  data-otservbr-global/scripts/movements/quests/cults_of_tibia/begin_task.lua
  data-otservbr-global/scripts/movements/quests/cults_of_tibia/task_teleport.lua
  data/libs/functions/functions.lua
  data/libs/hireling_lib.lua
  src/CMakeLists.txt
  src/creatures/combat/combat.cpp
  src/creatures/monsters/monster.cpp
  src/creatures/players/player.cpp
  src/enums/item_attribute.hpp
  src/game/game.cpp
  src/io/iologindata.cpp
  src/io/iologindata.h
  src/io/iomarket.cpp
  src/items/bed.cpp
  src/items/containers/container.cpp
  src/items/containers/mailbox/mailbox.cpp
  src/items/decay/decay.cpp
  src/items/functions/item/attribute.cpp
  src/items/functions/item/attribute.hpp
  src/items/functions/item/custom_attribute.cpp
  src/items/functions/item/custom_attribute.hpp
  src/items/functions/item/item_parse.cpp
  src/items/functions/item/item_parse.hpp
  src/items/item.cpp
  src/items/item.h
  src/items/items.cpp
  src/items/items_definitions.hpp
  src/items/tile.cpp
  src/lua/creature/actions.cpp
  src/lua/creature/movement.cpp
  src/lua/functions/core/game/game_functions.cpp
  src/lua/functions/core/game/lua_enums.cpp
  src/lua/functions/creatures/npc/npc_functions.cpp
  src/lua/functions/creatures/player/player_functions.cpp
  src/lua/functions/items/container_functions.cpp
  src/lua/functions/items/item_functions.cpp
  src/lua/scripts/script_environment.cpp
  src/map/house/house.cpp
  src/map/house/house.h
  src/pch.hpp
  src/protobuf/appearances.pb.h
  src/server/network/protocol/protocolgame.cpp
  src/utils/tools.cpp
  src/utils/tools.h
  src/utils/utils_definitions.hpp
Labels: Area: Source, Area: Datapack Global, Area: Datapack Core

#841 fix: client debug and show not targeting player when dying near temple
  src/creatures/players/player.cpp
Labels: Area: Source

#830 fix: some errors in lua scripts
  data-otservbr-global/scripts/quests/kilmaresh/1-fafnars-wrath/6-mind-travel.lua
  data-otservbr-global/startup/tables/chest.lua
Labels: Area: Datapack Global

#759 fix: NPC Ongulf
  data-otservbr-global/npc/ongulf.lua
Labels: Area: Datapack Global

#760 fix: remove money lua function should remove money from bank too
  src/lua/functions/creatures/player/player_functions.cpp
Labels: Area: Source

#756 fix: players shouldn't pathfind through fields
  src/items/tile.cpp
  src/items/tile.h
Labels: Area: Source

#845 fix: set target when convince creature
  data/libs/functions/creature.lua
Labels: Area: Datapack Core

#843 build: deactivate build windows debug
  .github/workflows/build-windows.yml
  CMakePresets.json
  src/CMakeLists.txt
Labels: Area: Source

#648 feat: standardize lever functionality
  data-otservbr-global/scripts/actions/quests/ferumbras_ascendant/mazoran_lever.lua
  data-otservbr-global/scripts/actions/quests/ferumbras_ascendant/plagirath_lever.lua
  data-otservbr-global/scripts/actions/quests/ferumbras_ascendant/ragiaz_lever.lua
  data-otservbr-global/scripts/actions/quests/ferumbras_ascendant/razzagorn_lever.lua
  data-otservbr-global/scripts/actions/quests/ferumbras_ascendant/shulgrax_lever.lua
  data-otservbr-global/scripts/actions/quests/ferumbras_ascendant/tarbaz_lever.lua
  data-otservbr-global/scripts/actions/quests/ferumbras_ascendant/zamulosh_lever.lua
  data-otservbr-global/scripts/actions/quests/the_dreams_courts/lever.lua
  data-otservbr-global/scripts/creaturescripts/quests/ferumbras_ascendant/bosses_kill.lua
  data/libs/functions/lever.lua
Labels: Area: Datapack Global, Stale, Area: Datapack Core

#849 fix: high CPU usage issue on linux
  src/database/databasetasks.cpp
  src/game/game.cpp
  src/game/scheduling/scheduler.cpp
  src/game/scheduling/tasks.cpp
Labels: Area: Source

#840 fix: house clean-up and item wrap issues
  src/game/game.cpp
  src/game/game.h
  src/map/house/house.cpp
  src/map/house/house.h
Labels: Area: Source

#792 fix: Wrath of the Emperor teleport
  data-otservbr-global/scripts/movements/quests/wrath_of_the_emperor/teleports_access.lua
Labels: Area: Datapack Global

#743 fix: "towns" table database fill issue
  data-otservbr-global/scripts/globalevents/others/startup.lua
Labels: Area: Datapack Global

#742 fix: loop in movement "stepin/out" and "addItem/remove" events
  data/npclib/npc_system/modules.lua
  src/game/game.cpp
  src/lua/creature/movement.cpp
  src/lua/functions/creatures/creature_functions.cpp
Labels: Area: Source, Area: Datapack Core

#714 fix: prevent bugs in transfer coins
  data/modules/scripts/gamestore/init.lua
  src/lua/functions/creatures/player/player_functions.cpp
  src/lua/functions/creatures/player/player_functions.hpp
Labels: Area: Source, Area: Datapack Core

#853 fix: general fixes, npc "poff" on hit and walk on fields, window projectile blocking and npc speech bubble
  data-canary/scripts/lib/register_npc_type.lua
  data-otservbr-global/scripts/lib/register_npc_type.lua
  data/items/items.xml
  src/creatures/combat/combat.cpp
  src/creatures/combat/condition.cpp
  src/creatures/creatures_definitions.hpp
  src/creatures/npcs/npcs.cpp
  src/creatures/npcs/npcs.h
  src/items/items.cpp
  src/items/tile.cpp
  src/items/tile.h
  src/lua/functions/core/game/lua_enums.cpp
  src/lua/functions/creatures/player/player_functions.cpp
  src/lua/functions/creatures/player/player_functions.hpp
Labels: Area: Source, Area: Datapack Global, Area: Datapack Canary, Area: Datapack Core

#854 fix: attribute integer not working
  src/items/functions/item/custom_attribute.hpp
  src/items/item.h
Labels: Area: Source

#846 fix: empty reward bags should disappear after closing/opening reward chest
  data-canary/scripts/reward_chest/boss_death.lua
  data-otservbr-global/migrations/25.lua
  data-otservbr-global/migrations/26.lua
  data-otservbr-global/scripts/reward_chest/boss_death.lua
  data/libs/reward_boss/reward_boss.lua
  src/creatures/players/player.cpp
  src/creatures/players/player.h
  src/io/functions/iologindata_load_player.cpp
  src/io/functions/iologindata_load_player.hpp
  src/io/functions/iologindata_save_player.cpp
  src/io/functions/iologindata_save_player.hpp
  src/io/iologindata.cpp
  src/io/iologindata.h
  src/items/containers/container.cpp
  src/items/containers/container.h
  src/items/item.cpp
  src/lua/creature/actions.cpp
  src/lua/functions/creatures/player/player_functions.cpp
Labels: Area: Source, Area: Datapack Global, Area: Datapack Canary, Area: Datapack Core

#859 fix: add migrations to create "towns" table
  data-otservbr-global/migrations/26.lua
  data-otservbr-global/migrations/27.lua
Labels: Area: Datapack Global

#763 fix: player auto id (fixing 65536 player id max size)
  src/creatures/monsters/monster.cpp
  src/creatures/players/player.cpp
  src/creatures/players/player.h
  src/game/game.cpp
  src/lua/functions/creatures/player/player_functions.cpp
Labels: Area: Source

#812 fix: gamestore purchase history on ARM architecture
  data/modules/scripts/gamestore/init.lua
  src/lua/functions/core/network/network_message_functions.cpp
  src/lua/functions/core/network/network_message_functions.hpp
Labels: Area: Source, Area: Datapack Core

#860 fix: remove shared_ptr from reward
  data-canary/scripts/reward_chest/boss_death.lua
  data-otservbr-global/scripts/reward_chest/boss_death.lua
  data/events/scripts/monster.lua
  data/libs/reward_boss/reward_boss.lua
  src/creatures/players/player.cpp
  src/creatures/players/player.h
  src/io/functions/iologindata_save_player.cpp
  src/lua/creature/actions.cpp
  src/lua/functions/creatures/player/player_functions.cpp
  src/lua/functions/items/container_functions.cpp
  src/utils/tools.cpp
  src/utils/tools.h
Labels: Area: Source, Area: Datapack Global, Area: Datapack Canary, Area: Datapack Core

#856 fix: monsters/summons can walk no-walkable items after set unique id
  data/events/scripts/player.lua
  data/global.lua
  src/creatures/monsters/monster.cpp
  src/items/item.cpp
  src/items/item.h
  src/items/tile.cpp
  src/items/tile.h
  src/lua/functions/core/game/lua_enums.cpp
  src/lua/functions/items/item_functions.cpp
  src/utils/const.hpp
Labels: Area: Source, Area: Datapack Core

#751 feat: new lua event "onInventoryUpdate"
  data/events/events.xml
  data/events/scripts/player.lua
  src/lua/creature/events.cpp
  src/lua/creature/events.h
  src/lua/creature/movement.cpp
Labels: Area: Source, Stale, Area: Datapack Core

#868 fix: depot items not saving
  src/io/iologindata.cpp
Labels: Area: Source

#855 feat: add example script for modal window
  data-otservbr-global/scripts/modal_window/#example.lua
Labels: Area: Datapack Global

#863 fix: dangerous depth entrance (change from aid to position)
  data-otservbr-global/scripts/movements/quests/dangerous_depth/energy_entrance.lua
Labels: Area: Datapack Global

#826 improve: fixing Cyclopedia and Market items description
  data-otservbr-global/scripts/weapons/scripts/viper_star.lua
  data-otservbr-global/scripts/weapons/unscripted_weapons.lua
  data/libs/functions/game.lua
  src/creatures/creatures_definitions.hpp
  src/creatures/players/player.cpp
  src/game/game.cpp
  src/items/functions/item/item_parse.hpp
  src/items/item.cpp
  src/items/items.h
  src/items/weapons/weapons.cpp
  src/lua/functions/core/game/lua_enums.cpp
  src/lua/functions/items/weapon_functions.cpp
  src/server/network/protocol/protocolgame.cpp
  src/utils/tools.cpp
  src/utils/utils_definitions.hpp
Labels: Area: Source, Area: Datapack Global, Area: Datapack Core

#865 fix: interaction with fields and removal of unused flag
  src/creatures/monsters/monster.cpp
  src/creatures/monsters/monster.h
Labels: Area: Source

#866 fix: delete unnecessary script check_inbox.lua
  data-otservbr-global/scripts/globalevents/others/check_inbox.lua
Labels: Area: Datapack Global

#768 fix: duplicated active events warning and log
  data/XML/events.xml
  src/game/scheduling/events_scheduler.cpp
  src/game/scheduling/events_scheduler.hpp
Labels: Area: Source, Area: Datapack Core

#869 fix: item not decaying duration and related bugs
  src/enums/item_attribute.hpp
  src/game/game.cpp
  src/items/decay/decay.cpp
  src/items/item.cpp
  src/items/item.h
  src/items/items_definitions.hpp
Labels: Area: Source

#874 fix: children of the revolution teleport
  data-otservbr-global/scripts/movements/quests/children_of_the_revolution/teleport.lua
Labels: Area: Datapack Global

#872 fix: custom trainer exit teleport and other things
  data-otservbr-global/scripts/custom/movement_trainer_exit.lua
  data-otservbr-global/scripts/movements/teleport/adventurers_guild.lua
  data-otservbr-global/startup/tables/teleport.lua
  data/XML/events.xml
  src/lua/functions/creatures/creature_functions.cpp
Labels: Area: Source, Area: Datapack Global, Area: Datapack Core

#835 fix: remove old XML npcs parameter
  data-otservbr-global/npc/gnomus.lua
  data-otservbr-global/npc/klom_stonecutter.lua
  data-otservbr-global/npc/lardoc_bashsmite.lua
Labels: Area: Datapack Global

#875 fix: item loaded by map decays duration when moved by player
  src/game/game.cpp
  src/items/item.cpp
  src/items/item.h
Labels: Area: Source

#880 fix: druid familiar mana and cooldown
  data-canary/scripts/spells/familiar/druid_familiar.lua
Labels: Area: Datapack Canary

#858 improve: serverinfo command display
  data-canary/scripts/talkactions/player/buy_house.lua
  data-canary/scripts/talkactions/player/server_info.lua
  data-otservbr-global/scripts/talkactions/player/buy_house.lua
  data-otservbr-global/scripts/talkactions/player/server_info.lua
  src/lua/functions/core/game/config_functions.cpp
Labels: Area: Source, Area: Datapack Global, Area: Datapack Canary

#881 fix: unload on map custom
  src/io/iomap.cpp
  src/map/map.cpp
Labels: Area: Source

#887 fix: training with distance/missile item, advancing club skill
  src/creatures/creatures_definitions.hpp
Labels: Area: Source

#888 fix: prevent crash on monster spell
  src/creatures/monsters/monster.cpp
Labels: Area: Source

#889 fix: convert cookbook script to client id
  data-otservbr-global/scripts/actions/quests/hot_cuisine/cookbook2.lua
Labels: Area: Datapack Global

#893 fix: lever create item convert to client id
  data-otservbr-global/scripts/quests/giant_smithhammer/lever.lua
Labels: Area: Datapack Global
