Repository opentibiabr/canary, pull requests merged in 2023-09, with the labels that each got.

#1460 feat: reward collect crash on move items
  src/game/game.cpp
  src/game/game.hpp
Labels: Area: Source

#1538 fix: inverted panel and shrine in daily reward
  data/modules/scripts/daily_reward/daily_reward.lua
Labels: Area: Datapack Core

#1545 fix: load premdays_purchased correctly
  src/account/account_repository_db.cpp
  src/creatures/players/player.hpp
  src/lua/functions/creatures/player/player_functions.cpp
Labels: Area: Source

#1549 feat: various talkaction upgrades
  data/scripts/talkactions/gm/teleport_to_active_player.lua
  data/scripts/talkactions/god/add_addon.lua
  data/scripts/talkactions/god/add_mount.lua
  data/scripts/talkactions/god/charms.lua
  data/scripts/talkactions/god/close_server.lua
  data/scripts/talkactions/god/inbox_command.lua
  data/scripts/talkactions/god/zones.lua
  data/scripts/talkactions/player/online.lua
Labels: Area: Datapack Core

#1550 fix: many npc fixes (quests/traders/etc)
  data-otservbr-global/npc/ariella.lua
  data-otservbr-global/npc/aruda.lua
  data-otservbr-global/npc/brengus.lua
  data-otservbr-global/npc/bron.lua
  data-otservbr-global/npc/cael.lua
  data-otservbr-global/npc/captain_dreadnought.lua
  data-otservbr-global/npc/captain_fearless.lua
  data-otservbr-global/npc/captain_gulliver.lua
  data-otservbr-global/npc/captain_jack_rat.lua
  data-otservbr-global/npc/chondur.lua
  data-otservbr-global/npc/duncan.lua
  data-otservbr-global/npc/eremo.lua
  data-otservbr-global/npc/fiona.lua
  data-otservbr-global/npc/haroun.lua
  data-otservbr-global/npc/inigo.lua
  data-otservbr-global/npc/morgan.lua
  data-otservbr-global/npc/petros.lua
  data-otservbr-global/npc/sandra.lua
  data-otservbr-global/npc/talila.lua
  data-otservbr-global/npc/telas.lua
  data-otservbr-global/npc/the_bone_master.lua
  data-otservbr-global/npc/the_dream_master.lua
  data-otservbr-global/npc/the_lootmonger.lua
  data-otservbr-global/npc/valindara.lua
Labels: Area: Datapack Global

#1555 feat: stronger influenced/fiendish monsters
  src/creatures/monsters/monster.cpp
  src/creatures/monsters/monster.hpp
Labels: Area: Source

#1562 fix: add oberon mechanics back
  data-otservbr-global/monster/quests/the_secret_library/bosses/grand_master_oberon.lua
  data/libs/functions/load.lua
Labels: Area: Datapack Global, Area: Datapack Core

#1564 fix: syntax error in some monster scripts
  data-otservbr-global/monster/amphibics/filth_toad.lua
  data-otservbr-global/monster/aquatics/crustacea_gigantica.lua
  data-otservbr-global/monster/aquatics/deathling_spellsinger.lua
  data-otservbr-global/monster/aquatics/deepling_guard.lua
  data-otservbr-global/monster/aquatics/deepling_master_librarian.lua
  data-otservbr-global/monster/aquatics/deepling_spellsinger.lua
  data-otservbr-global/monster/aquatics/deepling_tyrant.lua
  data-otservbr-global/monster/aquatics/deepling_warrior.lua
  data-otservbr-global/monster/aquatics/deepling_worker.lua
  data-otservbr-global/monster/aquatics/jellyfish.lua
  data-otservbr-global/monster/aquatics/quara_constrictor.lua
  data-otservbr-global/monster/aquatics/quara_hydromancer.lua
  data-otservbr-global/monster/aquatics/quara_hydromancer_scout.lua
  data-otservbr-global/scripts/lib/register_monster_type.lua
Labels: Area: Datapack Global

#1557 fix: sell all from pouch shouldn't take from other containers
  src/creatures/npcs/npc.cpp
  src/creatures/npcs/npc.hpp
Labels: Area: Source

#1567 fix: small fixes
  data-otservbr-global/scripts/actions/quests/the_cursed_crystal/MedusaOil.lua
  data-otservbr-global/scripts/custom/movement_trainer_exit.lua
  data-otservbr-global/scripts/globalevents/quests/cobra_minis.lua
  data-otservbr-global/scripts/spells/monster/icecle_heal.lua
  data-otservbr-global/scripts/spells/monster/root_branchy_rotten.lua
  data-otservbr-global/world/otservbr-npc.xml
  data/scripts/talkactions/god/charms.lua
Labels: Area: Datapack Global, Area: Map Global, Area: Datapack Core

#1570 fix: add missing offer type to store
  data/modules/scripts/gamestore/init.lua
Labels: Area: Datapack Core

#1552 feat: non-binary pronoums
  data-otservbr-global/migrations/37.lua
  data-otservbr-global/migrations/38.lua
  data-otservbr-global/scripts/actions/quests/others/desert_dungeon_lever_quest.lua
  data/libs/functions/load.lua
  data/libs/functions/pronouns.lua
  schema.sql
  src/creatures/interactions/chat.cpp
  src/creatures/players/grouping/party.cpp
  src/creatures/players/player.cpp
  src/creatures/players/player.hpp
  src/game/game.cpp
  src/io/functions/iologindata_load_player.cpp
  src/lua/functions/core/game/lua_enums.cpp
  src/lua/functions/creatures/player/player_functions.cpp
  src/lua/functions/creatures/player/player_functions.hpp
  src/utils/tools.cpp
  src/utils/tools.hpp
Labels: Area: Source, Area: Datapack Global, Area: Datapack Core

#1542 fix: inverted bit in daily reward
  data/modules/scripts/daily_reward/daily_reward.lua
Labels: Area: Datapack Core

#1553 feat: tibia coin item
  data-otservbr-global/scripts/actions/store_coins.lua
  src/lua/functions/core/game/lua_enums.cpp
Labels: Area: Source, Area: Datapack Global

#1574 fix: premium time update shouldn't change last day
  src/account/account.cpp
  src/account/account.hpp
  src/lua/functions/creatures/player/player_functions.cpp
  src/server/network/protocol/protocollogin.cpp
  tests/unit/account/account_test.cpp
Labels: Area: Source

#1569 fix: decay items loaded from map
  src/game/game.cpp
  src/items/decay/decay.cpp
  src/items/item.cpp
  src/items/item.hpp
  src/map/mapcache.cpp
Labels: Area: Source

#1556 improve: misc src refactors/utilities
  src/creatures/monsters/monsters.cpp
  src/io/io_bosstiary.cpp
  src/items/containers/container.cpp
  src/items/item.hpp
  src/items/items.hpp
  src/lua/creature/events.cpp
  src/lua/functions/creatures/npc/npc_functions.cpp
  src/lua/functions/creatures/player/player_functions.cpp
  src/lua/functions/creatures/player/player_functions.hpp
  src/lua/functions/items/item_type_functions.cpp
  src/lua/functions/items/item_type_functions.hpp
Labels: Area: Source

#1576 fix: add race to "Training Machine"
  data-otservbr-global/scripts/custom/monster_training_machine.lua
Labels: Area: Datapack Global

#1383 improve: remove some usage of compat in Player/Creature
  data-otservbr-global/scripts/actions/quests/heart_of_destruction/anomaly_lever.lua
  data-otservbr-global/scripts/actions/quests/heart_of_destruction/charges_lever.lua
  data-otservbr-global/scripts/actions/quests/heart_of_destruction/cracklers_lever.lua
  data-otservbr-global/scripts/actions/quests/heart_of_destruction/eradicator_lever.lua
  data-otservbr-global/scripts/actions/quests/heart_of_destruction/final_lever.lua
  data-otservbr-global/scripts/actions/quests/heart_of_destruction/outburst_lever.lua
  data-otservbr-global/scripts/actions/quests/heart_of_destruction/quake_lever.lua
  data-otservbr-global/scripts/actions/quests/heart_of_destruction/rupture_lever.lua
  data-otservbr-global/scripts/actions/quests/heart_of_destruction/sparks_lever.lua
  data-otservbr-global/scripts/actions/quests/oramond/glooth_fairy_lever.lua
  data-otservbr-global/scripts/spells/monster/eruption_of_destruction_explosion.lua
  data-otservbr-global/scripts/spells/monster/gaz'haragoth_death.lua
  data-otservbr-global/scripts/spells/monster/lisa_skill_reducer.lua
  data-otservbr-global/scripts/spells/monster/mawhawk_ue.lua
  data-otservbr-global/scripts/spells/monster/outburst_explode.lua
  data-otservbr-global/scripts/spells/monster/prince_drazzak_druid.lua
  data-otservbr-global/scripts/spells/monster/prince_drazzak_knight.lua
  data-otservbr-global/scripts/spells/monster/prince_drazzak_paladin.lua
  data-otservbr-global/scripts/spells/monster/prince_drazzak_sorcerer.lua
  data-otservbr-global/scripts/spells/monster/prince_drazzak_tp.lua
  data-otservbr-global/scripts/spells/monster/remorseless_wave.lua
  data-otservbr-global/scripts/spells/monster/sapling_explode.lua
  data-otservbr-global/scripts/spells/monster/source_of_corruption_wave.lua
  data-otservbr-global/scripts/spells/monster/walker_skill_reducer.lua
  data/libs/functions/functions.lua
  data/libs/functions/position.lua
Labels: Area: Datapack Global, Area: Datapack Core

#1540 feat: general purpose key-value store
  CMakePresets.json
  cmake/modules/CanaryLib.cmake
  data-otservbr-global/migrations/38.lua
  data-otservbr-global/migrations/39.lua
  data/scripts/talkactions/god/manage_kv.lua
  schema.sql
  src/creatures/players/player.hpp
  src/creatures/players/wheel/player_wheel.cpp
  src/database/database.cpp
  src/database/database.hpp
  src/game/game.cpp
  src/game/game.hpp
  src/kv/CMakeLists.txt
  src/kv/README.md
  src/kv/kv.cpp
  src/kv/kv.hpp
  src/kv/kv_sql.cpp
  src/kv/kv_sql.hpp
  src/kv/value_wrapper.cpp
  src/kv/value_wrapper.hpp
  src/kv/value_wrapper_proto.hpp
  src/lib/di/container.hpp
  src/lua/functions/core/CMakeLists.txt
  src/lua/functions/core/libs/core_libs_functions.hpp
  src/lua/functions/core/libs/kv_functions.cpp
  src/lua/functions/core/libs/kv_functions.hpp
  src/lua/functions/creatures/player/player_functions.cpp
  src/lua/functions/creatures/player/player_functions.hpp
  src/lua/functions/lua_functions_loader.hpp
  src/protobuf/CMakeLists.txt
  src/protobuf/appearances.pb.hpp
  src/protobuf/kv.pb.cc
  src/protobuf/kv.pb.h
  src/protobuf/kv.proto
  tests/fixture/injection_fixture.hpp
  tests/fixture/kv/in_memory_kv.hpp
  tests/unit/CMakeLists.txt
  tests/unit/kv/CMakeLists.txt
  tests/unit/kv/kv_test.cpp
  vcproj/canary.vcxproj
Labels: Area: Source, Area: Datapack Global, Area: Datapack Core

#1577 fix: bad syntax in remorseless wave spell
  data-otservbr-global/scripts/spells/monster/remorseless_wave.lua
Labels: Area: Datapack Global

#1543 feat: option in config to not showing home value if already purchased
  config.lua.dist
  src/config/config_definitions.hpp
  src/config/configmanager.cpp
  src/map/house/house.cpp
Labels: Area: Source

#1526 feat: primary type in items.xml
  data/items/items.xml
Labels: Area: Datapack Core

#1584 fix: items xml loading (wrong attributes)
  data/items/items.xml
  src/items/functions/item/item_parse.cpp
  src/items/functions/item/item_parse.hpp
  src/items/items.hpp
  src/items/items_definitions.hpp
Labels: Area: Source, Area: Datapack Core

#1583 fix: store xp and gold pouch
  .luarc.json
  data/modules/scripts/gamestore/init.lua
Labels: Area: Datapack Core

#1586 improve: 'OutputMessagePool::sendAll' to hasTraceableContext
  src/game/scheduling/task.hpp
Labels: Area: Source

#1587 fix: missing commas in traceable context list
  src/game/scheduling/task.hpp
Labels: Area: Source

#1554 feat: chain improvements for lower range
  src/creatures/combat/combat.cpp
  src/creatures/combat/combat.hpp
  src/creatures/players/wheel/player_wheel.cpp
  src/game/game.cpp
  src/game/movement/position.hpp
Labels: Area: Source

#1559 fix: equipping ammo to quiver correctly
  src/creatures/players/player.cpp
Labels: Area: Source

#1593 fix: start server with MSVC
  src/game/scheduling/task.hpp
Labels: Area: Source

#1523 feat: protocol 13.21
  data-otservbr-global/npc/emael.lua
  data-otservbr-global/npc/emperor_kruzak.lua
  data-otservbr-global/npc/hireling.lua
  data-otservbr-global/npc/king_tibianus.lua
  data-otservbr-global/npc/queen_eloise.lua
  data-otservbr-global/npc/walter_jaeger.lua
  data/events/scripts/player.lua
  data/items/appearances.dat
  data/libs/hireling_lib.lua
  data/modules/scripts/daily_reward/daily_reward.lua
  data/modules/scripts/gamestore/init.lua
  data/scripts/eventcallbacks/player/on_rotate_item.lua
  data/scripts/talkactions/god/goto_house.lua
  src/config/config_definitions.hpp
  src/config/configmanager.cpp
  src/core.hpp
  src/creatures/players/player.cpp
  src/enums/item_attribute.hpp
  src/game/game.cpp
  src/game/game.hpp
  src/items/containers/container.cpp
  src/items/containers/container.hpp
  src/items/functions/item/attribute.hpp
  src/items/functions/item/item_parse.cpp
  src/items/item.cpp
  src/items/items.cpp
  src/items/items.hpp
  src/items/items_definitions.hpp
  src/lua/functions/creatures/creature_functions.cpp
  src/lua/functions/creatures/player/player_functions.cpp
  src/lua/functions/creatures/player/player_functions.hpp
  src/protobuf/CMakeLists.txt
  src/protobuf/appearances.pb.cc
  src/protobuf/appearances.pb.h
  src/protobuf/appearances.proto
  src/server/network/protocol/protocolgame.cpp
  src/utils/tools.cpp
  src/utils/tools.hpp
Labels: Area: Source, Area: Datapack Global, Area: Datapack Core

#1585 feat: multiple creature icons
  data-otservbr-global/scripts/quests/primal_ordeal_quest/magma_bubble_fight.lua
  data/libs/functions/creature.lua
  src/creatures/creature.cpp
  src/creatures/creature.hpp
  src/creatures/monsters/monster.cpp
  src/creatures/monsters/monster.hpp
  src/creatures/players/player.cpp
  src/lua/functions/creatures/creature_functions.cpp
  src/lua/functions/creatures/creature_functions.hpp
  src/lua/functions/creatures/monster/monster_functions.cpp
  src/server/network/protocol/protocolgame.cpp
Labels: Area: Source, Area: Datapack Global, Area: Datapack Core

#1598 fix: depot/Inbox manipulation using parcel
  src/items/containers/mailbox/mailbox.cpp
Labels: Area: Source

#1589 improve: silence a few more noisy tasks
  src/creatures/monsters/spawns/spawn_monster.cpp
  src/game/scheduling/task.hpp
  src/items/decay/decay.cpp
  src/lua/creature/raids.cpp
Labels: Area: Source

#1588 improve: enforce LF (unix-style) line endings
  .gitattributes
  cmake/modules/BaseConfig.cmake
  src/game/scheduling/dispatcher.cpp
  src/game/scheduling/dispatcher.hpp
  src/lib/di/soft_singleton.cpp
  src/lib/di/soft_singleton.hpp
  src/lua/functions/creatures/combat/spell_functions.cpp
  src/lua/functions/creatures/player/party_functions.cpp
  src/lua/functions/events/action_functions.cpp
Labels: Area: Source

#1594 fix: repeated events on monsters
  data-otservbr-global/monster/quests/cults_of_tibia/bosses/summons/liquor_spirit.lua
  data-otservbr-global/monster/quests/cults_of_tibia/bosses/wine_cask.lua
  data-otservbr-global/monster/quests/forgotten_knowledge/cosmic_energy_prism_d.lua
  data-otservbr-global/monster/quests/heart_of_destruction/anomaly.lua
  data-otservbr-global/monster/quests/the_secret_library/bosses/grand_chaplain_gaunder.lua
  data-otservbr-global/monster/quests/the_secret_library/bosses/grand_commander_soeren.lua
  data-otservbr-global/monster/quests/the_secret_library/stolen_tome_of_portals.lua
Labels: Area: Datapack Global

#1602 fix: reward collect crash
  src/game/game.cpp
  src/lua/creature/actions.cpp
Labels: Area: Source

#1600 fix: add premium and daily reward
  data/modules/scripts/daily_reward/daily_reward.lua
  src/account/account.cpp
Labels: Area: Source, Area: Datapack Core

#1601 fix: load conditions properly into player
  src/io/functions/iologindata_load_player.cpp
  src/io/functions/iologindata_load_player.hpp
Labels: Area: Source

#1606 fix: podium of renown rotate removing addon
  src/game/game.cpp
Labels: Area: Source

#1605 fix: refresh bosstiary tracker kills on boss death
  src/creatures/players/player.cpp
  src/creatures/players/player.hpp
  src/io/io_bosstiary.cpp
  src/io/iobestiary.cpp
Labels: Area: Source

#1609 fix: add item:isContainer() function
  src/lua/functions/items/item_functions.cpp
  src/lua/functions/items/item_functions.hpp
Labels: Area: Source

#1608 feat: new outfits and mounts
  data/XML/mounts.xml
  data/XML/outfits.xml
Labels: Area: Datapack Core

#1561 fix: use house size from XML
  data-otservbr-global/world/otservbr-house.xml
  src/io/iomapserialize.cpp
  src/map/house/house.cpp
  src/map/house/house.hpp
Labels: Area: Source, Area: Map Global

#1539 fix: save stateful items in houses
  data-otservbr-global/scripts/actions/other/transform_to.lua
  data/items/items.xml
  src/io/iomapserialize.cpp
  src/items/item.cpp
  src/items/item.hpp
Labels: Area: Source, Area: Datapack Global, Area: Datapack Core

#1616 fix: ladder 9116 not working
  data/items/items.xml
Labels: Area: Datapack Core

#1613 fix: container:addLoot warnings
  data-canary/scripts/actions/other/cask_kegs.lua
  data-canary/scripts/actions/other/potions.lua
  data-otservbr-global/monster/demons/true_frost_flower_asura.lua
  data-otservbr-global/scripts/actions/other/cask_kegs.lua
  data-otservbr-global/scripts/actions/other/potions.lua
  data-otservbr-global/scripts/creaturescripts/quests/forgotten_knowledge/dragon_egg.lua
  data/items/items.xml
  data/libs/functions/container.lua
  data/libs/functions/game.lua
  src/lua/functions/items/container_functions.cpp
Labels: Area: Source, Area: Datapack Global, Area: Datapack Canary, Area: Datapack Core

#1599 feat: option for enable mount in protection zone
  config.lua.dist
  src/config/config_definitions.hpp
  src/config/configmanager.cpp
  src/creatures/players/player.cpp
Labels: Area: Source

#1627 improve: convert NetworkMessage and Combat to shared_ptr
  src/lua/functions/core/network/network_message_functions.cpp
  src/lua/functions/core/network/network_message_functions.hpp
  src/lua/functions/creatures/combat/combat_functions.cpp
  src/lua/functions/creatures/combat/combat_functions.hpp
  src/lua/functions/lua_functions_loader.hpp
  src/lua/modules/modules.cpp
Labels: Area: Source

#1629 fix: reward container add charges to the items on boss death
  data-otservbr-global/scripts/reward_chest/boss_death.lua
  data-otservbr-global/scripts/reward_chest/boss_health_change.lua
  data-otservbr-global/scripts/reward_chest/boss_think.lua
  data/libs/reward_boss/reward_boss.lua
  data/scripts/reward_chest/boss_death.lua
  data/scripts/reward_chest/boss_health_change.lua
  data/scripts/reward_chest/boss_think.lua
Labels: Area: Datapack Global, Area: Datapack Canary, Area: Datapack Core

#1628 feature: imbuements get slot items
  src/creatures/players/player.cpp
  src/creatures/players/player.hpp
Labels: Area: Source

#1612 feat: update talkactions ( add_addons and add_mounts )
  data/scripts/talkactions/god/add_addons.lua
  data/scripts/talkactions/god/add_mounts.lua
Labels: Area: Datapack Core

#1624 fix: ammotype sanguine crossbow
  data/items/items.xml
Labels: Area: Datapack Core

#1632 fix: some getUserdataShared and transfer house (sell)
  src/lua/functions/creatures/npc/npc_type_functions.cpp
  src/lua/functions/items/item_functions.cpp
  src/map/house/house.cpp
  src/map/house/house.hpp
Labels: Area: Source

#1633 fix: transfer house item
  src/map/house/house.cpp
  src/map/house/house.hpp
Labels: Area: Source

#1641 fix: attr condition enums (subid foods and others)
  data-canary/scripts/actions/other/potions.lua
  data-otservbr-global/scripts/actions/other/jean_pierre_food.lua
  data-otservbr-global/scripts/actions/other/potions.lua
  data-otservbr-global/scripts/spells/support/blood_rage.lua
  data-otservbr-global/scripts/spells/support/protector.lua
  data-otservbr-global/scripts/spells/support/sharpshooter.lua
  src/lua/functions/core/game/lua_enums.cpp
  src/lua/functions/core/game/lua_enums.hpp
  src/utils/utils_definitions.hpp
Labels: Area: Source, Area: Datapack Global, Area: Datapack Canary

#1642 fix: move store items only to house tile
  src/game/game.cpp
Labels: Area: Source

#1643 fix: wong prey race ids and trashholder items
  data-otservbr-global/monster/raids/spyrat_facing_east.lua
  data-otservbr-global/monster/raids/spyrat_facing_north.lua
  data-otservbr-global/monster/raids/spyrat_facing_south.lua
  data-otservbr-global/monster/raids/spyrat_facing_west.lua
  src/items/tile.cpp
  src/server/network/protocol/protocolgame.cpp
Labels: Area: Source, Area: Datapack Global

#1634 improve: optimize house/kv saves
  data-otservbr-global/migrations/36.lua
  data-otservbr-global/migrations/37.lua
  data-otservbr-global/migrations/38.lua
  data-otservbr-global/migrations/39.lua
  data-otservbr-global/migrations/40.lua
  data-otservbr-global/migrations/41.lua
  schema.sql
  src/database/database.cpp
  src/database/database.hpp
  src/io/functions/iologindata_save_player.cpp
  src/io/iomapserialize.cpp
  src/kv/kv.cpp
  src/kv/kv.hpp
  src/kv/kv_sql.cpp
  src/kv/kv_sql.hpp
  src/kv/value_wrapper.hpp
  src/utils/tools.cpp
  src/utils/tools.hpp
Labels: Area: Source, Area: Datapack Global

#1649 feat: benchmark tools
  src/creatures/players/wheel/player_wheel.cpp
  src/io/iomap.cpp
  src/io/iomapserialize.cpp
  src/pch.hpp
  src/utils/benchmark.hpp
  vcproj/canary.vcxproj
Labels: Area: Source

#1607 feat: adding training shield and exercise shields
  data-otservbr-global/npc/baltim.lua
  data-otservbr-global/npc/brengus.lua
  data-otservbr-global/npc/cedrik.lua
  data-otservbr-global/npc/esrik.lua
  data-otservbr-global/npc/flint.lua
  data-otservbr-global/npc/gamel.lua
  data-otservbr-global/npc/habdel.lua
  data-otservbr-global/npc/hardek.lua
  data-otservbr-global/npc/hireling.lua
  data-otservbr-global/npc/memech.lua
  data-otservbr-global/npc/morpel.lua
  data-otservbr-global/npc/robert.lua
  data-otservbr-global/npc/romella.lua
  data-otservbr-global/npc/rowenna.lua
  data-otservbr-global/npc/sam.lua
  data-otservbr-global/npc/shanar.lua
  data-otservbr-global/npc/turvy.lua
  data-otservbr-global/npc/ulrik.lua
  data-otservbr-global/npc/uzgod.lua
  data-otservbr-global/npc/willard.lua
  data/events/scripts/player.lua
  data/items/items.xml
  data/libs/exercise_training.lua
  data/modules/scripts/daily_reward/daily_reward.lua
  data/modules/scripts/gamestore/gamestore.lua
Labels: Area: Datapack Global, Area: Datapack Core

#1644 improve: zstream static
  src/server/network/protocol/protocol.cpp
  src/server/network/protocol/protocol.hpp
  src/server/network/protocol/protocolgame.cpp
Labels: Area: Source

#1650 improve: ensure players are removed from zones on death
  data-otservbr-global/scripts/actions/farmine/oberon_lever.lua
  data-otservbr-global/scripts/globalevents/others/bosslever_death.lua
  data/libs/functions/bosslever.lua
  data/libs/functions/functions.lua
  src/game/game.cpp
  src/game/zones/zone.cpp
  src/game/zones/zone.hpp
  src/lua/functions/core/game/zone_functions.cpp
  src/lua/functions/core/game/zone_functions.hpp
Labels: Area: Source, Area: Datapack Global, Area: Datapack Core

#1648 fix: questlog message
  src/creatures/players/player.cpp
Labels: Area: Source

#1374 improve: revision of codes in data/
  data/events/scripts/creature.lua
  data/events/scripts/party.lua
  data/events/scripts/player.lua
  data/global.lua
  data/libs/functions/creature.lua
  data/libs/functions/player.lua
  data/libs/functions/position.lua
  data/libs/functions/tile.lua
Labels: Area: Datapack Core

#1655 fix: add back missing method
  data/libs/functions/creature.lua
Labels: Area: Datapack Core
