Repository opentibiabr/canary, pull requests merged in 2023-11, with the labels that each got.

#1763 fix: stamina boost overflow
  data-otservbr-global/migrations/41.lua
  data-otservbr-global/migrations/42.lua
  schema.sql
  src/creatures/players/player.hpp
Labels: Area: Source, Area: Datapack Global

#1760 feat: raid addBroadcast now also announces to webhook
  data/libs/raids_lib.lua
Labels: Area: Datapack Core

#1757 fix: bestiary double counting in party
  data/libs/concoctions_lib.lua
  data/scripts/creatureevents/bestiary_kill.lua
  data/scripts/creatureevents/bosstiary_kill.lua
  src/creatures/creature.cpp
  src/creatures/monsters/monsters.hpp
  src/creatures/players/grouping/party.hpp
  src/creatures/players/player.cpp
  src/creatures/players/player.hpp
  src/lua/functions/core/game/lua_enums.cpp
  src/lua/functions/core/game/lua_enums.hpp
  src/utils/utils_definitions.hpp
Labels: Area: Source, Area: Datapack Core

#1762 fix: npc lokur selling wagon tickets
  data-otservbr-global/npc/lokur.lua
Labels: Area: Datapack Global

#1646 feat: pathfinder multithreading
  src/creatures/combat/combat.cpp
  src/creatures/combat/condition.cpp
  src/creatures/combat/condition.hpp
  src/creatures/creature.cpp
  src/creatures/creature.hpp
  src/creatures/monsters/monster.cpp
  src/creatures/monsters/monster.hpp
  src/creatures/npcs/npc.cpp
  src/creatures/npcs/npc.hpp
  src/creatures/players/player.cpp
  src/creatures/players/player.hpp
  src/game/game.cpp
  src/game/game.hpp
  src/game/scheduling/dispatcher.cpp
  src/game/scheduling/dispatcher.hpp
  src/items/items_definitions.hpp
  src/items/tile.cpp
  src/items/tile.hpp
  src/lua/functions/creatures/creature_functions.cpp
  src/lua/functions/map/position_functions.cpp
  src/map/map.cpp
  src/map/map.hpp
  src/map/utils/astarnodes.cpp
  src/map/utils/astarnodes.hpp
  src/server/network/protocol/protocolgame.cpp
  src/utils/arraylist.hpp
Labels: Area: Source

#1756 improve: use modern implementations to manage threads
  src/canary_server.cpp
  src/canary_server.hpp
  src/creatures/players/management/ban.cpp
  src/game/game.cpp
  src/kv/kv.cpp
  src/lib/di/shared.hpp
  src/server/network/connection/connection.cpp
Labels: Area: Source

#1769 improve: pathfinder mt
  src/creatures/creature.cpp
Labels: Area: Source

#1750 fix: improve imbuement assistant npc
  data-otservbr-global/npc/battlemart.lua
  data-otservbr-global/npc/imbuement_assistant.lua
Labels: Area: Datapack Global

#1773 fix: add missing set.lua import
  data-otservbr-global/scripts/actions/quests/feaster_of_souls/bosses_killed.lua
  data-otservbr-global/scripts/actions/quests/grave_danger/bosses_killed.lua
  data-otservbr-global/scripts/actions/quests/secret_library/bosses_killed.lua
  data-otservbr-global/scripts/actions/quests/soul_war/bosses_killed.lua
  data-otservbr-global/scripts/actions/quests/the_dream_courts/bosses_killed.lua
  data-otservbr-global/scripts/creaturescripts/quests/ferumbras_ascendant/bone_capsule.lua
  data-otservbr-global/scripts/creaturescripts/quests/ferumbras_ascendant/death_dragon.lua
  data-otservbr-global/scripts/creaturescripts/quests/ferumbras_ascendant/disgusting_ooze_death.lua
  data-otservbr-global/scripts/creaturescripts/quests/ferumbras_ascendant/ferumbras_mortal_shell_death.lua
  data-otservbr-global/scripts/creaturescripts/quests/ferumbras_ascendant/ferumbras_soul_splinter.lua
  data-otservbr-global/scripts/creaturescripts/quests/ferumbras_ascendant/rift_invader_death.lua
  data-otservbr-global/scripts/creaturescripts/quests/ferumbras_ascendant/zamulosh_clone.lua
  data-otservbr-global/scripts/creaturescripts/quests/forgotten_knowledge/astral_glyph_death.lua
  data-otservbr-global/scripts/creaturescripts/quests/forgotten_knowledge/bosses_kill.lua
  data-otservbr-global/scripts/creaturescripts/quests/forgotten_knowledge/lloyd_preparedeath.lua
  data-otservbr-global/scripts/creaturescripts/quests/forgotten_knowledge/replica_servants.lua
  data-otservbr-global/scripts/creaturescripts/quests/forgotten_knowledge/thorn_knight_death.lua
  data-otservbr-global/scripts/creaturescripts/quests/hero_of_rathleton/bosses_kill.lua
  data-otservbr-global/scripts/creaturescripts/quests/hero_of_rathleton/glooth_horror.lua
  data-otservbr-global/scripts/creaturescripts/quests/in_service_of_yalahar/diseased_trio_kill.lua
  data-otservbr-global/scripts/creaturescripts/quests/raging_mage_tower/raging_mage_2.lua
  data/libs/functions/load.lua
  data/libs/functions/party.lua
Labels: Area: Datapack Global, Area: Datapack Core

#1768 fix: npc lokur bank functionality
  data-otservbr-global/npc/lokur.lua
Labels: Area: Datapack Global

#1775 fix: lloyd and thorn knight boss fights
  data-otservbr-global/monster/quests/forgotten_knowledge/bosses/mounted_thorn_knight.lua
  data-otservbr-global/monster/quests/forgotten_knowledge/bosses/the_shielded_thorn_knight.lua
  data-otservbr-global/scripts/actions/quests/forgotten_knowledge/thorn_knight_lever.lua
  data-otservbr-global/scripts/actions/quests/forgotten_knowledge/time_guardian_lever.lua
  data-otservbr-global/scripts/creaturescripts/quests/forgotten_knowledge/lloyd_preparedeath.lua
  data-otservbr-global/scripts/creaturescripts/quests/killing_in_the_name_of/monster_kill.lua
  data/scripts/reward_chest/boss_death.lua
Labels: Area: Datapack Global, Area: Datapack Core

#1774 improve: check and return in addChildLoot Method
  src/lua/functions/creatures/monster/loot_functions.cpp
Labels: Area: Source

#1705 improve: review of everything using set
  src/creatures/combat/combat.cpp
  src/creatures/creature.cpp
  src/creatures/creature.hpp
  src/creatures/monsters/monster.hpp
  src/creatures/monsters/monsters.hpp
  src/creatures/npcs/npc.cpp
  src/creatures/npcs/npc.hpp
  src/creatures/players/player.cpp
  src/creatures/players/player.hpp
  src/game/game.cpp
  src/game/game.hpp
  src/game/scheduling/events_scheduler.cpp
  src/game/zones/zone.hpp
  src/io/io_bosstiary.cpp
  src/io/io_bosstiary.hpp
  src/io/iobestiary.cpp
  src/io/iobestiary.hpp
  src/items/containers/container.cpp
  src/items/containers/container.hpp
  src/items/tile.cpp
  src/items/tile.hpp
  src/lua/creature/events.cpp
  src/lua/functions/creatures/monster/monster_functions.cpp
  src/lua/functions/creatures/monster/monster_type_functions.cpp
  src/lua/functions/creatures/player/player_functions.cpp
  src/lua/functions/lua_functions_loader.cpp
  src/map/house/house.cpp
  src/map/house/house.hpp
  src/map/map.cpp
  src/map/spectators.hpp
  src/pch.hpp
  src/server/network/protocol/protocolgame.cpp
  src/server/network/protocol/protocolgame.hpp
  src/utils/vectorset.hpp
Labels: Area: Source

#1734 fix: monster speed
  data-otservbr-global/monster/quests/the_inquisition/eye_of_the_seven.lua
  data-otservbr-global/scripts/spells/healing/mass_healing.lua
  data/items/items.xml
Labels: Area: Datapack Global, Area: Datapack Core

#1767 improve: adjusting autoloot as it is activated by default (-1)
  data/scripts/talkactions/player/auto_loot.lua
  src/creatures/players/player.hpp
Labels: Area: Source, Area: Datapack Core

#1776 fix lloyd mechanics
  data-otservbr-global/monster/quests/forgotten_knowledge/cosmic_energy_prism_c.lua
Labels: Area: Datapack Global

#1777 fix: access to warzone 4, 5, 6
  data-otservbr-global/scripts/actions/quests/dangerous_depth/crude_lava_pump.lua
  data-otservbr-global/scripts/movements/quests/dangerous_depth/warzone_entrance.lua
Labels: Area: Datapack Global

#1779 docs: set new server release version
  src/core.hpp
Labels: Area: Source

#1781 improve: safety when getting a tile
  src/map/mapcache.cpp
  src/map/mapcache.hpp
Labels: Area: Source

#1783 fix: convert forgotten knowledge boss levers to lib
  data-otservbr-global/monster/quests/grave_danger/bosses/scarlett_etzel.lua
  data-otservbr-global/scripts/actions/quests/forgotten_knowledge/horror_lever.lua
  data-otservbr-global/scripts/actions/quests/forgotten_knowledge/last_lore_lever.lua
  data-otservbr-global/scripts/actions/quests/forgotten_knowledge/tenebris_lever.lua
  data-otservbr-global/scripts/actions/quests/forgotten_knowledge/thorn_knight_lever.lua
  data-otservbr-global/scripts/actions/quests/forgotten_knowledge/time_guardian_lever.lua
  data-otservbr-global/scripts/actions/quests/grave_danger/cobra_bastion/scarlett.lua
  data-otservbr-global/scripts/creaturescripts/quests/grave_danger/cobra_bastion/scarlett.lua
  data/libs/functions/player.lua
  data/scripts/reward_chest/boss_death.lua
  data/scripts/talkactions/god/manage_kv.lua
Labels: Area: Datapack Global, Area: Datapack Core

#1789 fix: unjustified death
  src/creatures/creature.cpp
Labels: Area: Source

#1790 docs: set new release version (3.1.1)
  src/core.hpp
Labels: Area: Source

#1791 feat: implement maintain mode
  config.lua.dist
  src/canary_server.cpp
  src/config/config_definitions.hpp
  src/config/configmanager.cpp
  src/server/network/protocol/protocolgame.cpp
Labels: Area: Source

#1792 fix: always run onKilledCreature for most damage when target is monster
  src/creatures/creature.cpp
Labels: Area: Source

#1794 fix: disable offline player irrelevant information
  src/io/iologindata.cpp
  src/io/iologindata.hpp
Labels: Area: Source

#1806 FIX: Nomad Bestiary
  data-otservbr-global/monster/humans/nomad_blue.lua
  data-otservbr-global/monster/humans/nomad_female.lua
Labels: Area: Datapack Global

#1793 fix: creature attacked by monster
  src/creatures/creature.cpp
  src/creatures/monsters/monster.cpp
  src/creatures/players/player.cpp
  src/creatures/players/player.hpp
Labels: Area: Source

#1403 feat: custom pvp system
  config.lua.dist
  data/XML/vocations.xml
  src/config/config_definitions.hpp
  src/config/configmanager.cpp
  src/creatures/players/vocations/vocation.cpp
  src/creatures/players/vocations/vocation.hpp
  src/game/game.cpp
  src/game/game.hpp
Labels: Area: Source, Area: Datapack Core

#1809 fix: the outlaw camp quest
  data-otservbr-global/scripts/actions/quests/the_outlaw_camp/power_burn.lua
Labels: Area: Datapack Global

#1814 fix: charge house rent
  src/map/house/house.cpp
Labels: Area: Source

#1813 fix: bestiary kills and boss boost
  data-otservbr-global/scripts/actions/other/bag_you_covet.lua
  data-otservbr-global/scripts/actions/other/bag_you_desire.lua
  data-otservbr-global/scripts/actions/other/primal_bag.lua
  data/libs/functions/container.lua
  data/libs/reward_boss/monster.lua
  data/libs/reward_boss/reward_boss.lua
  src/creatures/creature.cpp
  src/creatures/creature.hpp
  src/creatures/players/player.cpp
  src/creatures/players/player.hpp
Labels: Area: Source, Area: Datapack Global, Area: Datapack Core

#1802 feat: random monsters spawn
  config.lua.dist
  src/config/config_definitions.hpp
  src/config/configmanager.cpp
  src/creatures/monsters/spawns/spawn_monster.cpp
  src/lua/functions/core/game/config_functions.cpp
Labels: Area: Source

#1801 fix: table.remove function does not work with random indexes
  data/libs/functions/game.lua
Labels: Area: Datapack Core

#1784 fix: some scripts
  data-otservbr-global/monster/bosses/custodian.lua
  data-otservbr-global/monster/quests/cults_of_tibia/bosses/leiden.lua
  data-otservbr-global/monster/quests/soul_war/goshnars_hatred.lua
  data-otservbr-global/monster/quests/the_order_of_lion/bosses/kesar.lua
  data-otservbr-global/scripts/actions/adventurers_guild/adventurers_stone.lua
  data-otservbr-global/scripts/actions/other/cask_kegs.lua
  data-otservbr-global/scripts/actions/other/exercise_training.lua
  data-otservbr-global/scripts/actions/quests/dangerous_depth/gnomish_pesticide.lua
  data-otservbr-global/scripts/actions/quests/the_dream_courts/dream_courts_lever.lua
  data-otservbr-global/scripts/creaturescripts/quests/bigfoot_burden/bosses_warzone.lua
  data-otservbr-global/scripts/creaturescripts/quests/cults_of_tibia/bosses_mission_cults.lua
  data-otservbr-global/scripts/creaturescripts/quests/dangerous_depths/lost_exile_task.lua
  data-otservbr-global/scripts/creaturescripts/quests/ferumbras_ascendant/bosses_kill.lua
  data-otservbr-global/scripts/creaturescripts/quests/in_service_of_yalahar/azerus_kill.lua
  data-otservbr-global/scripts/globalevents/customs/save_interval.lua
  data/events/scripts/player.lua
  data/libs/exercise_training.lua
  data/libs/functions/bosslever.lua
  data/libs/functions/functions.lua
  data/libs/functions/lever.lua
  data/libs/functions/player.lua
  data/modules/scripts/gamestore/init.lua
  data/scripts/talkactions/player/bank.lua
  data/scripts/talkactions/player/reward.lua
Labels: Area: Datapack Global, Area: Datapack Core

#1815 fix: forgotten knowledge quest levers
  data-otservbr-global/scripts/actions/quests/forgotten_knowledge/dragonking_lever.lua
  data-otservbr-global/scripts/actions/quests/forgotten_knowledge/horror_lever.lua
  data-otservbr-global/scripts/actions/quests/forgotten_knowledge/last_lore_lever.lua
  data-otservbr-global/scripts/actions/quests/forgotten_knowledge/lloyd_lever.lua
  data-otservbr-global/scripts/actions/quests/forgotten_knowledge/tenebris_lever.lua
  data-otservbr-global/scripts/actions/quests/forgotten_knowledge/thorn_knight_lever.lua
  data-otservbr-global/scripts/actions/quests/forgotten_knowledge/time_guardian_lever.lua
Labels: Area: Datapack Global

#1761 perf: caching walking formula
  src/creatures/creature.cpp
  src/creatures/creature.hpp
  src/creatures/players/player.hpp
  src/game/game.cpp
  src/game/game.hpp
  src/server/network/protocol/protocolgame.cpp
Labels: Area: Source

#1816 fix: issavi town citizen
  data-otservbr-global/startup/tables/teleport.lua
Labels: Area: Datapack Global

#1672 improve: normal random skew towards mean
  src/utils/tools.cpp
Labels: Area: Source

#1819 fix: koshei switch wrong ids combination
  data-otservbr-global/scripts/actions/quests/koshei_amulet/switch.lua
Labels: Area: Datapack Global

#1822 Revert "feat: random monsters spawn"
  config.lua.dist
  src/config/config_definitions.hpp
  src/config/configmanager.cpp
  src/creatures/monsters/spawns/spawn_monster.cpp
  src/lua/functions/core/game/config_functions.cpp
Labels: Area: Source

#1827 fix: resolved problem with non-existent store condition
  data/modules/scripts/gamestore/init.lua
Labels: Area: Datapack Core

#1831 fix: correct bed system behaviour
  data/items/items.xml
  src/game/game.cpp
  src/io/iomapserialize.cpp
  src/items/bed.cpp
  src/utils/tools.cpp
  src/utils/tools.hpp
Labels: Area: Source, Area: Datapack Core

#1739 improve: targetList / friendList
  src/creatures/creature.cpp
  src/creatures/monsters/monster.cpp
  src/creatures/monsters/monster.hpp
Labels: Area: Source

#1825 fix: suggested fixes by visual studio code debugger
  data-canary/scripts/actions/other/construction_kits.lua
  data-canary/scripts/actions/other/music.lua
  data-otservbr-global/npc/grizzly_adams.lua
  data-otservbr-global/scripts/actions/other/construction_kits.lua
  data-otservbr-global/scripts/actions/quests/dreamer_challenge/stone_teleport.lua
  data-otservbr-global/scripts/actions/quests/dreamer_challenge/tic_tac_teleport.lua
  data-otservbr-global/scripts/actions/quests/koshei_amulet/switch.lua
  data-otservbr-global/scripts/creaturescripts/quests/hero_of_rathleton/tentacle.lua
  data-otservbr-global/scripts/lib/register_actions.lua
  data-otservbr-global/scripts/movements/quests/hero_of_rathleton/professor_maxxen.lua
  data-otservbr-global/scripts/quests/draconia/movement-exit_teleport.lua
  data/modules/scripts/blessings/blessings.lua
Labels: Area: Datapack Global, Area: Datapack Canary, Area: Datapack Core

#1839 fix: chat channels message based on player group
  data/chatchannels/scripts/advertising-rook.lua
  data/chatchannels/scripts/advertising.lua
  data/chatchannels/scripts/english_chat.lua
  data/chatchannels/scripts/help.lua
  data/chatchannels/scripts/tutor.lua
  data/chatchannels/scripts/world_chat.lua
Labels: Area: Datapack Core

#1836 fix: Drume boss mechanic
  data-otservbr-global/lib/core/storages.lua
  data-otservbr-global/monster/quests/the_order_of_lion/bosses/kesar.lua
  data-otservbr-global/monster/quests/the_order_of_lion/lion_commander.lua
  data-otservbr-global/monster/quests/the_order_of_lion/usurper_commander.lua
  data-otservbr-global/scripts/quests/the_order_of_lion/action-drume.lua
  data-otservbr-global/scripts/quests/the_order_of_lion/creatureevent-commander_kills.lua
Labels: Area: Datapack Global

#1845 fix: add death event into white deer
  data-otservbr-global/monster/mammals/white_deer.lua
Labels: Area: Datapack Global

#1847 fix: some functions and their usages
  data-otservbr-global/scripts/actions/arena_pvp/arena_10x10.lua
  data-otservbr-global/scripts/actions/arena_pvp/arena_2x2.lua
  data-otservbr-global/scripts/actions/quests/dark_trails/lever_death_priest_shargon.lua
  data-otservbr-global/scripts/actions/quests/dark_trails/lever_the_ravager.lua
  data-otservbr-global/scripts/actions/quests/first_dragon/lever.lua
  data-otservbr-global/scripts/actions/roshamuul/prison/golden.lua
  data-otservbr-global/scripts/actions/roshamuul/prison/keys.lua
  data-otservbr-global/scripts/globalevents/quests/cobra_minis_custodian.lua
  data-otservbr-global/scripts/globalevents/quests/cobra_minis_gaffir.lua
  data-otservbr-global/scripts/globalevents/quests/cobra_minis_quaid.lua
  data-otservbr-global/scripts/globalevents/quests/secret_library_grand_canon_dominus.lua
  data-otservbr-global/scripts/globalevents/quests/secret_library_grand_chaplain_gaunder.lua
  data-otservbr-global/scripts/globalevents/quests/secret_library_grand_commander_soeren.lua
  data-otservbr-global/scripts/globalevents/quests/secret_library_preceptor_lazare.lua
  data-otservbr-global/scripts/globalevents/spawn/mawhawk.lua
  data-otservbr-global/scripts/globalevents/spawn/thawing_dragon_lord.lua
  data-otservbr-global/scripts/globalevents/spawn/tyrn.lua
  data-otservbr-global/scripts/movements/quests/first_dragon/entrance_teleport.lua
  data-otservbr-global/scripts/movements/quests/killing_in_the_name_of/boss.lua
  data-otservbr-global/scripts/quests/hidden_threats/movement-cave_spider_room.lua
  data-otservbr-global/scripts/quests/the_annihilator/lever.lua
  data-otservbr-global/scripts/quests/the_new_frontier/movement-minotaur_boss.lua
  data-otservbr-global/scripts/quests/threatened_dreams/movement-kroazur_room.lua
  data/libs/functions/functions.lua
  data/libs/functions/position.lua
Labels: Area: Datapack Global, Area: Datapack Core

#1854 fix: type safety around const "Thing"
  src/creatures/creature.hpp
  src/creatures/monsters/monster.hpp
  src/creatures/npcs/npc.hpp
  src/creatures/players/player.hpp
  src/items/containers/container.hpp
  src/items/item.hpp
  src/items/thing.hpp
  src/lua/global/shared_object.hpp
Labels: Area: Source

#1851 fix: warzone IV-VI cooldown
  data-otservbr-global/scripts/creaturescripts/quests/dangerous_depths/bosses_mission_depths.lua
  data-otservbr-global/scripts/movements/quests/dangerous_depth/boss_entrance.lua
Labels: Area: Datapack Global

#1849 fix: the primal menace hazard issues and primal pack monsters
  data-otservbr-global/lib/core/storages.lua
  data-otservbr-global/lib/quests/quest.lua
  data-otservbr-global/lib/quests/the_primal_ordeal.lua
  data-otservbr-global/monster/birds/headpecker.lua
  data-otservbr-global/monster/giants/hulking_prehemoth.lua
  data-otservbr-global/monster/mammals/beast_gore_horn.lua
  data-otservbr-global/monster/mammals/beast_gorerilla.lua
  data-otservbr-global/monster/mammals/beast_sabretooth.lua
  data-otservbr-global/monster/mammals/gore_horn.lua
  data-otservbr-global/monster/mammals/gorerilla.lua
  data-otservbr-global/monster/mammals/nighthunter.lua
  data-otservbr-global/monster/mammals/sabretooth.lua
  data-otservbr-global/monster/plants/stalking_stalk.lua
  data-otservbr-global/monster/quests/primal_ordeal_quest/the_primal_menace.lua
  data-otservbr-global/monster/reptiles/emerald_tortoise.lua
  data-otservbr-global/monster/reptiles/mantosaurus.lua
  data-otservbr-global/monster/reptiles/noxious_ripptor.lua
  data-otservbr-global/monster/vermins/sulphider.lua
  data-otservbr-global/scripts/actions/quests/dangerous_depth/using_crystals.lua
  data-otservbr-global/scripts/actions/quests/ferumbras_ascendant/mazoran_lever.lua
  data-otservbr-global/scripts/actions/quests/ferumbras_ascendant/plagirath_lever.lua
  data-otservbr-global/scripts/actions/quests/ferumbras_ascendant/ragiaz_lever.lua
  data-otservbr-global/scripts/actions/quests/ferumbras_ascendant/razzagorn_lever.lua
  data-otservbr-global/scripts/actions/quests/ferumbras_ascendant/shulgrax_lever.lua
  data-otservbr-global/scripts/actions/quests/ferumbras_ascendant/tarbaz_lever.lua
  data-otservbr-global/scripts/actions/quests/ferumbras_ascendant/zamulosh_lever.lua
  data-otservbr-global/scripts/actions/quests/secret_library/ghulosh_lever.lua
  data-otservbr-global/scripts/actions/quests/secret_library/gorzindel_lever.lua
  data-otservbr-global/scripts/actions/quests/secret_library/lokathmor_lever.lua
  data-otservbr-global/scripts/actions/quests/secret_library/mazzinor_lever.lua
  data-otservbr-global/scripts/actions/quests/secret_library/scourge_of_oblivion_lever.lua
  data-otservbr-global/scripts/actions/quests/the_dream_courts/nightmare_beast_lever.lua
  data-otservbr-global/scripts/hazard/primal.lua
  data-otservbr-global/scripts/movements/teleport/gnomprona.lua
  data-otservbr-global/scripts/quests/primal_ordeal_quest/the_primal_manace_lever.lua
  data/libs/hazard_lib.lua
Labels: Area: Datapack Global, Area: Datapack Core

#1857 fix: store inbox items only can be moved to house tile
  src/game/game.cpp
Labels: Area: Source

#1850 fix: expiring market offers
  src/io/iomarket.cpp
Labels: Area: Source

#1858 fix: drop item with charges from monsters
  data/libs/functions/monstertype.lua
Labels: Area: Datapack Core

#1861 improve: added monster count to create monster talkaction
  data/scripts/talkactions/god/create_monster.lua
Labels: Area: Datapack Core

#1862 fix: ensure loot over stack size drops in multiple stacks
  data/libs/functions/container.lua
  data/scripts/eventcallbacks/monster/ondroploot_wealth_duplex.lua
Labels: Area: Datapack Core

#1863 improve: "/i" create a big count of stackable items
  data/scripts/talkactions/god/create_item.lua
Labels: Area: Datapack Core

#1859 fix: adjustments to dont send inbox store item to market
  src/creatures/players/player.cpp
Labels: Area: Source

#1865 fix: check conditions permitted on pz
  src/creatures/combat/combat.cpp
  src/creatures/players/player.cpp
  src/creatures/players/player.hpp
Labels: Area: Source

#1864 feat: reset house on inactivity
  config.lua.dist
  data/scripts/talkactions/player/server_info.lua
  src/config/config_definitions.hpp
  src/config/configmanager.cpp
  src/lua/functions/core/game/config_functions.cpp
  src/map/house/house.cpp
Labels: Area: Source, Area: Datapack Core

#1873 fix: infinity prey time if stamina system is disabled
  data-canary/scripts/creaturescripts/login.lua
  data-canary/scripts/creaturescripts/logout.lua
  data-otservbr-global/scripts/creaturescripts/others/login.lua
  data-otservbr-global/scripts/creaturescripts/others/logout.lua
  data/events/scripts/player.lua
  data/global.lua
Labels: Area: Datapack Global, Area: Datapack Canary, Area: Datapack Core

#1874 fix: marry system
  data-otservbr-global/npc/lynda.lua
Labels: Area: Datapack Global

#1876 fix: prey reroll time on old protocol
  src/server/network/protocol/protocolgame.cpp
Labels: Area: Source

#1875 fix: hireling stash and bank
  data-otservbr-global/npc/hireling.lua
  src/game/game.cpp
Labels: Area: Source, Area: Datapack Global

#1877 fix: block re-login with different protocols
  src/creatures/players/player.hpp
  src/server/network/protocol/protocolgame.cpp
Labels: Area: Source

#1878 improve: rename global variables to use _G lua table
  data-canary/scripts/actions/other/exercise_training.lua
  data-canary/scripts/creaturescripts/login.lua
  data-canary/scripts/creaturescripts/logout.lua
  data-otservbr-global/scripts/actions/other/exercise_training.lua
  data-otservbr-global/scripts/actions/other/potions.lua
  data-otservbr-global/scripts/creaturescripts/others/login.lua
  data-otservbr-global/scripts/creaturescripts/others/logout.lua
  data/events/scripts/player.lua
  data/global.lua
  data/libs/exercise_training.lua
  data/libs/reward_boss/monster.lua
  data/libs/reward_boss/player.lua
  data/libs/reward_boss/reward_boss.lua
  data/scripts/reward_chest/boss_death.lua
  data/scripts/reward_chest/boss_health_change.lua
  data/scripts/talkactions/gm/teleport_to_active_player.lua
  data/scripts/talkactions/gm/teleport_to_player.lua
  data/scripts/talkactions/player/online.lua
Labels: Area: Datapack Global, Area: Datapack Canary, Area: Datapack Core

#1879 fix: loot message typo
  src/creatures/creature.cpp
Labels: Area: Source

#1886 fix: wroght-iron bed attribute rotateTo
  data/items/items.xml
Labels: Area: Datapack Core

#1887 improve: ConfigManager better functionality/code clarity/maintainability
  src/config/config_definitions.hpp
  src/config/configmanager.cpp
  src/config/configmanager.hpp
  src/lua/functions/core/game/config_functions.cpp
  src/lua/functions/core/game/lua_enums.cpp
  src/pch.hpp
  src/server/network/protocol/protocollogin.cpp
  src/server/network/protocol/protocolstatus.cpp
Labels: Area: Source

#1853 perf: OTSYS_TIME cached
  src/game/scheduling/dispatcher.cpp
  src/game/scheduling/dispatcher.hpp
  src/game/scheduling/task.cpp
  src/game/scheduling/task.hpp
  src/utils/tools.cpp
  src/utils/tools.hpp
Labels: Area: Source

#1883 fix: hazard level up
  data/libs/hazard_lib.lua
Labels: Area: Datapack Core

#1889 fix: wrong getNumber param
  data-canary/scripts/movements/tiles.lua
  data-otservbr-global/scripts/movements/others/tiles.lua
Labels: Area: Datapack Global, Area: Datapack Canary

#1885 fix: moving loot pouch to stash
  src/game/game.cpp
Labels: Area: Source

#1890 fix: switch target when unreachable/untarggetable
  src/creatures/monsters/monster.cpp
Labels: Area: Source

#1898 fix: create item talkaction for stackable items
  data/scripts/talkactions/god/create_item.lua
Labels: Area: Datapack Core

#1903 fix: buy house
  data/scripts/talkactions/player/buy_house.lua
Labels: Area: Datapack Core

#1902 fix: adjust target reach assumption immediately after setting
  src/creatures/creature.cpp
Labels: Area: Source

#1894 fix: angry demon
  data-otservbr-global/monster/quests/annihilator/angry_demon.lua
Labels: Area: Datapack Global

#1905 fix: cask and kegs
  data-otservbr-global/scripts/actions/other/cask_kegs.lua
Labels: Area: Datapack Global

#1908 fix: monsters bestiary class
  data-otservbr-global/monster/reptiles/boar_man.lua
  data-otservbr-global/monster/reptiles/crape_man.lua
  data-otservbr-global/monster/reptiles/liodile.lua
  data-otservbr-global/monster/reptiles/rhindeer.lua
Labels: Area: Datapack Global

#1906 fix: kick yourself from house
  data-otservbr-global/scripts/spells/house/kick.lua
Labels: Area: Datapack Global

#1912 improve: '/pos' command parsing for multiple formats
  data/scripts/talkactions/gm/position.lua
Labels: Area: Datapack Core

#1913 fix: critical hit damage calculation
  src/creatures/combat/combat.cpp
  src/game/game.cpp
Labels: Area: Source

#1916 fix: NextUseConcoctionTime _G table
  data/global.lua
Labels: Area: Datapack Core

#1904 fix: change creature from checkCreatures from reference to copy
  src/game/game.cpp
Labels: Area: Source

#1918 fix: knight outfit quest
  data-otservbr-global/npc/gregor.lua
Labels: Area: Datapack Global

#1927 fix: divine grenade spell
  data-otservbr-global/scripts/spells/attack/divine_grenade.lua
  data/libs/functions/position.lua
Labels: Area: Datapack Global, Area: Datapack Core

#1907 fix: validations of "getPlayer" lua function
  src/lua/functions/core/game/bank_functions.cpp
  src/lua/functions/core/game/global_functions.cpp
  src/lua/functions/core/game/modal_window_functions.cpp
  src/lua/functions/core/network/network_message_functions.cpp
  src/lua/functions/creatures/npc/npc_functions.cpp
  src/lua/functions/creatures/player/party_functions.cpp
  src/lua/functions/creatures/player/player_functions.cpp
  src/lua/functions/map/house_functions.cpp
  src/lua/functions/map/position_functions.cpp
Labels: Area: Source

#1860 improve: ajustment player event
  data/events/scripts/player.lua
Labels: Area: Datapack Core

#1928 fix: Charos NPC and enchanting
  data-otservbr-global/npc/charos.lua
  data-otservbr-global/scripts/actions/other/enchanting.lua
Labels: Area: Datapack Global

#1930 fix: party issues
  src/creatures/players/grouping/party.cpp
  src/game/game.cpp
Labels: Area: Source

#1939 fix: config manager on drop loot prey
  data/scripts/eventcallbacks/monster/ondroploot_prey.lua
Labels: Area: Datapack Core

#1937 fix: item drop loot with charges and /i talkaction
  data/libs/functions/container.lua
  data/scripts/talkactions/god/create_item.lua
Labels: Area: Datapack Core

#1943 fix: conjuring spectral bolt wrong id
  data-canary/scripts/spells/conjuring/Conjure_Spectral_Bolt.lua
  data-otservbr-global/scripts/spells/conjuring/Conjure_Spectral_Bolt.lua
Labels: Area: Datapack Global, Area: Datapack Canary

#1942 feat: hide npc buy offers if player lacks items
  data/scripts/talkactions/player/emote_spell.lua
  data/scripts/talkactions/player/flask.lua
  data/scripts/talkactions/player/hidden_npc_sell_shop_items.lua
  src/creatures/npcs/npc.cpp
  src/creatures/players/player.cpp
  src/server/network/protocol/protocolgame.cpp
Labels: Area: Source, Area: Datapack Core

#1944 fix: lua getNumber overflow
  src/lua/functions/lua_functions_loader.hpp
Labels: Area: Source
