Repository opentibiabr/canary, pull requests merged in 2023-08, with the labels that each got.

#1324 improve: add position:toString lua function
  src/lua/functions/map/position_functions.cpp
  src/lua/functions/map/position_functions.hpp
Labels: Area: Source

#1317 feat: implementation of lua/c++ event callback system
  data-canary/scripts/lib/helper_constructors.lua
  data-otservbr-global/scripts/eventcallbacks/README.md
  data-otservbr-global/scripts/eventcallbacks/creature/on_area_combat.lua
  data-otservbr-global/scripts/eventcallbacks/creature/on_hear.lua
  data-otservbr-global/scripts/eventcallbacks/monster/on_spawn.lua
  data-otservbr-global/scripts/eventcallbacks/party/on_disband.lua
  data-otservbr-global/scripts/eventcallbacks/player/on_browse_field.lua
  data-otservbr-global/scripts/eventcallbacks/player/on_look.lua
  data-otservbr-global/scripts/eventcallbacks/player/on_look_in_shop.lua
  data-otservbr-global/scripts/eventcallbacks/player/on_look_in_trade.lua
  data-otservbr-global/scripts/eventcallbacks/player/on_remove_count.lua
  data-otservbr-global/scripts/eventcallbacks/player/on_request_quest_line.lua
  data-otservbr-global/scripts/eventcallbacks/player/on_request_quest_log.lua
  data-otservbr-global/scripts/eventcallbacks/player/on_storage_update.lua
  data-otservbr-global/scripts/eventcallbacks/player/trade_accept.lua
  data/events/events.xml
  data/events/scripts/creature.lua
  data/events/scripts/monster.lua
  data/events/scripts/party.lua
  data/events/scripts/player.lua
  data/libs/functions/functions.lua
  data/libs/functions/party.lua
  data/libs/functions/revscriptsys.lua
  src/CMakeLists.txt
  src/creatures/monsters/monster.cpp
  src/creatures/monsters/spawns/spawn_monster.cpp
  src/creatures/npcs/spawns/spawn_npc.cpp
  src/creatures/players/grouping/party.cpp
  src/creatures/players/player.cpp
  src/game/game.cpp
  src/lua/callbacks/callbacks_definitions.hpp
  src/lua/callbacks/event_callback.cpp
  src/lua/callbacks/event_callback.hpp
  src/lua/callbacks/events_callbacks.cpp
  src/lua/callbacks/events_callbacks.hpp
  src/lua/creature/movement.cpp
  src/lua/functions/core/game/game_functions.cpp
  src/lua/functions/events/event_callback_functions.cpp
  src/lua/functions/events/event_callback_functions.hpp
  src/lua/functions/events/events_functions.hpp
  src/lua/scripts/scripts.cpp
  vcproj/canary.vcxproj
Labels: Area: Source, Area: Datapack Global, Area: Datapack Canary, Area: Datapack Core

#1334 fix: some content fixes
  data-otservbr-global/monster/amphibics/makara.lua
  data-otservbr-global/monster/reptiles/naga_archer.lua
  data-otservbr-global/monster/reptiles/naga_warrior.lua
  data-otservbr-global/npc/giri.lua
  data-otservbr-global/scripts/actions/object/rope_down.lua
  data-otservbr-global/scripts/spells/monster/death_chain.lua
  data-otservbr-global/scripts/spells/support/sharpshooter.lua
  data-otservbr-global/scripts/spells/support/swift_foot.lua
  data/items/items.xml
  src/creatures/combat/combat.cpp
Labels: Area: Source, Area: Datapack Global, Area: Datapack Core

#1333 fix: missing magic shield WOD boost
  data-otservbr-global/scripts/spells/attack/divine_grenade.lua
  data-otservbr-global/scripts/spells/attack/executioners_throw.lua
  data-otservbr-global/scripts/spells/attack/great_death_beam.lua
  data-otservbr-global/scripts/spells/attack/ice_burst.lua
  data-otservbr-global/scripts/spells/attack/terra_burst.lua
  data-otservbr-global/scripts/spells/healing/heal_friend.lua
  data-otservbr-global/scripts/spells/support/avatar_of_light.lua
  data-otservbr-global/scripts/spells/support/avatar_of_nature.lua
  data-otservbr-global/scripts/spells/support/avatar_of_steel.lua
  data-otservbr-global/scripts/spells/support/avatar_of_storm.lua
  data-otservbr-global/scripts/spells/support/divine_empowerment.lua
  data-otservbr-global/scripts/spells/support/expose_weakness.lua
  data-otservbr-global/scripts/spells/support/magic_shield.lua
  data-otservbr-global/scripts/spells/support/sap_strength.lua
  data-otservbr-global/scripts/spells/support/sharpshooter.lua
  data-otservbr-global/scripts/spells/support/swift_foot.lua
  src/lua/functions/creatures/player/player_functions.cpp
  src/lua/functions/creatures/player/player_functions.hpp
Labels: Area: Source, Area: Datapack Global

#1326 fix: typo spdlog
  data/libs/functions/container.lua
Labels: Area: Datapack Core

#1335 fix: vip system skill bonus boost
  data/events/scripts/player.lua
Labels: Area: Datapack Core

#1337 fix: warnings in naga due to incorrect props
  data-otservbr-global/monster/amphibics/makara.lua
  data-otservbr-global/monster/reptiles/naga_archer.lua
  data-otservbr-global/monster/reptiles/naga_warrior.lua
Labels: Area: Datapack Global

#1290 feat: add addon on death of king zelos
  data-otservbr-global/lib/core/storages.lua
  data-otservbr-global/monster/quests/grave_danger/bosses/king_zelos.lua
  data-otservbr-global/scripts/creaturescripts/quests/grave_danger/zelosDeath.lua
  data/libs/achievements_lib.lua
Labels: Area: Datapack Global, Area: Datapack Core

#1323 improve: re-write loot rolls to share code and use callbacks
  config.lua.dist
  data-otservbr-global/scripts/actions/tibiadrome/concoctions.lua
  data-otservbr-global/scripts/actions/tools/skinning.lua
  data-otservbr-global/scripts/eventcallbacks/monster/ondroploot__base.lua
  data-otservbr-global/scripts/eventcallbacks/monster/ondroploot_boosted.lua
  data-otservbr-global/scripts/eventcallbacks/monster/ondroploot_hazard.lua
  data-otservbr-global/scripts/eventcallbacks/monster/ondroploot_prey.lua
  data-otservbr-global/scripts/eventcallbacks/monster/ondroploot_weatlh_duplex.lua
  data-otservbr-global/scripts/eventcallbacks/player/on_look.lua
  data-otservbr-global/scripts/reward_chest/boss_death.lua
  data/events/events.xml
  data/events/scripts/monster.lua
  data/events/scripts/player.lua
  data/global.lua
  data/libs/concoctions_lib.lua
  data/libs/functions/container.lua
  data/libs/functions/functions.lua
  data/libs/functions/load.lua
  data/libs/functions/monstertype.lua
  data/libs/functions/player.lua
  data/libs/reward_boss/monster.lua
  src/config/config_definitions.hpp
  src/config/configmanager.cpp
  src/creatures/creature.cpp
  src/creatures/players/player.cpp
  src/creatures/players/player.h
  src/enums/item_attribute.hpp
  src/items/functions/item/attribute.hpp
  src/lua/functions/core/game/config_functions.cpp
  src/utils/tools.cpp
Labels: Area: Source, Area: Datapack Global, Area: Datapack Core

#1342 fix: add missing loot function
  data/libs/functions/player.lua
Labels: Area: Datapack Core

#1315 feat: sell all loot with pouch
  data-otservbr-global/npc/the_lootmonger.lua
  src/creatures/npcs/npc.cpp
  src/creatures/npcs/npc.h
Labels: Area: Source, Area: Datapack Global

#1344 improve: better loot container management
  config.lua.dist
  src/config/config_definitions.hpp
  src/config/configmanager.cpp
  src/creatures/creature.cpp
  src/creatures/npcs/npc.cpp
  src/creatures/players/player.cpp
  src/creatures/players/player.h
  src/game/game.cpp
  src/game/game.h
  src/server/network/protocol/protocolgame.cpp
  src/server/network/protocol/protocolgame.h
Labels: Area: Source

#1346 fix: stash crashes and duplicates item
  src/creatures/players/player.cpp
  src/game/game.cpp
  src/game/game.h
Labels: Area: Source

#1345 fix: Spiritthorn Helmet epiphany imbuement
  data/items/items.xml
Labels: Area: Datapack Core

#1354 fix: use mana potions in pz
  src/creatures/combat/combat.cpp
  src/creatures/combat/combat.h
  src/creatures/combat/condition.cpp
  src/lua/functions/core/game/global_functions.cpp
Labels: Area: Source

#1359 feat: configurable npc talk ranges
  data/npclib/npc_system/npc_handler.lua
  src/creatures/npcs/npc.cpp
  src/creatures/npcs/npc.h
  src/lua/functions/creatures/npc/npc_functions.cpp
Labels: Area: Source, Area: Datapack Core

#1358 improve: content fixes
  data-otservbr-global/lib/core/storages.lua
  data-otservbr-global/monster/constructs/rotten_golem.lua
  data-otservbr-global/monster/demons/brachiodemon.lua
  data-otservbr-global/monster/demons/infernal_demon.lua
  data-otservbr-global/monster/demons/many_faces.lua
  data-otservbr-global/monster/elementals/turbulent_elemental.lua
  data-otservbr-global/monster/extra_dimensional/courage_leech.lua
  data-otservbr-global/monster/humanoids/mooh'tah_warrior.lua
  data-otservbr-global/monster/plants/branchy_crawler.lua
  data-otservbr-global/monster/plants/cloak_of_terror.lua
  data-otservbr-global/monster/quests/feaster_of_souls/the_paleworm.lua
  data-otservbr-global/monster/quests/soul_war/goshnars_cruelty.lua
  data-otservbr-global/monster/quests/soul_war/goshnars_greed.lua
  data-otservbr-global/monster/quests/soul_war/goshnars_hatred.lua
  data-otservbr-global/monster/quests/soul_war/goshnars_malice.lua
  data-otservbr-global/monster/quests/soul_war/goshnars_megalomania.lua
  data-otservbr-global/monster/quests/soul_war/goshnars_spite.lua
  data-otservbr-global/monster/quests/soul_war/mirror_image.lua
  data-otservbr-global/monster/quests/the_secret_library/ghulosh'_deathgaze.lua
  data-otservbr-global/monster/raids/glooth_fairy.lua
  data-otservbr-global/monster/undeads/bony_sea_devil.lua
  data-otservbr-global/monster/undeads/capricious_phantom.lua
  data-otservbr-global/monster/undeads/distorted_phantom.lua
  data-otservbr-global/monster/undeads/druid's_apparition.lua
  data-otservbr-global/monster/undeads/hazardous_phantom.lua
  data-otservbr-global/monster/undeads/infernal_phantom.lua
  data-otservbr-global/monster/undeads/knight's_apparition.lua
  data-otservbr-global/monster/undeads/mould_phantom.lua
  data-otservbr-global/monster/undeads/paladin's_apparition.lua
  data-otservbr-global/monster/undeads/sorcerer's_apparition.lua
  data-otservbr-global/monster/undeads/vibrant_phantom.lua
  data-otservbr-global/scripts/actions/addons/addons.lua
  data-otservbr-global/scripts/creaturescripts/customs/freequests.lua
  data-otservbr-global/scripts/creaturescripts/quests/feaster_of_souls/pale_worm_death.lua
  data-otservbr-global/scripts/eventcallbacks/monster/ondroploot_wealth_duplex.lua
  data-otservbr-global/scripts/globalevents/spawn/gray_island_bosses.lua
  data-otservbr-global/scripts/spells/monster/extended_energy_chain.lua
  data-otservbr-global/scripts/spells/monster/extended_fire_chain.lua
  data-otservbr-global/scripts/spells/monster/extended_holy_chain.lua
  data-otservbr-global/scripts/spells/monster/fear.lua
  data-otservbr-global/scripts/spells/monster/ice_chain.lua
  data-otservbr-global/scripts/spells/monster/poison_chain.lua
  data/items/items.xml
Labels: Area: Datapack Global, Area: Datapack Core

#1349 improve: extract duplicate calls into variables
  data/libs/loyalty_lib.lua
Labels: Area: Datapack Core

#1351 fix: incorrect variable name in Result.free
  data/libs/functions/player.lua
Labels: Area: Datapack Core

#1356 feat: game store search
  data/libs/functions/functions.lua
  data/modules/scripts/gamestore/gamestore.lua
  data/modules/scripts/gamestore/init.lua
Labels: Area: Datapack Core

#1364 fix: don't remove reward containers on open/close reward chest
  src/creatures/players/player.cpp
  src/creatures/players/player.h
  src/game/game.cpp
  src/items/containers/container.cpp
  src/items/containers/container.h
  src/lua/creature/actions.cpp
Labels: Area: Source

#1355 fix: show correct fluid names
  data-otservbr-global/scripts/actions/other/fluids.lua
  src/items/item.cpp
  src/items/items.cpp
  src/lua/functions/core/game/lua_enums.cpp
  src/lua/functions/core/game/lua_enums.hpp
Labels: Area: Source, Area: Datapack Global

#1338 fix: use item and use with for guests in houses
  data-otservbr-global/scripts/actions/other/exercise_training.lua
  data-otservbr-global/scripts/actions/other/teleport.lua
  data/items/items.xml
  data/libs/exercise_training.lua
  src/game/game.cpp
  src/items/functions/item/item_parse.cpp
  src/items/functions/item/item_parse.hpp
  src/items/item.h
  src/items/items.cpp
  src/items/items.h
  src/items/items_definitions.hpp
  src/lua/functions/core/game/game_functions.cpp
  src/lua/functions/core/game/game_functions.hpp
Labels: Area: Source, Area: Datapack Global, Area: Datapack Core

#1361 fix: npc archery prices and wrong mounts id in gamestore.
  data-otservbr-global/npc/archery.lua
  data/modules/scripts/gamestore/gamestore.lua
Labels: Area: Datapack Global, Area: Datapack Core

#1366 fix: config usage and clang sort
  .clang-format
  data/libs/loyalty_lib.lua
Labels: Area: Datapack Core

#1373 feat: add wheel extra points and new storage system (xml)
  data-otservbr-global/scripts/actions/wheel_scrolls.lua
  data/XML/storages.xml
  data/scripts/talkactions/god/storage_add.lua
  data/scripts/talkactions/god/storage_get.lua
  data/scripts/talkactions/god/storage_set.lua
  src/CMakeLists.txt
  src/creatures/players/player.cpp
  src/creatures/players/player.h
  src/creatures/players/storages/storages.cpp
  src/creatures/players/storages/storages.hpp
  src/creatures/players/wheel/player_wheel.cpp
  src/creatures/players/wheel/player_wheel.hpp
  src/lua/functions/creatures/player/player_functions.cpp
  src/lua/functions/creatures/player/player_functions.hpp
  src/otserv.cpp
  vcproj/canary.vcxproj
Labels: Area: Source, Area: Datapack Global, Area: Datapack Core

#1370 feat: add event callback to "on rotate item" and simplify callbacks
  data-otservbr-global/scripts/eventcallbacks/README.md
  data-otservbr-global/scripts/eventcallbacks/player/on_rotate_item.lua
  data-otservbr-global/scripts/eventcallbacks/player/on_trade_accept.lua
  data/libs/functions/revscriptsys.lua
  src/creatures/monsters/monster.cpp
  src/creatures/monsters/spawns/spawn_monster.cpp
  src/creatures/npcs/spawns/spawn_npc.cpp
  src/creatures/players/grouping/party.cpp
  src/creatures/players/player.cpp
  src/game/game.cpp
  src/lua/callbacks/callbacks_definitions.hpp
  src/lua/callbacks/event_callback.cpp
  src/lua/callbacks/event_callback.hpp
  src/lua/creature/movement.cpp
  src/lua/functions/core/game/game_functions.cpp
  src/lua/functions/core/game/game_functions.hpp
  src/lua/functions/core/game/global_functions.cpp
  src/lua/functions/core/game/global_functions.hpp
  src/lua/functions/events/event_callback_functions.cpp
  src/lua/functions/events/event_callback_functions.hpp
  src/utils/tools.cpp
  src/utils/tools.h
Labels: Area: Source, Area: Datapack Global, Area: Datapack Core

#1368 feat: aol and bless fee config
  config.lua.dist
  data-otservbr-global/lib/compat/compat.lua
  data/modules/scripts/blessings/blessings.lua
  data/npclib/npc.lua
  data/npclib/npc_system/modules.lua
  data/scripts/talkactions/player/aol.lua
  src/config/config_definitions.hpp
  src/config/configmanager.cpp
  src/lua/functions/core/game/config_functions.cpp
Labels: Area: Source, Area: Datapack Global, Area: Datapack Core

#1377 fix: combat nullpointers
  src/creatures/combat/combat.cpp
Labels: Area: Source

#1380 fix: missing path separator in reload
  src/game/functions/game_reload.cpp
Labels: Area: Source

#1379 feat: add podium of tenacity and fix bugs related to podium
  data-otservbr-global/scripts/actions/other/transform_to.lua
  data-otservbr-global/scripts/creaturescripts/others/bestiary_kill.lua
  data-otservbr-global/scripts/creaturescripts/others/bosstiary_kill.lua
  data/items/items.xml
  data/scripts/talkactions/god/add_bosstiary_kills.lua
  src/creatures/monsters/monsters.cpp
  src/creatures/monsters/monsters.h
  src/creatures/players/player.h
  src/game/game.cpp
  src/game/game.h
  src/io/io_bosstiary.cpp
  src/io/io_bosstiary.hpp
  src/io/iobestiary.cpp
  src/io/iobestiary.h
  src/items/functions/item/item_parse.cpp
  src/items/functions/item/item_parse.hpp
  src/items/items.h
  src/items/items_definitions.hpp
  src/lua/creature/actions.cpp
  src/lua/functions/core/game/game_functions.cpp
  src/lua/functions/creatures/monster/monster_type_functions.cpp
  src/server/network/protocol/protocolgame.cpp
  src/server/network/protocol/protocolgame.h
  src/utils/utils_definitions.hpp
Labels: Area: Source, Area: Datapack Global, Area: Datapack Core

#1387 fix: send only valid monsters to prey data
  src/creatures/players/player.cpp
  src/creatures/players/player.h
  src/server/network/protocol/protocolgame.cpp
Labels: Area: Source

#1371 feat: move bank to c++ and add bank commands
  data-otservbr-global/npc/hireling.lua
  data/libs/functions/functions.lua
  data/libs/functions/player.lua
  data/npclib/npc_system/bank_system.lua
  data/scripts/talkactions/god/add_money.lua
  data/scripts/talkactions/player/bank.lua
  src/CMakeLists.txt
  src/creatures/players/grouping/guild.h
  src/creatures/players/player.h
  src/game/bank/bank.cpp
  src/game/bank/bank.hpp
  src/game/game.cpp
  src/game/game.h
  src/items/containers/mailbox/mailbox.cpp
  src/lua/functions/core/game/bank_functions.cpp
  src/lua/functions/core/game/bank_functions.hpp
  src/lua/functions/core/game/core_game_functions.hpp
  src/lua/functions/core/game/game_functions.cpp
  src/lua/functions/core/game/game_functions.hpp
  src/lua/functions/lua_functions_loader.cpp
  src/lua/functions/lua_functions_loader.hpp
  src/lua/lua_definitions.hpp
  vcproj/canary.vcxproj
Labels: Area: Source, Area: Datapack Global, Area: Datapack Core

#1402 fix: remove debug log pattern, disable lua log config in debug mode
  src/config/configmanager.cpp
  src/lib/logging/LogWithSpdLog.cpp
Labels: Area: Source

#1381 fix: wheel of destiny damage buff leaking into immunity
  src/game/game.cpp
Labels: Area: Source

#1388 fix: apply elemental imbument correctly
  src/creatures/combat/combat.cpp
Labels: Area: Source

#1406 feat: move event callback to data/scripts folder
  data/scripts/eventcallbacks/README.md
  data/scripts/eventcallbacks/creature/on_area_combat.lua
  data/scripts/eventcallbacks/creature/on_hear.lua
  data/scripts/eventcallbacks/monster/on_spawn.lua
  data/scripts/eventcallbacks/monster/ondroploot__base.lua
  data/scripts/eventcallbacks/monster/ondroploot_boosted.lua
  data/scripts/eventcallbacks/monster/ondroploot_hazard.lua
  data/scripts/eventcallbacks/monster/ondroploot_prey.lua
  data/scripts/eventcallbacks/monster/ondroploot_wealth_duplex.lua
  data/scripts/eventcallbacks/party/on_disband.lua
  data/scripts/eventcallbacks/player/on_browse_field.lua
  data/scripts/eventcallbacks/player/on_look.lua
  data/scripts/eventcallbacks/player/on_look_in_shop.lua
  data/scripts/eventcallbacks/player/on_look_in_trade.lua
  data/scripts/eventcallbacks/player/on_remove_count.lua
  data/scripts/eventcallbacks/player/on_request_quest_line.lua
  data/scripts/eventcallbacks/player/on_request_quest_log.lua
  data/scripts/eventcallbacks/player/on_rotate_item.lua
  data/scripts/eventcallbacks/player/on_storage_update.lua
  data/scripts/eventcallbacks/player/on_trade_accept.lua
Labels: Area: Datapack Core

#1404 fix: prevent nullptr reference
  src/lua/functions/lua_functions_loader.cpp
Labels: Area: Source

#1391 feat: improve tasks and schedulers
  src/CMakeLists.txt
  src/creatures/combat/condition.cpp
  src/creatures/creature.cpp
  src/creatures/interactions/chat.cpp
  src/creatures/monsters/monster.cpp
  src/creatures/monsters/spawns/spawn_monster.cpp
  src/creatures/npcs/npc.cpp
  src/creatures/npcs/spawns/spawn_npc.cpp
  src/creatures/players/player.cpp
  src/creatures/players/player.h
  src/database/databasetasks.cpp
  src/database/databasetasks.h
  src/game/game.cpp
  src/game/game.h
  src/game/scheduling/dispatcher.cpp
  src/game/scheduling/dispatcher.hpp
  src/game/scheduling/scheduler.cpp
  src/game/scheduling/scheduler.h
  src/game/scheduling/task.hpp
  src/game/scheduling/tasks.cpp
  src/game/scheduling/tasks.h
  src/io/iomarket.cpp
  src/items/bed.cpp
  src/items/decay/decay.cpp
  src/lua/creature/raids.cpp
  src/lua/functions/core/game/game_functions.cpp
  src/lua/functions/core/game/global_functions.cpp
  src/lua/global/globalevent.cpp
  src/otserv.cpp
  src/server/network/connection/connection.cpp
  src/server/network/message/outputmessage.cpp
  src/server/network/protocol/protocol.cpp
  src/server/network/protocol/protocolgame.cpp
  src/server/network/protocol/protocollogin.cpp
  src/server/network/protocol/protocolstatus.cpp
  src/server/server.cpp
  src/server/signals.cpp
  src/utils/thread_holder_base.h
  src/utils/utils_definitions.hpp
  vcproj/canary.vcxproj
Labels: Area: Source

#1407 fix: debug bosstiary related to wrong enum and add bosses
  data-canary/monster/bosses/black_knight.lua
  data-canary/monster/bosses/bullwark.lua
  data-canary/monster/bosses/custodian.lua
  data-canary/monster/bosses/dharalion.lua
  data-canary/monster/bosses/shadowpelt.lua
  data-canary/scripts/lib/register_monster_type.lua
  src/creatures/monsters/monsters.h
  src/io/io_bosstiary.hpp
  src/server/network/protocol/protocolgame.cpp
Labels: Area: Source, Area: Datapack Canary

#1414 fix: show bosstiary slots when they're empty
  src/server/network/protocol/protocolgame.cpp
Labels: Area: Source

#1413 fix: wheel of destiny revelation perks to lua
  data-otservbr-global/scripts/spells/attack/ice_burst.lua
  data-otservbr-global/scripts/spells/attack/terra_burst.lua
  data-otservbr-global/scripts/spells/support/avatar_of_light.lua
  data-otservbr-global/scripts/spells/support/avatar_of_nature.lua
  data-otservbr-global/scripts/spells/support/avatar_of_steel.lua
  data-otservbr-global/scripts/spells/support/avatar_of_storm.lua
  data-otservbr-global/scripts/spells/support/divine_empowerment.lua
  src/creatures/players/wheel/player_wheel.cpp
  src/creatures/players/wheel/player_wheel.hpp
  src/lua/functions/creatures/player/player_functions.cpp
  src/lua/functions/creatures/player/player_functions.hpp
Labels: Area: Source, Area: Datapack Global

#1405 fix: condition and combat immunities/suppression/damage
  src/creatures/creature.cpp
  src/creatures/creature.h
  src/creatures/creatures_definitions.hpp
  src/creatures/monsters/monster.cpp
  src/creatures/monsters/monster.h
  src/creatures/monsters/monsters.h
  src/creatures/players/player.cpp
  src/creatures/players/player.h
  src/items/functions/item/item_parse.cpp
  src/lua/functions/creatures/monster/monster_type_functions.cpp
  src/utils/tools.cpp
Labels: Area: Source

#1396 fix/enable debug mode cmake
  CMakePresets.json
  src/CMakeLists.txt
  src/security/rsa.cpp
Labels: Area: Source

#1422 fix: compilation using solution (build debug)
  .github/workflows/build-windows-solution.yml
  src/canary_server.cpp
  src/canary_server.hpp
  src/creatures/creature.cpp
  src/game/bank/bank.cpp
  src/server/signals.cpp
Labels: Area: Source

#1424 fix: prey rolls with 0% chance
  data/scripts/eventcallbacks/monster/ondroploot_prey.lua
Labels: Area: Datapack Core

#1427 fix: brainstealer wrong decayTo
  data/items/items.xml
Labels: Area: Datapack Core

#1428 feat: add SharedObject class for smart pointer management
  src/lua/functions/lua_functions_loader.cpp
  src/lua/functions/lua_functions_loader.hpp
  src/lua/global/shared_object.hpp
  src/pch.hpp
Labels: Area: Source

#1395 feat: smart map loader
  src/CMakeLists.txt
  src/creatures/combat/combat.cpp
  src/creatures/combat/spells.cpp
  src/creatures/creature.cpp
  src/creatures/creature.h
  src/creatures/monsters/monster.cpp
  src/creatures/monsters/monsters.cpp
  src/creatures/players/player.cpp
  src/game/game.cpp
  src/game/game.h
  src/io/iomap.cpp
  src/io/iomap.h
  src/items/bed.h
  src/items/containers/container.h
  src/items/item.cpp
  src/items/tile.h
  src/lua/functions/core/game/game_functions.cpp
  src/lua/functions/core/game/global_functions.cpp
  src/map/map.cpp
  src/map/map.h
  src/map/map_const.h
  src/map/mapcache.cpp
  src/map/mapcache.h
  src/map/town.h
  src/map/utils/astarnodes.cpp
  src/map/utils/astarnodes.h
  src/map/utils/qtreenode.cpp
  src/map/utils/qtreenode.h
  src/server/network/protocol/protocolgame.cpp
  src/utils/const.hpp
  src/utils/hash.h
  vcproj/canary.sln
  vcproj/canary.vcxproj
Labels: Area: Source

#1432 fix: count kills on analyzer / avoid double reward bag
  data/scripts/eventcallbacks/README.md
  data/scripts/eventcallbacks/monster/ondroploot__base.lua
  data/scripts/eventcallbacks/monster/postdroploot_analyzer.lua
  src/creatures/monsters/monster.cpp
  src/lua/callbacks/callbacks_definitions.hpp
  src/lua/callbacks/event_callback.cpp
  src/lua/callbacks/event_callback.hpp
Labels: Area: Source, Area: Datapack Core

#1437 improve: remove spdlog completely from pch
  src/lib/logging/log_with_spd_log.cpp
  src/lua/callbacks/event_callback.cpp
  src/lua/functions/creatures/monster/monster_type_functions.cpp
  src/map/mapcache.cpp
  src/pch.hpp
Labels: Area: Source

#1384 improve: run webhook within a dedicated thread
  data-canary/scripts/globalevents/global_server_save.lua
  data-canary/scripts/globalevents/save_interval.lua
  data-otservbr-global/scripts/creaturescripts/others/player_death.lua
  data-otservbr-global/scripts/custom/discord_specialwebhook.lua
  data-otservbr-global/scripts/globalevents/customs/save_interval.lua
  data-otservbr-global/scripts/globalevents/others/global_server_save.lua
  data-otservbr-global/scripts/globalevents/spawn/rashid.lua
  data-otservbr-global/scripts/globalevents/worldchanges/fury_gates.lua
  data-otservbr-global/scripts/globalevents/worldchanges/nightmare_isle.lua
  data-otservbr-global/scripts/globalevents/worldchanges/yasir.lua
  data/scripts/discord_webhook/discord_webhook.lua
  data/scripts/talkactions/gm/ban.lua
  data/scripts/talkactions/gm/broadcast.lua
  data/scripts/talkactions/gm/kick.lua
  data/scripts/talkactions/gm/push_town.lua
  data/scripts/talkactions/gm/unban.lua
  data/scripts/talkactions/god/close_server.lua
  data/scripts/talkactions/god/open_server.lua
  data/scripts/talkactions/god/test.lua
  src/canary_server.cpp
  src/config/config_definitions.hpp
  src/config/configmanager.cpp
  src/game/game.cpp
  src/lua/creature/raids.cpp
  src/lua/functions/core/network/webhook_functions.cpp
  src/lua/functions/core/network/webhook_functions.hpp
  src/server/network/webhook/webhook.cpp
  src/server/network/webhook/webhook.h
  src/utils/tools.cpp
  src/utils/tools.h
  vcproj/canary.vcxproj
Labels: Area: Source, Area: Datapack Global, Area: Datapack Canary, Area: Datapack Core

#1435 fix: build from vs solution (adjusting wrong includes)
  src/map/map.cpp
  src/map/map.h
  src/map/mapcache.cpp
  src/map/mapcache.h
  src/map/utils/astarnodes.cpp
  src/map/utils/astarnodes.h
  src/map/utils/qtreenode.cpp
  src/map/utils/qtreenode.h
  src/utils/const.hpp
  src/utils/hash.h
Labels: Area: Source

#1439 fix: hash collision on smart map loader
  src/map/mapcache.cpp
Labels: Area: Source

#1429 fix: race condition and infinite loop in quickloot/autoloot
  src/creatures/players/player.h
  src/game/game.cpp
  src/lua/functions/core/game/bank_functions.cpp
Labels: Area: Source

#1441 fix: item mapcache unique id
  src/map/mapcache.cpp
Labels: Area: Source

#1440 fix: wrong id in some monster loot
  data-otservbr-global/monster/demons/brachiodemon.lua
  data-otservbr-global/monster/demons/many_faces.lua
  data-otservbr-global/monster/quests/cults_of_tibia/bosses/essence_of_malice.lua
  data-otservbr-global/monster/quests/the_dream_courts/bosses/alptramun.lua
  data-otservbr-global/monster/undeads/ahau.lua
  data-otservbr-global/monster/undeads/capricious_phantom.lua
  data-otservbr-global/monster/undeads/distorted_phantom.lua
  data-otservbr-global/monster/undeads/mould_phantom.lua
  data-otservbr-global/monster/undeads/paladin's_apparition.lua
  data-otservbr-global/monster/undeads/sorcerer's_apparition.lua
  data-otservbr-global/monster/undeads/vibrant_phantom.lua
Labels: Area: Datapack Global

#1336 fix: delete duplicated files
  data-otservbr-global/scripts/creaturescripts/quests/first_dragon/death_angry_plant.lua
  data-otservbr-global/scripts/creaturescripts/quests/first_dragon/death_dragon_essence.lua
  data-otservbr-global/scripts/creaturescripts/quests/first_dragon/death_fallen.lua
  data-otservbr-global/scripts/creaturescripts/quests/first_dragon/death_first_dragon.lua
  data-otservbr-global/scripts/creaturescripts/quests/first_dragon/death_somewhat_beatable.lua
  data-otservbr-global/scripts/creaturescripts/quests/first_dragon/kill_dragon.lua
Labels: Area: Datapack Global

#1434 improve: check duplicated monster types
  data-otservbr-global/monster/bosses/ancient_lion_archer.lua
  data-otservbr-global/monster/bosses/ancient_lion_knight.lua
  data-otservbr-global/monster/bosses/ancient_lion_warlock.lua
  data-otservbr-global/monster/bosses/zamuloshsummom.lua
  data-otservbr-global/monster/dawnport/spidris_elitesumom.lua
  data-otservbr-global/monster/dawnport/weakened_shlorg.lua
  data-otservbr-global/monster/dragons/haunted_dragon.lua
  data-otservbr-global/monster/dragons/ice_dragon.lua
  data-otservbr-global/monster/magicals/phantasm_summon.lua
  data-otservbr-global/monster/mammals/grey_horse.lua
  data-otservbr-global/monster/quests/dark_trails/minotaur_invader.lua
  data-otservbr-global/monster/quests/dark_trails/minotaur_totem.lua
  data-otservbr-global/monster/quests/forgotten_knowledge/sword_of_vegeance.lua
  data-otservbr-global/monster/quests/heart_of_destruction/eradicator.lua
  data-otservbr-global/monster/quests/heart_of_destruction/eradicator2.lua
  data-otservbr-global/monster/quests/mysterious_ornate_chest/an_observer_eye_(imune).lua
  data-otservbr-global/monster/quests/mysterious_ornate_chest/ugly_new_monsters.lua
  data-otservbr-global/monster/quests/pits_of_inferno/countess_sorrow.lua
  data-otservbr-global/monster/quests/the_first_dragon/bosses/the_first_dragon.lua
  data-otservbr-global/monster/quests/the_first_dragon/haunted_dragon.lua
  data-otservbr-global/monster/quests/the_first_dragon/ice_dragon.lua
  data-otservbr-global/monster/raids/spyrat_facing_east.lua
  data-otservbr-global/monster/raids/spyrat_facing_north.lua
  data-otservbr-global/monster/raids/spyrat_facing_south.lua
  data-otservbr-global/monster/raids/spyrat_facing_west.lua
  data-otservbr-global/monster/vermins/hive_overseer.lua
  data-otservbr-global/scripts/creaturescripts/quests/heart_of_destruction/eradicator_transform.lua
  data-otservbr-global/scripts/creaturescripts/quests/heart_of_destruction/heart_boss_death.lua
  src/creatures/monsters/monsters.cpp
  src/creatures/monsters/monsters.h
  src/lua/functions/core/game/game_functions.cpp
Labels: Area: Source, Area: Datapack Global

#1348 improve: upsert prey/hunting tasks to avoid data loss
  data-otservbr-global/migrations/33.lua
  data-otservbr-global/migrations/34.lua
  schema.sql
  src/creatures/players/wheel/player_wheel.cpp
  src/database/database.cpp
  src/database/database.h
  src/io/iologindata.cpp
Labels: Area: Source, Area: Datapack Global

#1443 fix: called c++ object pointer is nullptr
  README.md
  src/creatures/combat/combat.cpp
  src/items/weapons/weapons.cpp
  src/lua/scripts/scripts.h
Labels: Area: Source

#1447 fix: add missing includes for linux full build
  src/map/utils/qtreenode.cpp
  src/server/network/webhook/webhook.cpp
Labels: Area: Source

#1408 improve: replace raw pointers with std::shared_ptr in some classes
  src/creatures/combat/combat.cpp
  src/creatures/combat/condition.cpp
  src/creatures/interactions/chat.cpp
  src/creatures/monsters/monster.cpp
  src/creatures/monsters/monster.h
  src/creatures/monsters/monsters.cpp
  src/creatures/monsters/monsters.h
  src/creatures/monsters/spawns/spawn_monster.cpp
  src/creatures/monsters/spawns/spawn_monster.h
  src/creatures/players/grouping/guild.cpp
  src/creatures/players/grouping/guild.h
  src/creatures/players/player.cpp
  src/creatures/players/player.h
  src/game/bank/bank.cpp
  src/game/bank/bank.hpp
  src/game/game.cpp
  src/game/game.h
  src/io/io_bosstiary.cpp
  src/io/io_bosstiary.hpp
  src/io/iobestiary.cpp
  src/io/iobestiary.h
  src/io/ioguild.cpp
  src/io/ioguild.h
  src/io/iologindata.cpp
  src/io/ioprey.cpp
  src/lua/functions/core/game/bank_functions.cpp
  src/lua/functions/core/game/bank_functions.hpp
  src/lua/functions/core/game/game_functions.cpp
  src/lua/functions/creatures/monster/charm_functions.cpp
  src/lua/functions/creatures/monster/charm_functions.hpp
  src/lua/functions/creatures/monster/loot_functions.cpp
  src/lua/functions/creatures/monster/loot_functions.hpp
  src/lua/functions/creatures/monster/monster_functions.cpp
  src/lua/functions/creatures/monster/monster_spell_functions.cpp
  src/lua/functions/creatures/monster/monster_spell_functions.hpp
  src/lua/functions/creatures/monster/monster_type_functions.cpp
  src/lua/functions/creatures/monster/monster_type_functions.hpp
  src/lua/functions/creatures/player/guild_functions.cpp
  src/lua/functions/creatures/player/guild_functions.hpp
  src/lua/functions/creatures/player/player_functions.cpp
  src/lua/functions/lua_functions_loader.cpp
  src/lua/functions/lua_functions_loader.hpp
  src/map/house/house.cpp
  src/pch.hpp
  src/server/network/protocol/protocolgame.cpp
  src/server/network/protocol/protocolgame.h
Labels: Area: Source

#1442 fix: bugs related to podium
  data/libs/functions/string.lua
  src/game/game.cpp
  src/server/network/protocol/protocolgame.cpp
Labels: Area: Source, Area: Datapack Core

#1431 feat: refactor db tasks for simplicity
  src/creatures/players/account/account.cpp
  src/creatures/players/management/ban.cpp
  src/database/databasetasks.cpp
  src/database/databasetasks.h
  src/game/game.cpp
  src/io/iomarket.cpp
  src/lua/functions/core/libs/db_functions.cpp
Labels: Area: Source

#1448 add command !flask
  data-otservbr-global/scripts/actions/other/potions.lua
  data-otservbr-global/scripts/actions/quests/heart_of_destruction/eradicator_lever.lua
  data/XML/storages.xml
  data/scripts/talkactions/player/flask.lua
Labels: Area: Datapack Global, Area: Datapack Core

#1451 feat: send wheel promotion scroll item id to the client
  src/creatures/players/wheel/player_wheel.cpp
  src/creatures/players/wheel/player_wheel.hpp
Labels: Area: Source

#1452 fix: typo in getMonsterTypeByBossRaceId function
  src/io/io_bosstiary.cpp
Labels: Area: Source

#1449 feat: add "script name" to the "LuaTimerEventDesc" struct
  src/lua/functions/core/game/global_functions.cpp
  src/lua/lua_definitions.hpp
Labels: Area: Source

#1048 improve: separation of IOLoginData into smaller functions
  src/creatures/players/player.cpp
  src/creatures/players/player.h
  src/database/database.h
  src/io/functions/iologindata_load_player.cpp
  src/io/functions/iologindata_load_player.hpp
  src/io/functions/iologindata_save_player.cpp
  src/io/functions/iologindata_save_player.hpp
  src/io/iologindata.cpp
  src/io/iologindata.h
  src/io/iomapserialize.h
  src/server/network/protocol/protocolgame.cpp
Labels: Area: Source

#1453 fix: don't refresh action cooldown if action failed
  src/lua/creature/actions.cpp
Labels: Area: Source

#1416 improve: change "Mounts*" pointer to use std::shared_ptr
  src/creatures/appearance/mounts/mounts.cpp
  src/creatures/appearance/mounts/mounts.h
  src/creatures/players/player.cpp
  src/creatures/players/player.h
  src/game/game.cpp
  src/lua/functions/creatures/player/mount_functions.cpp
  src/lua/functions/creatures/player/mount_functions.hpp
  src/lua/functions/creatures/player/player_functions.cpp
  src/server/network/protocol/protocolgame.cpp
Labels: Area: Source

#1417 improve: change "Outfit*" pointer to use std::shared_ptr
  src/creatures/appearance/outfit/outfit.cpp
  src/creatures/appearance/outfit/outfit.h
  src/creatures/players/player.cpp
  src/creatures/players/player.h
  src/game/game.cpp
  src/server/network/protocol/protocolgame.cpp
Labels: Area: Source

#1418 improve: change some raw pointers to use std::shared_ptr
  src/creatures/combat/combat.cpp
  src/creatures/combat/combat.h
  src/creatures/combat/spells.cpp
  src/creatures/combat/spells.h
  src/creatures/monsters/monsters.cpp
  src/creatures/monsters/monsters.h
  src/creatures/players/wheel/player_wheel.cpp
  src/creatures/players/wheel/player_wheel.hpp
  src/items/item.cpp
  src/lua/creature/actions.cpp
  src/lua/creature/actions.h
  src/lua/functions/creatures/combat/spell_functions.cpp
  src/lua/functions/creatures/combat/spell_functions.hpp
  src/lua/functions/creatures/monster/monster_type_functions.cpp
  src/lua/functions/creatures/player/player_functions.cpp
  src/lua/functions/events/action_functions.cpp
  src/lua/functions/events/action_functions.hpp
  src/server/network/protocol/protocolgame.cpp
Labels: Area: Source

#1419 improve: change "CreatureEvent*" pointer to use std::shared_ptr
  src/creatures/creature.cpp
  src/creatures/creature.h
  src/game/game.cpp
  src/lua/creature/creatureevent.cpp
  src/lua/creature/creatureevent.h
  src/lua/functions/creatures/creature_functions.cpp
  src/lua/functions/events/creature_event_functions.cpp
  src/lua/functions/events/creature_event_functions.hpp
Labels: Area: Source

#1420 improve: change "RaidEvent*" pointer to use std::shared_ptr
  src/lua/creature/raids.cpp
  src/lua/creature/raids.h
  src/lua/functions/core/game/game_functions.cpp
Labels: Area: Source

#1425 improve: change "EventCallback*" pointer to use std::shared_ptr
  src/lua/callbacks/events_callbacks.cpp
  src/lua/callbacks/events_callbacks.hpp
  src/lua/creature/talkaction.cpp
  src/lua/creature/talkaction.h
  src/lua/functions/events/event_callback_functions.cpp
Labels: Area: Source

#1426 improve: change "GlobalEvent*" pointer to use std::shared_ptr
  src/game/game.cpp
  src/lua/functions/events/global_event_functions.cpp
  src/lua/functions/events/global_event_functions.hpp
  src/lua/global/globalevent.cpp
  src/lua/global/globalevent.h
Labels: Area: Source

#1456 fix: re-add windows icon to executable
  src/CMakeLists.txt
Labels: Area: Source

#1433 improve: change "MoveEvent*" pointer to use std::shared_ptr
  src/lua/creature/movement.cpp
  src/lua/creature/movement.h
  src/lua/functions/events/move_event_functions.cpp
  src/lua/functions/events/move_event_functions.hpp
Labels: Area: Source

#1455 feat: add bosstiary tracker and fix bestiary tracker
  data-otservbr-global/migrations/34.lua
  data-otservbr-global/migrations/35.lua
  data-otservbr-global/monster/quests/heart_of_destruction/eradicator.lua
  data-otservbr-global/scripts/actions/quests/heart_of_destruction/eradicator_lever.lua
  data-otservbr-global/scripts/creaturescripts/quests/heart_of_destruction/eradicator_transform.lua
  data-otservbr-global/scripts/creaturescripts/quests/heart_of_destruction/heart_boss_death.lua
  src/creatures/players/player.cpp
  src/creatures/players/player.h
  src/io/functions/iologindata_load_player.cpp
  src/io/functions/iologindata_save_player.cpp
  src/io/io_bosstiary.cpp
  src/io/io_bosstiary.hpp
  src/io/iobestiary.cpp
  src/io/iobestiary.h
  src/server/network/protocol/protocolgame.cpp
  src/server/network/protocol/protocolgame.h
  src/utils/utils_definitions.hpp
Labels: Area: Source, Area: Datapack Global

#1463 fix: small bosstiary tracker issues
  src/server/network/protocol/protocolgame.cpp
Labels: Area: Source

#1466 fix: remove checking empty map tile
  src/io/iomap.cpp
Labels: Area: Source

#1458 feat: Move CMake sources to subdirectories
  cmake/modules/CanaryLib.cmake
  cmake/modules/Sources.cmake
  src/config/CMakeLists.txt
  src/creatures/CMakeLists.txt
  src/database/CMakeLists.txt
  src/game/CMakeLists.txt
  src/io/CMakeLists.txt
  src/items/CMakeLists.txt
  src/lib/CMakeLists.txt
  src/lua/CMakeLists.txt
  src/lua/callbacks/CMakeLists.txt
  src/lua/creature/CMakeLists.txt
  src/lua/functions/CMakeLists.txt
  src/lua/functions/core/CMakeLists.txt
  src/lua/functions/creatures/CMakeLists.txt
  src/lua/functions/events/CMakeLists.txt
  src/lua/functions/items/CMakeLists.txt
  src/lua/functions/map/CMakeLists.txt
  src/lua/global/CMakeLists.txt
  src/lua/modules/CMakeLists.txt
  src/lua/scripts/CMakeLists.txt
  src/map/CMakeLists.txt
  src/security/CMakeLists.txt
  src/server/CMakeLists.txt
  src/utils/CMakeLists.txt
Labels: Area: Source

#1467 refactor: simplify map file reading (removed tree nodes)
  src/creatures/combat/condition.cpp
  src/creatures/combat/condition.h
  src/io/CMakeLists.txt
  src/io/fileloader.cpp
  src/io/fileloader.h
  src/io/filestream.cpp
  src/io/filestream.hpp
  src/io/iomap.cpp
  src/io/iomap.h
  src/map/mapcache.cpp
  src/map/mapcache.h
  vcproj/canary.vcxproj
Labels: Area: Source

#1450 feat: automatic corner carpets (for free!)
  data-otservbr-global/scripts/actions/other/carpets.lua
  src/game/game.cpp
  src/items/item.h
  src/items/tile.cpp
  src/items/tile.h
  src/items/trashholder.cpp
  src/lua/functions/items/item_functions.cpp
  src/lua/functions/items/item_functions.hpp
  src/map/house/housetile.h
Labels: Area: Source, Area: Datapack Global

#1462 fix: charger spawn event conflicting with function name
  data-otservbr-global/scripts/creaturescripts/quests/heart_of_destruction/charger_spawn.lua
Labels: Area: Datapack Global

#1474 fix: raids announce messages
  data-otservbr-global/raids/edron/orshabaal.xml
  data-otservbr-global/raids/edron/warlock.xml
  data-otservbr-global/raids/farmine/draptor.xml
  data-otservbr-global/raids/farmine/zulazza_the_corruptor.xml
  data-otservbr-global/raids/liberty_bay/ferumbras.xml
  data-otservbr-global/raids/liberty_bay/morgaroth.xml
  data-otservbr-global/raids/roshamuul/omrafir.xml
  data-otservbr-global/raids/svargrond/barba_bittermor.xml
  data-otservbr-global/raids/svargrond/barba_svar.xml
  data-otservbr-global/raids/venore/the_old_widow.xml
  data-otservbr-global/raids/venore/undead.xml
Labels: Area: Datapack Global

#1465 fix: add missing item ids from addons
  data-otservbr-global/scripts/actions/addons/addons.lua
Labels: Area: Datapack Global

#1476 fix: not add "Position" type to the lua types vector
  data-otservbr-global/scripts/globalevents/worldchanges/yasir.lua
  src/lua/functions/core/game/global_functions.cpp
  src/lua/lua_definitions.hpp
Labels: Area: Source, Area: Datapack Global

#1471 fix: di container functions return type
  src/lib/di/container.hpp
Labels: Area: Source

#1461 fix: glow inventory working as global behavior and custom
  src/server/network/protocol/protocolgame.cpp
Labels: Area: Source

#1445 improve: tweaks in talkactions
  data/scripts/talkactions/gm/count_monsters.lua
  data/scripts/talkactions/gm/getlook.lua
  data/scripts/talkactions/gm/position.lua
  data/scripts/talkactions/gm/spy.lua
  data/scripts/talkactions/god/add_addons.lua
  data/scripts/talkactions/god/add_money.lua
  data/scripts/talkactions/god/add_outfit.lua
  data/scripts/talkactions/god/flags.lua
  data/scripts/talkactions/god/forge_functions.lua
  data/scripts/talkactions/god/vip_manager.lua
  data/scripts/talkactions/player/server_info.lua
  data/scripts/talkactions/player/tibia_timer.lua
Labels: Area: Datapack Core

#1252 feat: docker-compose
  .gitignore
  docker/.dockerignore
  docker/.env.dist
  docker/Dockerfile.dev
  docker/config.sh
  docker/docker-compose.yml
  recompile.sh
  start.sh
Labels: Area: Docker

#1279 improve: CombatType enum handling with magic enum
  src/creatures/players/imbuements/imbuements.cpp
  src/creatures/players/player.h
  src/utils/tools.cpp
  src/utils/tools.h
  src/utils/utils_definitions.hpp
Labels: Area: Source

#1483 fix: Guarantees that canary_lib is always static
  cmake/modules/BaseConfig.cmake
  cmake/modules/CanaryLib.cmake
  src/CMakeLists.txt
Labels: Area: Source

#1484 fix: revert wrong area direction calculation
  src/creatures/combat/combat.hpp
Labels: Area: Source

#1423 fix: action to buy premium/vip time
  data-otservbr-global/lib/vip/vip_system.lua
  data-otservbr-global/scripts/creaturescripts/customs/vip.lua
  data-otservbr-global/scripts/creaturescripts/others/login.lua
  data/scripts/talkactions/player/vip.lua
  src/creatures/players/account/account.cpp
  src/creatures/players/account/account.hpp
  src/creatures/players/player.cpp
  src/creatures/players/player.hpp
  src/game/game.cpp
  src/game/game.hpp
  src/io/functions/iologindata_load_player.cpp
  src/io/iologindata.cpp
  src/io/iologindata.hpp
  src/lua/functions/core/game/global_functions.cpp
  src/lua/functions/core/game/global_functions.hpp
  src/lua/functions/creatures/player/player_functions.cpp
  src/lua/functions/creatures/player/player_functions.hpp
  src/server/network/protocol/protocolgame.cpp
  src/server/network/protocol/protocollogin.cpp
  src/utils/tools.cpp
  src/utils/tools.hpp
  tests/account_test.cpp
Labels: Area: Source, Area: Datapack Global, Area: Datapack Core

#1488 fix: quest system unique id
  src/map/mapcache.cpp
Labels: Area: Source

#1487 feat: teleport player to room vocation
  config.lua.dist
  data-otservbr-global/lib/others/dawnport_lib.lua
  data-otservbr-global/npc/oressa.lua
  src/config/config_definitions.hpp
  src/config/configmanager.cpp
  src/lua/functions/core/game/config_functions.cpp
Labels: Area: Source, Area: Datapack Global

#1479 feat: executioner throw chain
  data-otservbr-global/scripts/spells/attack/executioners_throw.lua
  src/creatures/players/wheel/player_wheel.cpp
Labels: Area: Source, Area: Datapack Global

#1489 fix: remove prey slot crash
  src/server/network/protocol/protocolgame.cpp
Labels: Area: Source

#1495 fix: premdays and lastday updater
  data-otservbr-global/migrations/35.lua
  data-otservbr-global/migrations/36.lua
  schema.sql
Labels: Area: Datapack Global

#1490 improve: enable clang format to add braces and new line (EOF)
  .clang-format
  .github/workflows/clang-lint.yml
  src/canary_server.cpp
  src/creatures/combat/condition.cpp
  src/creatures/monsters/monster.cpp
  src/creatures/monsters/monster.hpp
  src/creatures/players/imbuements/imbuements.cpp
  src/creatures/players/player.cpp
  src/creatures/players/player.hpp
  src/creatures/players/wheel/player_wheel.cpp
  src/database/databasetasks.cpp
  src/game/game.cpp
  src/game/movement/teleport.cpp
  src/game/scheduling/dispatcher.cpp
  src/game/zones/zone.cpp
  src/io/functions/iologindata_save_player.cpp
  src/io/io_bosstiary.cpp
  src/io/iobestiary.cpp
  src/io/ioguild.cpp
  src/io/iomap.cpp
  src/items/containers/container.cpp
  src/items/containers/mailbox/mailbox.cpp
  src/items/item.cpp
  src/items/items.cpp
  src/items/tile.cpp
  src/items/trashholder.cpp
  src/items/weapons/weapons.cpp
  src/lib/logging/logger.hpp
  src/lib/thread/thread_pool.cpp
  src/lua/functions/creatures/player/mount_functions.cpp
  src/main.cpp
  src/map/map.cpp
  src/map/mapcache.cpp
  src/map/utils/astarnodes.cpp
  src/map/utils/qtreenode.cpp
  src/server/network/protocol/protocolgame.cpp
  src/utils/tools.cpp
Labels: Area: Source

#1499 fix: addEvent, adjusted loadItems function and player wheel log
  src/creatures/players/wheel/player_wheel.cpp
  src/io/functions/iologindata_load_player.cpp
  src/io/functions/iologindata_load_player.hpp
  src/lua/functions/core/game/global_functions.cpp
  src/lua/lua_definitions.hpp
Labels: Area: Source

#1486 improve: parallel map loading and cleanup
  src/canary_server.cpp
  src/canary_server.hpp
  src/config/configmanager.cpp
  src/game/game.cpp
  src/game/game.hpp
  src/io/iomap.cpp
  src/io/iomap.hpp
  src/lua/functions/core/game/game_functions.cpp
  src/map/map.cpp
  src/map/map.hpp
  src/map/mapcache.cpp
  src/map/mapcache.hpp
  src/map/utils/qtreenode.cpp
Labels: Area: Source

#1503 fix: inject g_logger from interface not impl
  src/lib/logging/log_with_spd_log.cpp
  src/lib/logging/log_with_spd_log.hpp
Labels: Area: Source

#1480 improve: rework creature icon system
  data/libs/functions/creature.lua
  data/scripts/talkactions/god/zones.lua
  src/creatures/creature.cpp
  src/creatures/creature.hpp
  src/creatures/creatures_definitions.hpp
  src/creatures/monsters/monster.cpp
  src/creatures/monsters/monster.hpp
  src/creatures/players/player.cpp
  src/creatures/players/player.hpp
  src/game/zones/zone.cpp
  src/lua/functions/core/game/lua_enums.cpp
  src/lua/functions/core/game/lua_enums.hpp
  src/lua/functions/creatures/creature_functions.cpp
  src/lua/functions/creatures/creature_functions.hpp
  src/lua/functions/creatures/monster/monster_functions.cpp
  src/server/network/protocol/protocolgame.cpp
  src/server/network/protocol/protocolgame.hpp
  src/utils/utils_definitions.hpp
Labels: Area: Source, Area: Datapack Core

#1501 fix: reload all clear monster types and other adjusts
  data-otservbr-global/scripts/globalevents/worldchanges/yasir.lua
  data/libs/functions/string.lua
  src/creatures/monsters/monsters.hpp
  src/game/functions/game_reload.cpp
  src/lua/scripts/scripts.cpp
  src/map/mapcache.cpp
  vcproj/canary.vcxproj
Labels: Area: Source, Area: Datapack Global, Area: Datapack Core

#1504 fix: client debug due to undefined element
  src/server/network/protocol/protocolgame.cpp
Labels: Area: Source

#1507 fix: load map npcs and monsters from main map
  src/canary_server.cpp
  src/game/game.cpp
  src/map/map.cpp
  src/map/map.hpp
Labels: Area: Source

#1511 fix: spectral bolts attack and raid draptor update
  data-otservbr-global/raids/farmine/draptor.xml
  data/items/items.xml
Labels: Area: Datapack Global, Area: Datapack Core

#1498 feat: fireworks rocket
  data-otservbr-global/scripts/actions/other/special_firework_rocket.lua
  data-otservbr-global/scripts/actions/tools/skinning.lua
  src/lua/functions/core/game/lua_enums.cpp
  src/utils/tools.cpp
  src/utils/utils_definitions.hpp
Labels: Area: Source, Area: Datapack Global

#1415 feat: primal menace mechanics
  data-otservbr-global/monster/quests/primal_ordeal_quest/magma_bubble.lua
  data-otservbr-global/monster/quests/primal_ordeal_quest/the_primal_menace.lua
  data-otservbr-global/npc/gnomadness.lua
  data-otservbr-global/scripts/creaturescripts/quests/the_primal_ordeal/magma_bubble_death.lua
  data-otservbr-global/scripts/creaturescripts/quests/the_primal_ordeal/the_primal_menace_killed.lua
  data-otservbr-global/scripts/hazard/primal.lua
  data/libs/hazard_lib.lua
Labels: Area: Datapack Global, Area: Datapack Core

#1491 improve: correct functioning of the daily reward
  data/modules/scripts/daily_reward/daily_reward.lua
Labels: Area: Datapack Core

#1500 feat: more flexible house pricing
  config.lua.dist
  data/libs/functions/functions.lua
  data/libs/functions/player.lua
  data/scripts/talkactions/player/buy_house.lua
  src/config/config_definitions.hpp
  src/config/configmanager.cpp
  src/lua/functions/core/game/config_functions.cpp
  src/lua/functions/map/house_functions.cpp
  src/lua/functions/map/house_functions.hpp
  src/map/house/house.cpp
  src/map/house/house.hpp
  src/utils/tools.cpp
  src/utils/tools.hpp
Labels: Area: Source, Area: Datapack Core

#1367 feat: add player exhaust functions.
  data/libs/functions/player.lua
Labels: Area: Datapack Core

#1496 fix: show vip xp bonus on exp rate at skills
  data-canary/scripts/creaturescripts/login.lua
  data-otservbr-global/scripts/creaturescripts/others/login.lua
Labels: Area: Datapack Global, Area: Datapack Canary

#1518 clean: run lua formatter on remaining files
  data-canary/scripts/creaturescripts/player_death.lua
  data-otservbr-global/npc/gnomilly.lua
  data-otservbr-global/npc/rafzan.lua
  data-otservbr-global/scripts/creaturescripts/others/player_death.lua
Labels: Area: Datapack Global, Area: Datapack Canary

#1519 fix: plunder patriarch corpse and sanguine imbuements
  data/items/items.xml
Labels: Area: Datapack Core

#1517 fix: disable map async load
  src/canary_server.cpp
  src/canary_server.hpp
  src/game/game.cpp
  src/map/map.cpp
  src/map/map.hpp
Labels: Area: Source

#1524 feat: more robust zone handling
  data/libs/functions/bosslever.lua
  data/libs/functions/spectators.lua
  data/libs/hazard_lib.lua
  data/libs/zones_lib.lua
  src/game/game.cpp
  src/game/game.hpp
  src/game/movement/position.hpp
  src/game/zones/zone.cpp
  src/game/zones/zone.hpp
  src/items/tile.cpp
  src/lua/callbacks/callbacks_definitions.hpp
  src/lua/callbacks/event_callback.cpp
  src/lua/callbacks/event_callback.hpp
  src/lua/functions/core/game/zone_functions.cpp
  src/lua/functions/core/game/zone_functions.hpp
  src/map/map.cpp
Labels: Area: Source, Area: Datapack Core

#1525 fix: webhook race condition crash
  src/server/network/webhook/webhook.cpp
Labels: Area: Source

#1481 feat: magma bubble full mechanics
  data-otservbr-global/monster/quests/primal_ordeal_quest/lava_creature.lua
  data-otservbr-global/monster/quests/primal_ordeal_quest/magma_bubble.lua
  data-otservbr-global/monster/quests/primal_ordeal_quest/magma_crystal.lua
  data-otservbr-global/monster/quests/primal_ordeal_quest/the_end_of_days.lua
  data-otservbr-global/monster/quests/primal_ordeal_quest/unchained_fire.lua
  data-otservbr-global/npc/gnomadness.lua
  data-otservbr-global/scripts/hazard/primal.lua
  data-otservbr-global/scripts/quests/primal_ordeal_quest/magma_bubble_fight.lua
  data-otservbr-global/scripts/quests/primal_ordeal_quest/magma_bubble_lever.lua
  data-otservbr-global/scripts/spells/monster/unchained_fire_beam.lua
  data-otservbr-global/scripts/spells/monster/unchained_fire_explosion.lua
  data/items/items.xml
  data/libs/encounters_lib.lua
  data/libs/functions/bosslever.lua
  data/libs/hazard_lib.lua
  data/libs/libs.lua
  data/scripts/talkactions/god/zones.lua
Labels: Area: Datapack Global, Area: Datapack Core

#1528 fix: npc captain dreadnought
  data-otservbr-global/npc/captain_dreadnought.lua
Labels: Area: Datapack Global

#1529 fix: improved stability of primal menace boss
  data-otservbr-global/monster/quests/primal_ordeal_quest/the_primal_menace.lua
Labels: Area: Datapack Global

#1530 fix: conflict in unchained fire
  data-otservbr-global/monster/quests/primal_ordeal_quest/unchained_fire.lua
Labels: Area: Datapack Global

#1531 fix: items.xml indentation
  data/items/items.xml
Labels: Area: Datapack Core
