Repository opentibiabr/canary, pull requests merged in 2023-01, with the labels that each got.

#737 [Bug] handling nullptr in Game::internalMoveItem and others functions
  src/game/game.cpp
Labels: Area: Source

#739 [Enhancement] refactor loadScripts function to improve readability and performance
  src/creatures/npcs/npc.cpp
  src/creatures/npcs/npc.h
  src/creatures/npcs/npcs.cpp
  src/creatures/npcs/npcs.h
  src/game/functions/game_reload.cpp
  src/lua/scripts/scripts.cpp
  src/otserv.cpp
Labels: Area: Source

#736 [Bug] fixes clone items in market, checking if item exists in depot before create a offer
  src/creatures/players/player.cpp
  src/creatures/players/player.h
  src/game/game.cpp
Labels: Area: Source

#749 [Bug] fixes create market offer
  src/game/game.cpp
Labels: Area: Source

#754 [Bug] fixes player auto id (fixing 65536 player id max size)
  src/creatures/players/player.h
Labels: Area: Source

#475 Fixed imbued item not start the imbuement timer countdown
  src/creatures/players/player.cpp
  src/lua/creature/movement.cpp
Labels: Area: Source

#761 [Bug] forge skill chance bug by changing data type from int to double
  src/creatures/combat/combat.cpp
  src/creatures/players/player.cpp
  src/game/game.cpp
Labels: Area: Source

#716 improve: clean and update docker
  .github/workflows/build-docker.yml
  docker/.gitignore
  docker/Dockerfile.arm
  docker/Dockerfile.x86
  docker/data/download-myaac.sh
  docker/data/login.py
  docker/data/start.sh
  docker/data/web/.gitignore
  docker/docker-compose.yml
  docker/login/Dockerfile
  docker/mysql/Dockerfile
  docker/server/start.sh
  docker/test-server.sh
Labels: Area: Docker

#573 improve: rework on Player::getStorageValue for return storage value
  src/creatures/combat/condition.cpp
  src/creatures/players/imbuements/imbuements.cpp
  src/creatures/players/player.cpp
  src/creatures/players/player.h
  src/lua/functions/creatures/player/player_functions.cpp
  src/server/network/protocol/protocolgame.cpp
Labels: Area: Source

#767 improve: changing concatenation to fmt::format
  src/creatures/combat/condition.cpp
  src/creatures/creature.cpp
  src/creatures/players/player.cpp
  src/game/game.cpp
  src/game/movement/position.cpp
  src/items/item.cpp
  src/lua/functions/core/game/game_functions.cpp
  src/otserv.cpp
  src/server/network/protocol/protocolgame.cpp
  src/server/network/protocol/protocolstatus.cpp
  src/utils/tools.cpp
Labels: Area: Source

#766 fix: blackboard description by adding 'allowDistRead' flag
  data/items/items.xml
Labels: Area: Datapack Core

#693 feat: methods to set factions into player
  src/creatures/combat/combat.cpp
  src/creatures/players/player.h
  src/lua/functions/creatures/player/player_functions.cpp
  src/lua/functions/creatures/player/player_functions.hpp
Labels: Area: Source, Stale

#740 refactor: remove old XML interface
  src/creatures/combat/spells.cpp
  src/creatures/combat/spells.h
  src/creatures/monsters/monsters.cpp
  src/creatures/monsters/monsters.h
  src/game/functions/game_reload.cpp
  src/game/game.cpp
  src/items/items.cpp
  src/items/weapons/weapons.cpp
  src/items/weapons/weapons.h
  src/lua/creature/actions.cpp
  src/lua/creature/actions.h
  src/lua/creature/creatureevent.cpp
  src/lua/creature/creatureevent.h
  src/lua/creature/movement.cpp
  src/lua/creature/movement.h
  src/lua/creature/talkaction.cpp
  src/lua/creature/talkaction.h
  src/lua/functions/core/game/game_functions.cpp
  src/lua/functions/creatures/combat/spell_functions.cpp
  src/lua/functions/events/action_functions.cpp
  src/lua/functions/events/action_functions.hpp
  src/lua/functions/events/creature_event_functions.cpp
  src/lua/functions/events/global_event_functions.cpp
  src/lua/functions/events/move_event_functions.cpp
  src/lua/functions/events/talk_action_functions.cpp
  src/lua/functions/items/item_classification_functions.cpp
  src/lua/functions/items/weapon_functions.cpp
  src/lua/functions/lua_functions_loader.cpp
  src/lua/global/baseevents.cpp
  src/lua/global/baseevents.h
  src/lua/global/globalevent.cpp
  src/lua/global/globalevent.h
  src/lua/lua_definitions.hpp
  src/lua/scripts/scripts.cpp
  src/lua/scripts/scripts.h
Labels: Area: Source

#786 fix: remove target without accessing freed memory
  src/creatures/monsters/monster.cpp
Labels: Area: Source

#785 fix: out of bounds memory access in setValue function
  src/creatures/combat/combat.h
Labels: Area: Source

#787 fix: setLootContainer without accessing freed memory
  src/creatures/players/player.cpp
Labels: Area: Source

#791 fix: added Player* nullpointer check
  src/game/game.cpp
Labels: Area: Source

#790 fix: added condition argument to wait calls in threadMain functions
  src/database/databasetasks.cpp
  src/game/scheduling/scheduler.cpp
  src/game/scheduling/tasks.cpp
  src/otserv.cpp
Labels: Area: Source

#796 fix: close server console after done message
  src/game/game.cpp
Labels: Area: Source

#788 fix: some combat nullpointers
  src/creatures/combat/combat.cpp
Labels: Area: Source

#798 fix exception handling, switch/if chain and others
  src/creatures/combat/combat.cpp
  src/database/database.h
  src/game/movement/position.h
  src/lua/callbacks/creaturecallback.h
  src/server/network/protocol/protocol.cpp
  src/server/server.cpp
Labels: Area: Source

#436 feat: add loadMapChunk lua function
  src/game/game.cpp
  src/game/game.h
  src/io/iomap.cpp
  src/io/iomap.h
  src/lua/functions/core/game/game_functions.cpp
  src/lua/functions/core/game/game_functions.hpp
  src/map/map.cpp
  src/map/map.h
Labels: Area: Source

#800 improve: adding script name in lua scripts errors logs
  src/creatures/combat/spells.cpp
  src/creatures/interactions/chat.cpp
  src/creatures/npcs/npcs.cpp
  src/game/functions/game_reload.cpp
  src/lua/creature/actions.cpp
  src/lua/creature/creatureevent.cpp
  src/lua/creature/events.cpp
  src/lua/creature/movement.cpp
  src/lua/creature/raids.cpp
  src/lua/global/baseevents.cpp
  src/lua/global/baseevents.h
  src/lua/scripts/luascript.cpp
  src/lua/scripts/luascript.h
  src/lua/scripts/scripts.cpp
  src/lua/scripts/scripts.h
  src/otserv.cpp
  src/server/signals.cpp
Labels: Area: Source

#784 fix: weapons, reverting some changes from XML pr
  src/creatures/combat/spells.cpp
  src/creatures/combat/spells.h
  src/items/weapons/weapons.cpp
  src/items/weapons/weapons.h
  src/lua/functions/creatures/combat/combat_functions.cpp
  src/lua/functions/items/weapon_functions.cpp
  src/lua/scripts/lua_environment.cpp
  src/lua/scripts/lua_environment.hpp
Labels: Area: Source

#807 fix: loop when opening server without db
  src/otserv.cpp
Labels: Area: Source

#818 fix: imbuement decaying time
  src/creatures/players/imbuements/imbuements.cpp
  src/creatures/players/imbuements/imbuements.h
  src/creatures/players/player.cpp
  src/creatures/players/player.h
  src/game/game.cpp
  src/game/game.h
  src/io/iologindata.cpp
  src/items/item.cpp
  src/items/item.h
  src/items/items_definitions.hpp
  src/lua/creature/movement.cpp
  src/lua/functions/items/item_functions.cpp
Labels: Area: Source

#814 feat: minimum level to buy a house
  config.lua.dist
  data-canary/scripts/talkactions/player/buy_house.lua
  data-canary/scripts/talkactions/player/server_info.lua
  data-otservbr-global/scripts/talkactions/player/buy_house.lua
  data-otservbr-global/scripts/talkactions/player/server_info.lua
  src/config/config_definitions.hpp
  src/config/configmanager.cpp
  src/lua/functions/core/game/config_functions.cpp
Labels: Area: Source, Area: Datapack Global, Area: Datapack Canary

#821 improve: enabling checksum sequence method/compression in OTClient
  src/server/network/protocol/protocolgame.cpp
Labels: Area: Source

#817 fix: party hunt analyzer prices from leader
  src/creatures/players/grouping/party.cpp
  src/utils/const.hpp
Labels: Area: Source

#809 fix for door not opening/closing
  data-canary/scripts/actions/door/custom_door.lua
  data-canary/scripts/actions/door/key_door.lua
  data-canary/scripts/actions/door/level_door.lua
  data-canary/scripts/actions/door/quest_door.lua
Labels: Area: Datapack Canary
