Repository opentibiabr/canary, pull requests merged in 2023-03, with the labels that each got.

#885 fix: enables opening monster corpse post-reward collection
  src/creatures/players/player.cpp
  src/items/containers/container.cpp
  src/items/containers/container.h
  src/items/items_definitions.hpp
  src/lua/creature/actions.cpp
  src/utils/tools.cpp
Labels: Area: Source

#886 feat: missing factions
  data-otservbr-global/monster/aquatics/deathling_scout.lua
  data-otservbr-global/monster/aquatics/deathling_spellsinger.lua
  data-otservbr-global/monster/aquatics/deepling_brawler.lua
  data-otservbr-global/monster/aquatics/deepling_elite.lua
  data-otservbr-global/monster/aquatics/deepling_guard.lua
  data-otservbr-global/monster/aquatics/deepling_scout.lua
  data-otservbr-global/monster/aquatics/deepling_spellsinger.lua
  data-otservbr-global/monster/aquatics/deepling_tyrant.lua
  data-otservbr-global/monster/aquatics/deepling_warrior.lua
  data-otservbr-global/monster/aquatics/deepling_worker.lua
  data-otservbr-global/monster/giants/ogre_rowdy.lua
  data-otservbr-global/monster/giants/ogre_ruffian.lua
  data-otservbr-global/monster/giants/ogre_sage.lua
  data-otservbr-global/monster/humans/black_sphinx_acolyte.lua
  data-otservbr-global/monster/humans/burning_gladiator.lua
  data-otservbr-global/monster/humans/priestess_of_the_wild_sun.lua
  data-otservbr-global/monster/magicals/blue_djinn.lua
  data-otservbr-global/monster/magicals/crypt_warden.lua
  data-otservbr-global/monster/magicals/efreet.lua
  data-otservbr-global/monster/magicals/green_djinn.lua
  data-otservbr-global/monster/magicals/lamassu.lua
  data-otservbr-global/monster/magicals/marid.lua
  data-otservbr-global/monster/magicals/sphinx.lua
  src/game/game_definitions.hpp
  src/lua/functions/core/game/lua_enums.cpp
Labels: Area: Source, Area: Datapack Global

#892 fix: npc idle check, interactions
  src/creatures/monsters/monster.cpp
  src/creatures/monsters/monster.h
  src/creatures/npcs/npc.cpp
  src/creatures/npcs/npc.h
  src/creatures/npcs/spawns/spawn_npc.cpp
  src/game/game.cpp
  src/lua/functions/creatures/npc/npc_functions.cpp
Labels: Area: Source

#900 fix: revert some teleportTo things
  src/lua/functions/creatures/creature_functions.cpp
Labels: Area: Source

#902 fix: validation of protocol info received from client
  data/modules/scripts/daily_reward/daily_reward.lua
  src/creatures/npcs/npc.cpp
Labels: Area: Source, Area: Datapack Core

#905 fix: Imbuement shrine use on non-item objects
  data-canary/scripts/actions/imbuement_shrine.lua
  data-otservbr-global/scripts/actions/object/imbuement_shrine.lua
Labels: Area: Datapack Global, Area: Datapack Canary

#914 fix: mail bug
  src/io/iologindata.cpp
Labels: Area: Source

#910 fix: protocol validation on selling items
  src/creatures/npcs/npc.cpp
Labels: Area: Source

#904 fix: cleaning external backpacks on death
  src/creatures/players/player.cpp
  src/creatures/players/player.h
Labels: Area: Source

#897 fix: server motd from config.lua
  config.lua.dist
  data-otservbr-global/scripts/creaturescripts/others/login.lua
  data/global.lua
  src/config/config_definitions.hpp
  src/config/configmanager.cpp
  src/game/game.cpp
  src/lua/functions/core/game/config_functions.cpp
  src/server/network/protocol/protocollogin.cpp
  src/server/network/protocol/protocolstatus.cpp
Labels: Area: Source, Area: Datapack Global, Area: Datapack Core

#923 fix: speed when mounting from outfit window
  src/game/game.cpp
Labels: Area: Source

#920 fix: god light
  src/creatures/creatures_definitions.hpp
Labels: Area: Source

#916 fix: player pathfind range and blocked tiles
  src/creatures/creature.cpp
  src/creatures/creature.h
  src/items/tile.cpp
Labels: Area: Source

#915 fix: powerful imbuement price
  data/XML/imbuements.xml
  src/creatures/players/imbuements/imbuements.h
Labels: Area: Source, Area: Datapack Core

#927 fix: possible clone of items on market
  src/game/game.cpp
Labels: Area: Source

#925 fix: elementalist, dream courts and Grizzly Adams npc quest log
  data-otservbr-global/lib/core/storages.lua
  data-otservbr-global/npc/broken_servant_sentry.lua
  data-otservbr-global/npc/grizzly_adams.lua
  data-otservbr-global/scripts/creaturescripts/customs/freequests.lua
  data-otservbr-global/scripts/movements/quests/the_dream_courts/teleport.lua
  data-otservbr-global/startup/tables/door_quest.lua
Labels: Area: Datapack Global

#406 fix: data-canary tools to client id
  data-canary/scripts/lib/register_actions.lua
Labels: Area: Datapack Canary

#928 fix: arboreal ring id on primal bag
  data-otservbr-global/scripts/actions/other/primal_bag.lua
Labels: Area: Datapack Global

#929 improve: add a rate for points received in "the killing in the name of"
  config.lua.dist
  data-otservbr-global/npc/grizzly_adams.lua
  src/config/config_definitions.hpp
  src/config/configmanager.cpp
  src/lua/functions/core/game/config_functions.cpp
Labels: Area: Source, Area: Datapack Global

#933 fix: curl TLS version to same of discord webhook
  src/map/map.cpp
  src/server/network/webhook/webhook.cpp
Labels: Area: Source

#935 fix: monster drop tables
  data-otservbr-global/monster/humanoids/crazed_summer_rearguard.lua
  data-otservbr-global/monster/humanoids/crazed_summer_vanguard.lua
  data-otservbr-global/monster/humanoids/crazed_winter_rearguard.lua
  data-otservbr-global/monster/humanoids/crazed_winter_vanguard.lua
  data-otservbr-global/monster/mammals/exotic_bat.lua
  data-otservbr-global/monster/vermins/exotic_cave_spider.lua
Labels: Area: Datapack Global

#936 feat: access to dream scar added in order to do bosses
  data-otservbr-global/lib/core/storages.lua
  data-otservbr-global/scripts/creaturescripts/customs/freequests.lua
  data-otservbr-global/startup/tables/door_quest.lua
Labels: Area: Datapack Global

#940 fix: oberon boss fight mechanics according to global tibia
  data-otservbr-global/monster/quests/the_secret_library/bosses/grand_master_oberon.lua
  data-otservbr-global/monster/quests/the_secret_library/bosses/grand_master_oberon_functions.lua
Labels: Area: Datapack Global

#937 fix: default buttons for modal windows using new lib
  data/libs/modal_window_lib.lua
Labels: Area: Datapack Core

#934 improve: added access to bounac area
  data-otservbr-global/lib/core/storages.lua
  data-otservbr-global/scripts/creaturescripts/customs/freequests.lua
  data-otservbr-global/startup/tables/door_quest.lua
Labels: Area: Datapack Global

#939 fix: spell cooldowns according to global tibia
  data-canary/scripts/spells/attack/death_strike.lua
  data-canary/scripts/spells/attack/ethereal_spear.lua
  data-canary/scripts/spells/conjuring/Conjure_Wand_of_Darkness.lua
  data-otservbr-global/scripts/spells/attack/death_strike.lua
  data-otservbr-global/scripts/spells/attack/ethereal_spear.lua
  data-otservbr-global/scripts/spells/conjuring/Conjure_Wand_of_Darkness.lua
Labels: Area: Datapack Global, Area: Datapack Canary

#944 fix: wrap stackable/charges items
  src/enums/item_attribute.hpp
  src/game/game.cpp
  src/game/game.h
  src/items/functions/item/attribute.hpp
  src/items/item.cpp
  src/items/items_definitions.hpp
  src/utils/tools.cpp
Labels: Area: Source

#948 fix: quest system set container items attributes
  data-otservbr-global/scripts/actions/other/others/quest_system1.lua
Labels: Area: Datapack Global

#938 fix: add "isRemoved" creature check for avoid memory freed
  src/creatures/combat/spells.cpp
Labels: Area: Source

#947 fix: familiar nil storage and others familiar bugs
  config.lua.dist
  data-canary/scripts/creaturescripts/familiar/on_login.lua
  data-canary/scripts/spells/familiar/druid_familiar.lua
  data-canary/scripts/spells/familiar/knight_familiar.lua
  data-canary/scripts/spells/familiar/paladin_familiar.lua
  data-canary/scripts/spells/familiar/sorcerer_familiar.lua
  data-otservbr-global/scripts/creaturescripts/familiar/on_death.lua
  data-otservbr-global/scripts/creaturescripts/familiar/on_login.lua
  data-otservbr-global/scripts/spells/familiar/druid_familiar.lua
  data-otservbr-global/scripts/spells/familiar/knight_familiar.lua
  data-otservbr-global/scripts/spells/familiar/paladin_familiar.lua
  data-otservbr-global/scripts/spells/familiar/sorcerer_familiar.lua
  data/libs/functions/player.lua
  src/config/config_definitions.hpp
  src/config/configmanager.cpp
  src/creatures/players/player.cpp
  src/lua/functions/core/game/config_functions.cpp
Labels: Area: Source, Area: Datapack Global, Area: Datapack Canary, Area: Datapack Core

#950 improve: adding missing bosstiary info
  data-otservbr-global/monster/quests/a_pirates_tail_quest/ratmiral_blackwhiskers.lua
  data-otservbr-global/monster/quests/a_pirates_tail_quest/tentuglys_head.lua
  data-otservbr-global/monster/quests/adventures_of_galthen/megasylvan_yselda.lua
  data-otservbr-global/monster/quests/ancient_feud/katex_blood_tongue.lua
  data-otservbr-global/monster/quests/ancient_feud/srezz_yellow_eyes.lua
  data-otservbr-global/monster/quests/ancient_feud/utua_stone_sting.lua
  data-otservbr-global/monster/quests/ancient_feud/yirkas_blue_scales.lua
  data-otservbr-global/monster/quests/feaster_of_souls/the_dread_maiden.lua
  data-otservbr-global/monster/quests/feaster_of_souls/the_paleworm.lua
  data-otservbr-global/monster/quests/feaster_of_souls/the_unwelcome.lua
  data-otservbr-global/monster/quests/kilmaresh/amenef_the_burning.lua
  data-otservbr-global/monster/quests/kilmaresh/neferi_the_spy.lua
  data-otservbr-global/monster/quests/kilmaresh/sister_hetai.lua
  data-otservbr-global/monster/quests/soul_war/goshnars_cruelty.lua
  data-otservbr-global/monster/quests/soul_war/goshnars_greed.lua
  data-otservbr-global/monster/quests/soul_war/goshnars_hatred.lua
  data-otservbr-global/monster/quests/soul_war/goshnars_malice.lua
  data-otservbr-global/monster/quests/soul_war/goshnars_megalomania.lua
  data-otservbr-global/monster/quests/soul_war/goshnars_spite.lua
Labels: Area: Datapack Global

#951 fix: skills rates stages
  data/events/scripts/player.lua
Labels: Area: Datapack Core

#954 fix: ignore items missing id from assets (appearances.dat object)
  src/io/iomap.cpp
  src/items/containers/container.cpp
  src/items/containers/container.h
  src/items/item.cpp
  src/items/item.h
  src/items/items.cpp
Labels: Area: Source

#919 improve: small improvements and fixes
  .gitignore
  config.lua.dist
  data-canary/scripts/creaturescripts/bestiary_kill.lua
  data-canary/scripts/globalevents/global_server_save.lua
  data-canary/scripts/globalevents/save_interval.lua
  data-canary/scripts/movements/unscripted_movements.lua
  data-canary/scripts/talkactions/god/storage_set.lua
  data-otservbr-global/lib/core/storages.lua
  data-otservbr-global/lib/lib.lua
  data-otservbr-global/monster/demons/fire_devil.lua
  data-otservbr-global/monster/humanoids/dwarf.lua
  data-otservbr-global/npc/canary.lua
  data-otservbr-global/npc/captain_dreadnought.lua
  data-otservbr-global/npc/rashid_custom.lua
  data-otservbr-global/npc/testserver_assistant.lua
  data-otservbr-global/scripts/creaturescripts/others/bestiary_kill.lua
  data-otservbr-global/scripts/creaturescripts/others/bosstiary_kill.lua
  data-otservbr-global/scripts/globalevents/customs/save_interval.lua
  data-otservbr-global/scripts/globalevents/others/global_server_save.lua
  data-otservbr-global/scripts/movements/equipment/unscripted_equipments.lua
  data-otservbr-global/scripts/talkactions/player/online.lua
  data/events/scripts/creature.lua
  data/events/scripts/player.lua
  data/global.lua
  data/items/items.xml
  data/libs/forge_lib.lua
  data/libs/functions/functions.lua
  data/npclib/npc_system/modules.lua
  data/scripts/talkactions.lua
  recompile.sh
  src/config/config_definitions.hpp
  src/config/configmanager.cpp
  src/game/game.cpp
  src/lua/functions/core/game/config_functions.cpp
  src/lua/functions/creatures/player/player_functions.cpp
  src/lua/functions/creatures/player/player_functions.hpp
  src/server/network/protocol/protocolgame.cpp
Labels: Area: Source, Area: Datapack Global, Area: Datapack Canary, Area: Datapack Core

#957 fix: added missing boss points persistence when saving player
  src/io/iologindata.cpp
Labels: Area: Source

#958 fix: thais exhibition levers conflicting with door quests
  data-otservbr-global/lib/core/storages.lua
  data-otservbr-global/scripts/actions/other/thais_exhibition.lua
  data-otservbr-global/startup/tables/lever.lua
Labels: Area: Datapack Global

#959 improve: add visual studio solution
  src/pch.hpp
  vcproj/canary.sln
  vcproj/canary.vcxproj
Labels: Area: Source

#953 feat: shortcut to rascacoon, access to the wreckoning and others fixes
  data-otservbr-global/lib/core/storages.lua
  data-otservbr-global/monster/quests/a_pirates_tail_quest/tentuglys_head.lua
  data-otservbr-global/npc/captain_jack_rat.lua
  data-otservbr-global/npc/eustacio.lua
  data-otservbr-global/scripts/creaturescripts/customs/freequests.lua
  data-otservbr-global/scripts/creaturescripts/quests/a_pirates_tail/a_pirates_tail_bosses.lua
  data-otservbr-global/world/otservbr-npc.xml
Labels: Area: Datapack Global, Area: Map Global

#963 improve: boss cooldown timer
  data-otservbr-global/lib/core/storages.lua
  data-otservbr-global/monster/quests/grave_danger/bosses/count_vlarkorth.lua
  data-otservbr-global/monster/quests/grave_danger/bosses/duke_krule.lua
  data-otservbr-global/monster/quests/grave_danger/bosses/earl_osam.lua
  data-otservbr-global/monster/quests/grave_danger/bosses/lord_azaram.lua
  data-otservbr-global/monster/quests/grave_danger/bosses/sir_baeloc.lua
  data-otservbr-global/monster/quests/grave_danger/bosses/sir_nictros.lua
  data/libs/functions/lever.lua
  src/creatures/players/player.h
  src/io/io_bosstiary.cpp
  src/lua/functions/creatures/player/player_functions.cpp
  src/lua/functions/creatures/player/player_functions.hpp
Labels: Area: Source, Area: Datapack Global, Area: Datapack Core

#961 fix: combat type wrong order from earth and fire damage
  src/creatures/creatures_definitions.hpp
Labels: Area: Source
