Repository opentibiabr/canary, pull requests merged in 2023-12, with the labels that each got.

#1947 feat: custom npc shop items from lua table
  data-otservbr-global/npc/battlemart.lua
  data-otservbr-global/npc/hireling.lua
  src/creatures/npcs/npc.cpp
  src/creatures/npcs/npc.hpp
  src/creatures/players/player.cpp
  src/lua/functions/creatures/npc/npc_functions.cpp
  src/lua/functions/creatures/npc/npc_functions.hpp
  src/server/network/protocol/protocolgame.cpp
Labels: Area: Source, Area: Datapack Global

#1950 fix: mana drain damage in analyzer
  data-otservbr-global/scripts/actions/quests/ice_islands/yakchal.lua
  src/game/game.cpp
Labels: Area: Source, Area: Datapack Global

#1934 fix: adjust bosses lever and other fixes
  data-otservbr-global/lib/core/storages.lua
  data-otservbr-global/monster/demons/vexclaw.lua
  data-otservbr-global/monster/quests/feaster_of_souls/the_pale_worm.lua
  data-otservbr-global/monster/quests/primal_ordeal_quest/the_end_of_days.lua
  data-otservbr-global/monster/quests/wrath_of_the_emperor/lizard_abomination.lua
  data-otservbr-global/monster/raids/ferumbras.lua
  data-otservbr-global/monster/trainers/training_machine.lua
  data-otservbr-global/scripts/actions/farmine/oberon_lever.lua
  data-otservbr-global/scripts/actions/quests/grave_danger/cobra_bastion/scarlett.lua
  data-otservbr-global/scripts/globalevents/others/bosslever_death.lua
  data-otservbr-global/scripts/globalevents/vip/online_coins.lua
  data-otservbr-global/scripts/quests/primal_ordeal_quest/magma_bubble_fight.lua
  data-otservbr-global/scripts/quests/primal_ordeal_quest/magma_bubble_lever.lua
  data/libs/functions/bosslever.lua
  data/libs/functions/functions.lua
Labels: Area: Datapack Global, Area: Datapack Core

#1935 fix: rework in hireling skills
  data-otservbr-global/npc/hireling.lua
  data-otservbr-global/scripts/creaturescripts/others/hireling_logout.lua
  data-otservbr-global/scripts/globalevents/game_migrations/20231128213358_move_hireling_data_to_kv.lua
  data-otservbr-global/scripts/lib/register_migrations.lua
  data/libs/hireling_lib.lua
  data/modules/scripts/gamestore/gamestore.lua
  data/modules/scripts/gamestore/init.lua
  data/scripts/talkactions/god/hireling_clear_stats.lua
  data/scripts/talkactions/god/hireling_create_lamp.lua
Labels: Area: Datapack Global, Area: Datapack Core

#1953 fix: disable empty migration log entries
  data-otservbr-global/scripts/lib/register_migrations.lua
Labels: Area: Datapack Global

#1954 docs: change server release version to 3.1.2 and set debug log
  src/core.hpp
  src/lua/functions/lua_functions_loader.hpp
Labels: Area: Source

#1952 fix: monster spawn interval/versperoth kill/chayenne lever
  data-otservbr-global/monster/quests/bigfoots_burden/versperoth.lua
  data-otservbr-global/scripts/actions/quests/chayenne_realm/lever.lua
  src/lua/functions/creatures/monster/monster_functions.cpp
Labels: Area: Source, Area: Datapack Global

#1961 fix: set promotion kv
  data/npclib/npc_system/modules.lua
Labels: Area: Datapack Core

#1870 feat: training weapons for mage and paladin
  config.lua.dist
  src/config/config_definitions.hpp
  src/config/configmanager.cpp
  src/items/weapons/weapons.cpp
Labels: Area: Source

#1963 fix: event indexing race in encounter
  data-otservbr-global/scripts/quests/primal_ordeal_quest/magma_bubble_fight.lua
  data/libs/encounters_lib.lua
  data/libs/functions/set.lua
Labels: Area: Datapack Global, Area: Datapack Core

#1965 fix: sell items while wearing an imbued version
  src/creatures/players/player.cpp
Labels: Area: Source

#1957 fix: icicle resistances and dragon egg damage.
  data-otservbr-global/monster/quests/forgotten_knowledge/icicle.lua
  data-otservbr-global/scripts/spells/monster/icicle_heal.lua
Labels: Area: Datapack Global

#1966 feat: opentelemetry metrics
  cmake/modules/BaseConfig.cmake
  cmake/modules/CanaryLib.cmake
  config.lua.dist
  docker/Dockerfile.arm
  docker/Dockerfile.dev
  docker/Dockerfile.x86
  metrics/README.md
  metrics/docker-compose.yml
  metrics/prometheus/prometheus.yml
  src/account/account.cpp
  src/account/account.hpp
  src/account/account_repository_db.cpp
  src/canary_server.cpp
  src/config/config_definitions.hpp
  src/config/configmanager.cpp
  src/creatures/combat/combat.cpp
  src/creatures/creature.cpp
  src/creatures/npcs/npc.cpp
  src/creatures/npcs/npcs.cpp
  src/creatures/players/player.cpp
  src/database/database.cpp
  src/game/bank/bank.cpp
  src/game/functions/game_reload.cpp
  src/game/game.cpp
  src/game/game.hpp
  src/game/scheduling/task.cpp
  src/game/scheduling/task.hpp
  src/game/zones/zone.cpp
  src/io/functions/iologindata_save_player.cpp
  src/io/io_wheel.cpp
  src/io/iobestiary.cpp
  src/io/iologindata.cpp
  src/io/ioprey.cpp
  src/lib/CMakeLists.txt
  src/lib/metrics/metrics.cpp
  src/lib/metrics/metrics.hpp
  src/lua/functions/core/CMakeLists.txt
  src/lua/functions/core/game/game_functions.cpp
  src/lua/functions/core/libs/core_libs_functions.hpp
  src/lua/functions/core/libs/metrics_functions.cpp
  src/lua/functions/core/libs/metrics_functions.hpp
  src/lua/functions/creatures/player/player_functions.cpp
  src/lua/scripts/luascript.cpp
  src/lua/scripts/luascript.hpp
  src/map/house/house.cpp
  src/server/server.hpp
  vcpkg.json
  vcproj/canary.vcxproj
  vcproj/settings.props
Labels: Area: Source, Area: Docker

#1826 improve: add context parameter to addString()
  data-otservbr-global/scripts/actions/other/outfit_memorial.lua
  data/libs/functions/player.lua
  data/libs/functions/quests.lua
  data/libs/hireling_lib.lua
  data/modules/scripts/blessings/blessings.lua
  data/modules/scripts/daily_reward/daily_reward.lua
  data/modules/scripts/gamestore/init.lua
  src/lua/functions/core/network/network_message_functions.cpp
  src/server/network/message/networkmessage.cpp
  src/server/network/message/networkmessage.hpp
  src/server/network/protocol/protocolgame.cpp
  src/server/network/protocol/protocollogin.cpp
  src/server/network/protocol/protocolstatus.cpp
Labels: Area: Source, Area: Datapack Global, Area: Datapack Core

#1958 improve: change for getTownTemplePosition to getTemplePosition
  data-otservbr-global/scripts/actions/other/temple_scroll.lua
Labels: Area: Datapack Global

#1964 improve: keyword multi-shop on many NPCs
  data-otservbr-global/npc/alaistar.lua
  data-otservbr-global/npc/alexander.lua
  data-otservbr-global/npc/asima.lua
  data-otservbr-global/npc/black_bert.lua
  data-otservbr-global/npc/chuckles.lua
  data-otservbr-global/npc/fenech.lua
  data-otservbr-global/npc/frans.lua
  data-otservbr-global/npc/frederik.lua
  data-otservbr-global/npc/ghorza.lua
  data-otservbr-global/npc/gnomegica.lua
  data-otservbr-global/npc/hamish.lua
  data-otservbr-global/npc/khanna.lua
  data-otservbr-global/npc/mordecai.lua
  data-otservbr-global/npc/nelly.lua
  data-otservbr-global/npc/nipuna.lua
  data-otservbr-global/npc/rabaz.lua
  data-otservbr-global/npc/rachel.lua
  data-otservbr-global/npc/rock_in_a_hard_place.lua
  data-otservbr-global/npc/romir.lua
  data-otservbr-global/npc/shiriel.lua
  data-otservbr-global/npc/sigurd.lua
  data-otservbr-global/npc/sundara.lua
  data-otservbr-global/npc/tandros.lua
  data-otservbr-global/npc/topsy.lua
  data-otservbr-global/npc/xodet.lua
  data/npclib/npc_system/npc_handler.lua
Labels: Area: Datapack Global, Area: Datapack Core

#1967 improve: ajustment unrealized dream
  data-otservbr-global/scripts/actions/other/unrealized_dream.lua
  data-otservbr-global/scripts/actions/valuables/random_items.lua
Labels: Area: Datapack Global

#1968 fix: remove constraint 'guildwar_kills_unique' from 'guildwar_kills' table
  data-otservbr-global/migrations/42.lua
  data-otservbr-global/migrations/43.lua
  schema.sql
Labels: Area: Datapack Global

#876 fix: conditions speed
  data-canary/scripts/runes/paralyze_rune.lua
  data-canary/scripts/spells/support/charge.lua
  data-canary/scripts/spells/support/haste.lua
  data-canary/scripts/spells/support/sharpshooter.lua
  data-canary/scripts/spells/support/strong_haste.lua
  data-otservbr-global/scripts/spells/runes/paralyze_rune.lua
  data-otservbr-global/scripts/spells/support/charge.lua
  data-otservbr-global/scripts/spells/support/haste.lua
  data-otservbr-global/scripts/spells/support/strong_haste.lua
  src/creatures/combat/condition.cpp
  src/creatures/monsters/monsters.cpp
  src/io/iobestiary.cpp
Labels: Area: Source, Area: Datapack Global, Area: Datapack Canary

#1848 feat: weighted random spawns
  config.lua.dist
  src/config/config_definitions.hpp
  src/config/configmanager.cpp
  src/creatures/monsters/spawns/spawn_monster.cpp
  src/creatures/monsters/spawns/spawn_monster.hpp
  src/game/scheduling/task.hpp
  src/pch.hpp
Labels: Area: Source

#1923 fix: cyclopedia description
  src/items/item.cpp
Labels: Area: Source
