Repository opentibiabr/canary, pull requests merged in 2023-05, with the labels that each got.

#1045 fix: shop debug on client 13.16
  src/server/network/protocol/protocolgame.cpp
Labels: Area: Source

#1050 fix: some prices to hireling items
  data-otservbr-global/npc/hireling.lua
  data-otservbr-global/npc/rabaz.lua
  data-otservbr-global/npc/the_orc_king.lua
Labels: Area: Datapack Global

#1058 fix: imbuements decaying in backpack
  src/creatures/players/player.cpp
Labels: Area: Source

#1046 fix: reward container crash
  src/creatures/players/player.cpp
  src/items/containers/container.cpp
  src/items/containers/container.h
  src/items/containers/rewards/rewardchest.cpp
  src/items/containers/rewards/rewardchest.h
Labels: Area: Source

#1066 fix: add player skill wrong displaying to client
  src/server/network/protocol/protocolgame.cpp
Labels: Area: Source

#1079 fix: miscellaneous lua scripts
  data-otservbr-global/lib/quests/grimvale.lua
  data-otservbr-global/lib/quests/svargrond_arena.lua
  data-otservbr-global/scripts/actions/dawnport/lever.lua
  data-otservbr-global/scripts/actions/quests/bigfoot_burden/crystal.lua
  data-otservbr-global/scripts/actions/quests/bigfoot_burden/warzone1_crystal.lua
  data-otservbr-global/scripts/actions/quests/dangerous_depth/lever_barrel.lua
  data-otservbr-global/scripts/creaturescripts/monster/minion_gaz_haragoth_vortex.lua
  data-otservbr-global/scripts/creaturescripts/quests/ferumbras_ascendant/rift_invader_death.lua
  data-otservbr-global/scripts/creaturescripts/quests/raging_mage_tower/raging_mage_kill.lua
  data-otservbr-global/scripts/movements/quests/bigfoot_burden/versperoth_spawn.lua
  data-otservbr-global/scripts/movements/quests/children_of_the_revolution/click.lua
  data-otservbr-global/scripts/spells/monster/charge_vortex.lua
Labels: Area: Datapack Global

#1064 fix: store boost experience calculation
  data/events/scripts/player.lua
Labels: Area: Datapack Core

#1076 fix: error ferumbras ascendant habitats
  data-otservbr-global/scripts/actions/quests/ferumbras_ascendant/habitat_corrupted.lua
  data-otservbr-global/scripts/actions/quests/ferumbras_ascendant/habitat_desert.lua
  data-otservbr-global/scripts/actions/quests/ferumbras_ascendant/habitat_dimension.lua
  data-otservbr-global/scripts/actions/quests/ferumbras_ascendant/habitat_grass.lua
  data-otservbr-global/scripts/actions/quests/ferumbras_ascendant/habitat_ice.lua
  data-otservbr-global/scripts/actions/quests/ferumbras_ascendant/habitat_mushroom.lua
  data-otservbr-global/scripts/actions/quests/ferumbras_ascendant/habitat_roshamuul.lua
  data-otservbr-global/scripts/actions/quests/ferumbras_ascendant/habitat_venom.lua
  data/libs/functions/functions.lua
Labels: Area: Datapack Global, Area: Datapack Core

#1080 fix: crash related to getName methods with deleted creature
  src/lua/functions/creatures/creature_functions.cpp
  src/lua/functions/creatures/monster/monster_functions.cpp
  src/lua/functions/creatures/monster/monster_functions.hpp
  src/lua/functions/creatures/player/player_functions.cpp
  src/lua/functions/creatures/player/player_functions.hpp
Labels: Area: Source

#1075 fix: crash caused by wrapping hangable items on invalid tiles
  src/map/house/house.cpp
  src/map/house/house.h
Labels: Area: Source

#942 improve: better player group flags management
  data-canary/scripts/talkactions/god/flags.lua
  data-canary/scripts/talkactions/god/reload.lua
  data-otservbr-global/scripts/talkactions/god/flags.lua
  data-otservbr-global/scripts/talkactions/god/reload.lua
  data/global.lua
  data/libs/functions/string.lua
  data/scripts/talkactions.lua
  src/creatures/players/player.h
  src/lua/functions/creatures/player/player_functions.cpp
  src/lua/functions/creatures/player/player_functions.hpp
Labels: Area: Source, Area: Datapack Global, Area: Datapack Canary, Area: Datapack Core

#1062 fix: emote spells
  data-otservbr-global/lib/core/storages.lua
  src/game/game.cpp
  src/utils/const.hpp
Labels: Area: Source, Area: Datapack Global

#1084 fix: crash when teleporting summon to master
  src/creatures/creature.cpp
Labels: Area: Source

#660 feat: items, outfits and mounts of version 13.x
  data-canary/scripts/movements/unscripted_movements.lua
  data-otservbr-global/scripts/movements/equipment/unscripted_equipments.lua
  data/XML/mounts.xml
  data/XML/outfits.xml
  data/items/items.xml
Labels: Area: Datapack Global, Area: Datapack Canary, Area: Datapack Core, Area: Datapack

#1093 improve: lady tenebris ultimate spell
  data-otservbr-global/scripts/spells/monster/tenebris_ultimate.lua
Labels: Area: Datapack Global

#1100 fix: lever tiles
  data/libs/functions/lever.lua
Labels: Area: Datapack Core

#1105 fix: otclient login
  src/server/network/protocol/protocolgame.cpp
Labels: Area: Source

#1107 improve: refactor of boosted creature function to avoid infinity loop
  src/game/game.cpp
  src/game/game.h
Labels: Area: Source

#542 feat: fear condition
  src/creatures/combat/combat.cpp
  src/creatures/combat/combat.h
  src/creatures/combat/condition.cpp
  src/creatures/combat/condition.h
  src/creatures/combat/spells.cpp
  src/creatures/creature.cpp
  src/creatures/creature.h
  src/creatures/creatures_definitions.hpp
  src/creatures/monsters/monsters.cpp
  src/creatures/players/player.cpp
  src/creatures/players/player.h
  src/game/game.cpp
  src/game/game.h
  src/lua/functions/core/game/config_functions.cpp
  src/lua/functions/core/game/lua_enums.cpp
  src/map/map.cpp
Labels: Area: Source

#1098 fix: faceless bane kick time
  data-otservbr-global/scripts/actions/quests/the_dream_courts/lever.lua
Labels: Area: Datapack Global

#1106 fix: prevent crash on addThing/internalAddThing
  src/creatures/players/player.cpp
  src/game/movement/teleport.cpp
  src/items/containers/container.cpp
  src/items/containers/mailbox/mailbox.cpp
  src/items/tile.cpp
  src/items/trashholder.cpp
  src/map/house/housetile.cpp
Labels: Area: Source

#1104 fix: dreamer's challenge quest
  data-otservbr-global/npc/the_bone_master.lua
  data-otservbr-global/npc/the_dream_master.lua
  data-otservbr-global/scripts/actions/quests/dreamer_challenge/tic_tac.lua
  data-otservbr-global/scripts/actions/quests/dreamer_challenge/tic_tac_teleport.lua
  data-otservbr-global/scripts/actions/quests/dreamer_challenge/walls.lua
  data-otservbr-global/scripts/movements/quests/dreamer_challenge/death_ring.lua
  data-otservbr-global/scripts/movements/quests/dreamer_challenge/riddle_teleport.lua
  data-otservbr-global/scripts/movements/quests/dreamer_challenge/stone_teleport.lua
Labels: Area: Datapack Global

#1095 fix: possible crash related to unsafe "getTile"
  src/creatures/combat/combat.cpp
  src/creatures/creature.cpp
  src/creatures/creature.h
  src/creatures/players/player.cpp
  src/creatures/players/player.h
  src/game/game.cpp
  src/server/network/protocol/protocolgame.cpp
Labels: Area: Source

#1091 feat: hazard system
  config.lua.dist
  data-canary/scripts/lib/register_monster_type.lua
  data-otservbr-global/scripts/creaturescripts/others/login_events.lua
  data-otservbr-global/scripts/hazard/hazard_system.lua
  data-otservbr-global/scripts/lib/register_monster_type.lua
  data/events/scripts/monster.lua
  src/config/config_definitions.hpp
  src/config/configmanager.cpp
  src/creatures/monsters/monster.cpp
  src/creatures/monsters/monster.h
  src/creatures/monsters/monsters.h
  src/creatures/players/player.cpp
  src/creatures/players/player.h
  src/game/game.cpp
  src/game/game.h
  src/items/functions/item/item_parse.hpp
  src/lua/functions/core/game/config_functions.cpp
  src/lua/functions/core/game/lua_enums.cpp
  src/lua/functions/creatures/monster/monster_functions.cpp
  src/lua/functions/creatures/monster/monster_functions.hpp
  src/lua/functions/creatures/monster/monster_type_functions.cpp
  src/lua/functions/creatures/monster/monster_type_functions.hpp
  src/lua/functions/creatures/player/player_functions.cpp
  src/lua/functions/creatures/player/player_functions.hpp
  src/server/network/protocol/protocolgame.cpp
  src/server/network/protocol/protocolgame.h
  src/utils/const.hpp
  src/utils/utils_definitions.hpp
Labels: Area: Source, Area: Datapack Global, Area: Datapack Canary, Area: Datapack Core

#1085 feat: update gamestore offers
  data-otservbr-global/scripts/actions/other/transform_to.lua
  data/items/items.xml
  data/modules/scripts/gamestore/gamestore.lua
  data/modules/scripts/gamestore/init.lua
Labels: Area: Datapack Global, Area: Datapack Core

#1096 feat: transfer coins system
  data-otservbr-global/migrations/28.lua
  data-otservbr-global/migrations/29.lua
  data/modules/scripts/gamestore/init.lua
  schema.sql
  src/creatures/players/account/account.cpp
  src/creatures/players/account/account.hpp
  src/creatures/players/player.cpp
  src/creatures/players/player.h
  src/io/iologindata.cpp
  src/lua/functions/creatures/player/player_functions.cpp
  src/lua/functions/creatures/player/player_functions.hpp
  src/server/network/protocol/protocolgame.cpp
Labels: Area: Source, Area: Datapack Global, Area: Datapack Core

#1108 fix: improve player already login check (fix reconnect crash)
  src/creatures/players/player.cpp
  src/game/game.cpp
  src/game/game.h
  src/io/iologindata.cpp
  src/server/network/protocol/protocolgame.cpp
Labels: Area: Source

#1086 fix: hotkey equip quiver/shielding
  data/items/items.xml
  src/creatures/players/player.cpp
Labels: Area: Source, Area: Datapack Core

#1111 fix: hazard check nullpointer
  src/creatures/players/player.cpp
Labels: Area: Source

#1115 fix: gamestore init and others improvements
  data/modules/scripts/gamestore/gamestore.lua
  data/modules/scripts/gamestore/init.lua
Labels: Area: Datapack Core

#1113 feat: added lua get vocation string function to itemtype
  src/lua/functions/items/item_type_functions.cpp
  src/lua/functions/items/item_type_functions.hpp
Labels: Area: Source

#1065 feat: reward chest collect system
  data-canary/scripts/reward_chest/reward_chest.lua
  src/creatures/players/player.cpp
  src/creatures/players/player.h
  src/game/game.cpp
  src/game/game.h
  src/server/network/protocol/protocolgame.cpp
  src/server/network/protocol/protocolgame.h
Labels: Area: Source, Area: Datapack Canary

#1089 fix: deeper fibula quest teleport
  data-otservbr-global/startup/tables/teleport.lua
Labels: Area: Datapack Global

#966 feat: adding new bosses
  data-canary/monster/demons/demon.lua
  data-canary/monster/demons/destroyer.lua
  data-canary/monster/demons/fury.lua
  data-canary/monster/demons/hellhound.lua
  data-canary/monster/demons/hellspawn.lua
  data-canary/monster/demons/juggernaut.lua
  data-canary/monster/dragons/dragon.lua
  data-canary/monster/dragons/dragon_lord.lua
  data-canary/monster/dragons/hydra.lua
  data-canary/monster/dragons/ice_dragon.lua
  data-canary/monster/dragons/wyrm.lua
  data-canary/monster/giants/behemoth.lua
  data-canary/monster/giants/cyclops_drone.lua
  data-canary/monster/giants/cyclops_smith.lua
  data-canary/monster/humanoids/frost_troll.lua
  data-canary/monster/humanoids/goblin.lua
  data-canary/monster/humanoids/island_troll.lua
  data-canary/monster/humanoids/troll.lua
  data-canary/monster/humans/amazon.lua
  data-canary/monster/humans/assassin.lua
  data-canary/monster/humans/bandit.lua
  data-canary/monster/humans/hunter.lua
  data-canary/monster/humans/monk.lua
  data-canary/monster/humans/valkyrie.lua
  data-canary/monster/magicals/frazzlemaw.lua
  data-canary/monster/magicals/guzzlemaw.lua
  data-canary/monster/mammals/bat.lua
  data-canary/monster/mammals/cave_rat.lua
  data-canary/monster/mammals/winter_wolf.lua
  data-canary/monster/mammals/wolf.lua
  data-canary/monster/reptiles/crocodile.lua
  data-canary/monster/reptiles/snake.lua
  data-canary/monster/reptiles/tortoise.lua
  data-canary/monster/slimes/defiler.lua
  data-canary/monster/slimes/slime.lua
  data-canary/monster/undeads/ghoul.lua
  data-canary/monster/undeads/mummy.lua
  data-canary/monster/undeads/skeleton.lua
  data-canary/monster/vermins/poison_spider.lua
  data-canary/monster/vermins/sandcrawler.lua
  data-canary/monster/vermins/spider.lua
  data-canary/monster/vermins/wasp.lua
  data-otservbr-global/monster/quests/a_pirates_tail_quest/ratmiral_blackwhiskers.lua
  data-otservbr-global/monster/quests/a_pirates_tail_quest/tentuglys_head.lua
  data-otservbr-global/monster/quests/adventures_of_galthen/megasylvan_yselda.lua
  data-otservbr-global/monster/quests/ancient_feud/katex_blood_tongue.lua
  data-otservbr-global/monster/quests/ancient_feud/srezz_yellow_eyes.lua
  data-otservbr-global/monster/quests/ancient_feud/utua_stone_sting.lua
  data-otservbr-global/monster/quests/ancient_feud/yirkas_blue_scales.lua
  data-otservbr-global/monster/quests/feaster_of_souls/the_dread_maiden.lua
  data-otservbr-global/scripts/spells/monster/dread_maiden_rcircle.lua
  data-otservbr-global/scripts/spells/monster/katex_blood_deathT.lua
  data-otservbr-global/scripts/spells/monster/megasylvan_yselda_ebeam.lua
  data-otservbr-global/scripts/spells/monster/megasylvan_yselda_mleech.lua
  data-otservbr-global/scripts/spells/monster/srezz_lleechT.lua
  data-otservbr-global/scripts/spells/monster/tentuglys_head_energyT.lua
Labels: Area: Datapack Global, Area: Datapack Canary

#655 fix: distance weapon elemental damage
  src/creatures/combat/combat.cpp
  src/creatures/combat/combat.h
Labels: Area: Source

#1118 fix: missing create combat area
  data-otservbr-global/scripts/spells/monster/dread_maiden_rcircle.lua
  data-otservbr-global/scripts/spells/monster/katex_blood_deathT.lua
  data-otservbr-global/scripts/spells/monster/megasylvan_yselda_ebeam.lua
  data-otservbr-global/scripts/spells/monster/megasylvan_yselda_mleech.lua
  data-otservbr-global/scripts/spells/monster/srezz_lleechT.lua
  data-otservbr-global/scripts/spells/monster/tentuglys_head_energyT.lua
Labels: Area: Datapack Global

#1119 fix: faceless bane immunity
  data-otservbr-global/monster/quests/the_dream_courts/bosses/faceless_bane.lua
Labels: Area: Datapack Global

#1120 fix: check target exist on exercise training script
  data-otservbr-global/scripts/actions/other/exercise_training.lua
Labels: Area: Datapack Global

#1121 fix: add check for nullptr player in "addBless" function
  src/server/network/protocol/protocolgame.cpp
Labels: Area: Source

#1117 fix: clone exit and not removing the player on the death screen
  src/creatures/players/player.cpp
  src/creatures/players/player.h
  src/game/game.cpp
  src/game/game.h
  src/server/network/protocol/protocol.h
  src/server/network/protocol/protocolgame.cpp
  src/server/network/protocol/protocolgame.h
Labels: Area: Source

#1129 fix: lever return (fixes summon loop bug)
  data/libs/functions/lever.lua
Labels: Area: Datapack Core

#1128 fix: zamulosh summons
  data-otservbr-global/monster/quests/ferumbras_ascendant/bosses/zamulosh2.lua
  data-otservbr-global/monster/quests/ferumbras_ascendant/bosses/zamulosh3.lua
Labels: Area: Datapack Global

#1132 fix: familiar scripts indentation
  data-canary/monster/familiars/druid_familiar.lua
  data-canary/monster/familiars/knight_familiar.lua
  data-canary/monster/familiars/paladin_familiar.lua
  data-canary/monster/familiars/sorcerer_familiar.lua
  data-canary/scripts/creaturescripts/familiar/on_advance.lua
  data-canary/scripts/creaturescripts/familiar/on_login.lua
  data-canary/scripts/spells/familiar/sorcerer_familiar.lua
  data-otservbr-global/monster/familiars/druid_familiar.lua
  data-otservbr-global/monster/familiars/knight_familiar.lua
  data-otservbr-global/monster/familiars/paladin_familiar.lua
  data-otservbr-global/monster/familiars/sorcerer_familiar.lua
  data-otservbr-global/scripts/creaturescripts/familiar/on_advance.lua
  data-otservbr-global/scripts/creaturescripts/familiar/on_login.lua
  data-otservbr-global/scripts/creaturescripts/others/familiars.lua
  data-otservbr-global/scripts/creaturescripts/others/login_events.lua
  data-otservbr-global/scripts/spells/familiar/sorcerer_familiar.lua
  data/libs/familiar.lua
Labels: Area: Datapack Global, Area: Datapack Canary, Area: Datapack Core

#1133 fix: storages usage and typos
  data-canary/scripts/actions/other/exercise_training.lua
  data-otservbr-global/lib/core/quests.lua
  data-otservbr-global/lib/core/storages.lua
  data-otservbr-global/npc/alexander.lua
  data-otservbr-global/npc/asima.lua
  data-otservbr-global/npc/awarness_of_the_emperor.lua
  data-otservbr-global/npc/boozer.lua
  data-otservbr-global/npc/budrik.lua
  data-otservbr-global/npc/corym_butler.lua
  data-otservbr-global/npc/corym_footman.lua
  data-otservbr-global/npc/corym_servant.lua
  data-otservbr-global/npc/corym_slave.lua
  data-otservbr-global/npc/corym_worker_01.lua
  data-otservbr-global/npc/corym_worker_02.lua
  data-otservbr-global/npc/corym_worker_03.lua
  data-otservbr-global/npc/corym_worker_04.lua
  data-otservbr-global/npc/corym_worker_05.lua
  data-otservbr-global/npc/fenech.lua
  data-otservbr-global/npc/inkaef.lua
  data-otservbr-global/npc/khanna.lua
  data-otservbr-global/npc/rachel.lua
  data-otservbr-global/npc/topsy.lua
  data-otservbr-global/npc/xodet.lua
  data-otservbr-global/npc/zizzle.lua
  data-otservbr-global/scripts/actions/other/exercise_training.lua
  data-otservbr-global/scripts/actions/other/others/quest_system1.lua
  data-otservbr-global/scripts/actions/quests/tibia_tales/ultimate_booze_beer_bottle.lua
  data-otservbr-global/scripts/creaturescripts/others/login.lua
  data-otservbr-global/scripts/globalevents/others/startup.lua
  data-otservbr-global/scripts/lib/register_actions.lua
  data-otservbr-global/scripts/movements/quests/wrath_of_the_emperor/teleports_access.lua
  data-otservbr-global/scripts/quests/hidden_threats/movement-cave_spider_room.lua
  data-otservbr-global/startup/tables/door_quest.lua
  data/events/scripts/creature.lua
  data/libs/core/global_storage.lua
  data/libs/functions/player.lua
  data/npclib/npc_system/modules.lua
Labels: Area: Datapack Global, Area: Datapack Canary, Area: Datapack Core

#1134 fix: coins transaction from store and market
  data/modules/scripts/gamestore/gamestore.lua
  data/modules/scripts/gamestore/init.lua
  src/game/game.cpp
Labels: Area: Source, Area: Datapack Core

#1136 fix: update vcpkg dependencies and update to fmt 10.0.0
  .gitignore
  src/config/configmanager.cpp
  src/creatures/combat/combat.cpp
  src/creatures/interactions/chat.cpp
  src/creatures/players/player.cpp
  src/game/game.cpp
  src/io/ioprey.cpp
  src/items/item.h
  src/lua/creature/events.cpp
  src/lua/functions/map/position_functions.cpp
  src/server/network/protocol/protocolgame.cpp
  vcpkg.json
Labels: Area: Source
